[2016-03-28 13:32] wesleycho commented on #41
Closing as already implemented in the library, as documented [here](https://github.com/angular-ui/ui-select/wiki/ui-select)

[2016-03-28 13:32] #41 closed

[2016-03-28 13:50] antch commented on #1225
http://plnkr.co/edit/ah66gkgU5TxTKnXFw9NF?p=preview

[2016-03-28 13:51] wesleycho commented on #343
This is already doable by using the `refresh` functionality.

Going to close this as a usage issue.

[2016-03-28 13:51] #343 closed

[2016-03-28 14:05] aaronroberson commented on #1496
That's odd, I'll look into it later today once I get the chance!

[2016-03-28 14:06] user378230 commented on #1521
@aaronroberson can you look at this for the next release?

[2016-03-28 14:22] aaronroberson commented on #1521
Since our gulp task updates bower I will go ahead and bump the bower version up and keep them in sync from here on out. Is that ok with you as well @deeg?

[2016-03-28 14:44] karptonite commented on #1214
I updated the plunker with the latest release, here:
http://plnkr.co/edit/VWvSsKqz4NvRJs1ZHfBK?p=preview

It seems to show the same problem behavior as the previous plunker, however, I didn't look at it to carefully.

[2016-03-28 14:45] user378230 commented on #1459
For reference:

https://github.com/select2/select2/issues/198 & https://github.com/select2/select2/commit/3fc1bc6f3547bd8fee1e9cb2597bc556f1934e47

https://github.com/select2/select2/issues/2311#issuecomment-45228605

[2016-03-28 14:58] deeg commented on #1521
@aaronroberson, yeah that sounds good. I think you could also just remove the version property if you didn't want to keep it up to date. I don't think it matters either way.

[2016-03-28 15:19] whitews commented on #622
Ok, updated the Plunker example to 0.16:

http://plnkr.co/edit/peUwP3m9acqZX97ANEbx?p=preview

[2016-03-28 15:28] glorko commented on #218
For me this problem started when I have included ngAnimate into my module

[2016-03-28 15:29] fcaballero commented on #375
@wesleycho there are already some PR that can solve this issue; [PR1114](https://github.com/angular-ui/ui-select/pull/1114) and [PR1109](https://github.com/angular-ui/ui-select/pull/1109). I had the same idea and I think is the most cleanest way as the searchInput already has the keyboard navigation handler.
@cbryer and @cdjackson may you let us know whether those PR are ready to merge?

[2016-03-28 16:50] bgrohman commented on #1368
@wesleycho Here you are: http://plnkr.co/edit/A9CycQdGM0UBaP8Brd1F?p=preview

Notice that the ngModel is set initially. When you open the dropdown, though, an incorrect option is shown as the selected one.

[2016-03-28 18:41] user378230 commented on #1368
@bgrohman your plunkr is still on v0.11.2

In v0.16.1 it works fine: http://plnkr.co/edit/OsXvuNnG8SauWXBMGMwn?p=preview

Can you confirm and close the issue?

[2016-03-28 18:52] rokkuci commented on #1290
I found why this happens. when every row height is not equal. For example
some text breaks in some option, then first auto scroll to selected item
not works. When i make text-overflow hack not to break text to another
line, it works ok.

On Monday, 28 March 2016, Wesley Cho <notifications@github.com> wrote:

--
Pagarbiai Rokas Kučiauskas

[2016-03-28 20:31] bgrohman commented on #1368
@user378230 Yes, it's working correctly in your plunkr with the newer version. Thanks!

[2016-03-28 20:35] #1368 closed

[2016-03-28 22:19] user378230 commented on #375
#1114 looks better, @fcaballero if you feel strongly you could fork cbryer's repo, rebase, resolve any conflicts, squash and create a new PR?

[2016-03-28 23:43] bboyle commented on #1261
@jgentes I've looked at the behaviour you describe above. It looks like `close-on-select="false"` overrides the default `reset-search-input="true"`

I'm not sure if that should be fixed in the same patch or separately. @wesleycho thoughts?

[2016-03-28 23:54] user378230 commented on #1261
With this patch is it still possible to tab to another control on the page?

[2016-03-29 00:11] bboyle commented on #1261
@user378230 yes, if you close the list of options first (use 'Esc' on the keyboard). Don't want this to be a keyboard trap so if you find any bugs or have better suggestions please share.

[2016-03-29 01:09] user378230 commented on #1261
I'm still concerned about whether this should be default behaviour or not.

If you were using ui-select only for creating new tags then this would make sense when you want to create a bunch of tags quickly. But if you're selecting from a list then I feel like the user would be pressing tab to select and move on. I guess I'll see what the other devs think.

[2016-03-29 02:19] viros commented on #1515
Global state can be set/get by $animate.animated method. Not sure why do you need to check for animation at all?
By the way ui-select-choices-content use directive ngShow. It has only addClass/removeClass events. You subscribe for 'enter' event that comes from children. Looks really as a hack.

[2016-03-29 05:56] szsolt commented on #753
Removed changes to dist and done a rebase to the current upstream master

[2016-03-29 06:36] wesleycho opened #1537 "Important issues"
So having triaged all of the issues, I have found a couple of recurring issues that appear to be in dire need of fixing.

- [ ] ng-repeat error (#224)
- [ ] Performance
- [ ] Form validation (setting required, setting name of input, etc.)

Lesser, but important issues

- [ ] Mobile UX
- [ ] Focus/blur event management (related to mobile UX, accessibility)
- [ ] Exposing various event handling for

[2016-03-29 11:47] user378230 commented on #753
Closing as Resolved, by #1503 (merged).

[2016-03-29 11:47] #753 closed

[2016-03-29 11:57] #577 closed

[2016-03-29 12:19] #540 closed

[2016-03-29 13:06] #1107 closed

[2016-03-29 13:56] davisford commented on #495
No idea, that was two years ago..which is like two lifetimes in software years.  It's safe to say I found a workaround.

[2016-03-29 13:56] #495 closed

[2016-03-29 14:50] jgentes commented on #1261
@user378230 once you tab-to-select, the focus should return to the input box, then if you push tab again, it would move on to the next control. Simply try it in a github text field by typing '@' and selecting someone's name. That's how ui-select should behave.

[2016-03-29 17:09] fcaballero commented on #375
@user378230 ok for me, I will take care of it ;)

[2016-03-29 22:35] #1522 closed

[2016-03-30 04:16] wesleycho opened #1539 "is-open two-way binding"
One nice feature would be if there was support for a two-way bound variable that lets people toggle when the directive is open or not. This would allow flexible support for users being able to choose exactly when they want the select element open according to their business use cases.

[2016-03-30 04:36] Vnthf commented on #1496
I have a same problem

[2016-03-30 07:06] ideadapt commented on #1259
Hi @wesleycho
What does this mean, is it working now?

[2016-03-30 09:04] AndrewEastwood commented on #1259
Interesting comment from @wesleycho.

[2016-03-30 10:19] silentHoo commented on #366
+1

[2016-03-30 12:29] wesleycho commented on #1259
This is not a terribly useful issue without more details for a maintainer to look into without reproductions (preferably via Plunker) - feel free to open up an issue with those details.

I spent a lot of time this past weekend triaging issues in this repository since it needs a lot of love, but without minimum details, issues can be very costly to maintainers' mental overload to getting things fix

[2016-03-30 13:02] AndrewEastwood commented on #1259
Minimum details is that you take an iphone and open a page where the ui-select is displayed and try to click on it and key some data. I'm sure you will see the issue with iOS native keyboard.
Using the Plunker cannot bring you that issue. You need to use native device.

[2016-03-30 13:07] wesleycho commented on #1259
A Plunker would allow being able to see what happens. A device, or emulator such as the iOS Simulator can be used with it to debug any issues.

[2016-03-30 13:09] user378230 commented on #366
@silentHoo this original issue is over two years old and the last update ~12 months. You're +1 here is not very helpful...

Could you instead:

1. Verify against the latest version of the library
2. Include details of your angular version
3. Post a reproduction plunkr

That'd be way more helpful to anyone trying to fix :smiley:

Thank you! :+1:

[2016-03-30 13:44] AndrewEastwood commented on #1259
Plunker cannot emulate 100% device's functionality.

[2016-03-30 13:47] wesleycho commented on #1259
Locking as unproductive conversation - Plunker **along with** iOS Simulator can improve the ability to debug something like this drastically.

[2016-03-30 14:16] user378230 commented on #1524
I've added a new wiki page:

Which might be useful for some, probably still needs a little work but it might help reduce some of the minor feature requests we get.

[2016-03-30 21:20] fcaballero commented on #375
@user378230 or @wesleycho may you please merge these changes in #1543 and remove the oldest PRs?

[2016-03-30 22:31] svaidhyanath commented on #1363
I know this issue is closed but just in case if someone came here looking for a solution (like me).. I could not find any help until I decided to dig a little deeper.

we can achieve the desired effect (background color change on focus for the ui-select bootstrap) with the css rule..

`.ui-select-bootstrap .btn-default-focus > span{
    /*background: (your desired color here)*/
}`

Hope this helps

[2016-03-31 03:58] rohitrpaswan commented on #789
![image](https://cloud.githubusercontent.com/assets/4832153/14165093/df6f1d56-f722-11e5-8674-8a08aa2e77a0.png)

[2016-03-31 07:11] pangeax commented on #169
+1

[2016-03-31 07:35] Kepro opened #1544 "on blur select"
it is possible to select value on blur? now users need to
1. Enter the name in the box
2. Click on the the keyword in the drop-down list to confirm or press enter

But actually users tend to forget the second step above and after entering a desired name, they will click on other space to do following jobs. But if then, the name users just entered will be removed and jump back to the default value.

[2016-03-31 09:24] davekr commented on #890
I solved this with older version of ui-select. I am using version 0.11.0. With angular >1.3.2 it works as it's suppoused to and with angular <=1.3.2 you have to set tagging-label to "(new)" explicitly otherwise "undefined" will be shown.

[2016-03-31 11:20] TimGeerts commented on #428
@rahatarmanahmed That directive works perfect, ... but not in IE (at least tested in 11 and Edge).
After you've selected an item, the dropdown just opens itself again (probably cause IE sets the focus again after select).
Using the skip-focusser option of ui-select doesn't change this behaviour sadly.

[2016-03-31 12:22] sandro1111 commented on #1174
+1

[2016-03-31 15:50] edieval opened #1545 "Memory Leak when removing ui-select nodes"
Angular: 1.4.9
UI-Select: 0.16.1
Bootstrap : 3.3.5

When i remove a ui-select element from DOM, it seems to be a memory leak (see with chrome timeline after some Garbage Collect during test).

 [Plunker](http://plnkr.co/edit/vObW6cAzRuRbgEnA8ph7?p=preview)

![capture d ecran de 2016-03-31 17-48-49](https://cloud.githubusercontent.com/assets/15011703/14181808/ea07f4cc-f768-11e5-927e-c1c0edf1ab48.pn

[2016-03-31 17:03] dallincoons commented on #830
+1

[2016-03-31 17:13] user378230 commented on #1544
You could try something like this:

[code]
http://plnkr.co/edit/Hydhel0iqB0gc5VgeMS8?p=preview (first input)

Its a 5 minute attempt but you could probably tidy up and check for edge cases etc. as necessary. If you do improve on it, be sure to update us here - someone else might find it useful.

[2016-03-31 18:02] wesleycho commented on #1545
This is relevant: https://github.com/angular-ui/ui-select/pull/1538 - I think this is fixed now in `master`, can you try current `master` by building it manually and seeing if it fixes your problem?

[2016-03-31 18:26] user378230 opened #1546 "Normalise line endings"
Similar to https://github.com/angular-ui/bootstrap/issues/423 I think we need to normalise the line endings in the repo as they are beginning to become mixed up.

I assume it's still done the same way as above (with [.gitattributes](https://github.com/angular-ui/bootstrap/blob/master/.gitattributes))

[2016-04-01 00:14] #1546 closed

[2016-04-01 03:29] KelseySheely opened #1548 "Items in list are not set to active when hovering"
### Bug description:
Items in list are not set to active when hovering. It seems that the setActiveItem method is not being defined.  It is being set on ng-mouseenter on lines 227 and 235, but the method seems to have been removed.

### Link to minimally-working plunker that reproduces the issue:
http://plnkr.co/edit/fU663cxG6KB5G9kcIJpJ

### Version of Angular, UI-Select, and Bootstrap/Select2/Se

[2016-04-01 07:36] mikkoahonen-codento commented on #224
Got this with ui select 0.14.8 and angular 1.5.0 with thousands of options, when changed from asynchronous refresh to using a list and filter.

After using the temporary workaround suggested in the other tickets, adding attribute "tagging" to ui-select element, no longer saw this problem.

[2016-04-01 08:43] edieval commented on #1545
I've update my [plunker](http://plnkr.co/edit/vObW6cAzRuRbgEnA8ph7?p=preview) with current master and it's solved on JS Heap but not on Nodes.

![capture2](https://cloud.githubusercontent.com/assets/15011703/14202107/7a538d1a-f7f6-11e5-9ac3-d6437f6571e1.jpg)

[2016-04-01 09:22] edieval commented on #1545
Ok, i did a mistake in my clean function.
Now the memory leak is solved with the current master build !
![capture3](https://cloud.githubusercontent.com/assets/15011703/14203046/e83ae670-f7fb-11e5-9a00-0f611f02c49b.jpg)

Thanks wesleycho

[2016-04-01 09:22] #1545 closed

[2016-04-01 11:50] xMisax opened #1549 "Outdated Meteor package"
Please update from 0.12  to 0.16.1 in meteor package...;/

Please...

[2016-04-01 13:00] user378230 commented on #1548
These have actually been removed since (#1523 - you can follow the history/context back through there)

Closing.

[2016-04-01 13:00] #1548 closed

[2016-04-01 13:10] user378230 commented on #224
@mikkoahonen-codento can you reproduce this in a plunkr since you've identified a possible source of the problem?

[2016-04-02 01:55] wesleycho commented on #1549
I'm not sure who maintains the Meteor package.

I can't say I support publishing to any other package manager other than npm and maybe non-intrusive ones that don't involve constant updating like bower (although bower is on its way out long term also) though.

[2016-04-02 17:05] mattanbi commented on #1436
The code below did the trick for me too, angular 1.4.9 ; latest ui-select.

myApp.directive('uiSelectFocusFix', ['$animate', function($animate) {
      return {
                link:function (scope, element, attrs) {
                    $animate.enabled(element, false);
                }
            };

}])

[2016-04-02 17:34] glowysourworm commented on #1502
+1 also seeing really poor jQuery related performance during mouse interaction. don't have time to refactor this code.. switching to select2 4.0.2 and creating my own angular wrapper

[2016-04-03 15:38] tscholz commented on #830
+1

[2016-04-03 16:46] wesleycho commented on #830
Please do not add +1s, they make it much more difficult to digest issues and get them solved due to noise. Instead, use GitHub reactions.

[2016-04-04 07:44] spooky commented on #1201
@nicooga, have you added a `ng-animate-disabled` class to the element as well?

[2016-04-04 08:22] AnatoliyLitinskiy commented on #1094
Thank you, @user378230

[2016-04-04 11:28] user378230 commented on #1201
This appears to be resolved in v0.16.0 http://plnkr.co/edit/S0guRiTa5vCGT3gGenbu?p=preview

Closing. Please create a new issue with a relevant plunkr against the latest version of library if there are any further problems.

[2016-04-04 11:28] #1201 closed

[2016-04-04 14:25] sgpalit commented on #88
Anybody that will solve this problem?

[2016-04-04 16:53] yanivlllev opened #1552 "new options not working"
I'm having difficulties in implementing the new options for ui-select (ui select no choice / ui select header and footer) - i don't see any changes in the behavior and in the view... except weird lines (attaching a screenshot)

![screen](https://cloud.githubusercontent.com/assets/12447235/14255844/ced94c9e-fa9e-11e5-903c-19003a1b11f4.jpg)

i also tried to use your existing plunker here with the up

[2016-04-04 18:57] user378230 commented on #1552
Neither feature is available in v0.16.1 please see CHANGELOG.md for latest changes.

ui-select-no-choice: #1011 merged into master not yet released
ui-select-header/footer: #1323 not yet accepted/merged

[2016-04-04 18:57] #1552 closed

[2016-04-04 20:10] #112 closed

[2016-04-04 22:34] takotuesday opened #1556 "Input box for ui-select multiple forcing text entry at new line, even if values do not take up entire first line"
### Bug description:
Hi I am using ui-select multiple. For some reason in this case, the input box, while being wide enough to fit multiple values, forces a new line after the first selected value. This results in an odd ui to where the user can only add text input when clicking on the beginning of the new line of the input box (below the first selected value), even if there is ample whitespace af

[2016-04-04 22:45] user378230 commented on #1556
You'll need to provide a reproduction (plnkr or similar) against the latest version of the library (currently v0.16.1) in order for anyone to assist.

[2016-04-05 10:40] cmddavid commented on #411
+1

Would be a useful feature. I'm also thinking about adding this to one of my apps.

[2016-04-05 11:01] user378230 commented on #411
For reference: Someone attempted to do this in #1527, its not in a fit state to be considered for merge but you may find the work useful.

[2016-04-05 11:03] #1556 closed

[2016-04-05 11:04] user378230 commented on #1491
Assuming answered, closing.

[2016-04-05 11:04] #1491 closed

[2016-04-05 11:05] user378230 commented on #1513
Assuming answered by dupe. Closing due to lack of activity.

[2016-04-05 11:05] #1513 closed

[2016-04-05 11:27] igorlino commented on #88
Sad to say, but after applying all hacks that I could, including the scrolling filter trick, it was simply not sufficient. So some radical change had to be done...

What did work, and is quite quite performant was to simply switch to another component https://github.com/machineboy2045/angular-selectize

The disadvantage is that is a wrapper to a jquery based component, and does not offer all the t

[2016-04-05 11:58] user378230 commented on #88
@igorlino your update appears to be related to angular-selectize library not ui-select. It doesn't appear to help resolve any problems with performance or add meaningful information to what has already been drescribed.

***
**_Can I ask that future posters contribute meaningful updates to the issue._**

Useful updates:
- Demo plunkrs would be helpful to profile against
- Profiling results which sh

[2016-04-05 12:07] user378230 commented on #88
Currently `ctrl.items` is searched everytime isActive is called which may be expensive if `ctrl.items.length>1000`.
[code]
It might be possible to improve isActive() by storing an `activeItem` rather than comparing on index every time.

Which would reduce isActive() to:
[code]

[2016-04-05 14:08] ScottSpittle commented on #1537
I also have very bad performance on 0.16.1, when you type it extremely laggy. Let me know if you need any more information

[2016-04-05 14:52] user378230 commented on #1537
@ScottSpittle please use a dedicated issue when reporting problems. This is for those wishing to help with the project to prioritise work that needs to be done.

Note: There are many existing issues open for performance, it is unlikely you will need to create a new one.

Please also see my comment here: https://github.com/angular-ui/ui-select/issues/88#issuecomment-205769784

[2016-04-05 15:05] sqwk commented on #1409
Using `v0.16.` and `v1.5.3` I do not get any error messages but new elements are not added to the array; they are simply ignored and  the input is reset to the value before.

[2016-04-05 15:40] user378230 commented on #1409
As a workaround you can use `multiple` select mode with `limit="1"` https://github.com/angular-ui/ui-select/pull/1110

[2016-04-06 06:25] igler commented on #863
+1

[2016-04-06 12:06] user378230 commented on #863
Please do not +1 it creates unnecessary noise in issues, use github reactions.

***
This looks like a small change, it could probably be fixed in a quick PR with associated unit test. Instead of +1'ing consider submitting a PR! :smiley:

[2016-04-06 12:43] danmo commented on #926
Until it's supported by ui-select I had to create an angular directive that patches this: https://gist.github.com/danmo/020cc4ad33b87929b021e5c193a3e25c

[2016-04-06 15:22] jziggas commented on #224
Just in case this saves someone else hours of confusion: We upgraded our `angular-ui-select` bower package and I ran into this same problem. After hours of confusion I realized the problem was that the Chrome browser cache was still using the old version of ui-select. Clicking `Disable cache` in the dev tools and refreshing the browser fixed the problem.

[2016-04-06 18:58] Ankurkh1 commented on #1490
+1

[2016-04-06 19:52] #1000 closed

[2016-04-06 20:10] #453 closed

[2016-04-07 03:45] travist commented on #428
It looks like the code still may have a race condition possible where it gets in a bad state. If for any reason, the 'focus' event is handled before the 'uis:close' event, then this directive will not work. I made some modifications to the code that uses the 'uis:activate' event to also disable the autoopen. I also took some liberties with variable names since ```closing``` is no longer applicable

[2016-04-07 06:01] darioml commented on #1409
Have to say that's not a workaround, rather a different feature set. "multiple" changes the UI elements & UX.

I implemented this by using a custom filter. My list of options has an element with ID: new. The value / text for it is changed by my filter.

[code]

Not the best code, but worked.

[2016-04-07 07:24] dtagdev1 commented on #1156
@jziggas awesome

[2016-04-07 07:57] TabrisK commented on #852
perfect ! its really help me !!!

[2016-04-07 08:02] sergonius commented on #1501
That still doesn't make sense IMO. Could it then at least behave like a native select?
On OSX you can't scroll at all when a select is active.
In Windows it either lets you scroll and won't jump back up on blur or in IE doesn't let you scroll.
The jump is  bad for usability in any case.

[2016-04-08 07:49] MattiJarvinen-BA commented on #580
@wesleycho seems to be odd that it should be solved on the user's side instead of UI-select, especially this isn't documented.

[2016-04-08 08:53] lydemeister opened #1559 "Bootstrap theme is not working with multiple selections"
### Bug description:

When using multiple the bootstrap design is off. Watch the plunker to see how it should look and see how it actually looks when using multiple selections

### Link to minimally-working plunker that reproduces the issue:

http://plnkr.co/edit/dmHphdL9UK8sBjc2cCwS?p=preview

### Version of Angular, UI-Select, and Bootstrap/Select2/Selectize CSS

    "angular": "~1.4.0",
    "js

[2016-04-08 09:05] user378230 commented on #1559
Sorry this isn't a very good description of what the actual problem is. Can you provide more detail? What is wrong? What does not work? Etc. this will make it easier to diagnose the problem.

Thanks for the extra detail and repro, just need more information about what the actual problem is.

[2016-04-08 09:13] user378230 commented on #580
@MattiJarvinen-BA This has actually been resolved in #1473 from what I can see (Ref: [src/uiSelectController.js#L242](https://github.com/angular-ui/ui-select/blob/fe0c0c12522d48d677fff8ca21d366ba37d8f90d/src/uiSelectController.js#L242))

[2016-04-08 10:23] MattiJarvinen-BA commented on #580
@user378230 oh, seems so. So nevermind then. ;)

[2016-04-08 12:41] as090419 opened #1560 "problem with input focusing/opening dropdown"
Problem occures when we click on input - it should be focused and i should be able to write something in input, but i cant - and what more - dropdown with suggestions becoming opened.

latest $animate is not working with ui-select, problem is here:

     if (ctrl.$animate && ctrl.$animate.on && ctrl.$animate.enabled(container[0])) {
//I CAN GO INHERE
        ctrl.$animate.on('enter', container[0],

[2016-04-08 13:15] user378230 commented on #1560
This looks like a duplicate of #1306 and/or #1436 - can you confirm if that is the case?

[2016-04-08 13:19] as090419 commented on #1560
No, its not. I can focus input but not on first click and dropdown shouldn't be opened without any available suggestions inside

[2016-04-08 13:22] user378230 commented on #1560
Can you create a plunkr that demonstrates this? (Helpful starting point: http://angular-ui.github.io/ui-select/#examples)

[2016-04-08 14:06] billccn opened #1561 "Add validation that the current model value matches one of the choices"
With tagging disabled, the widget is effectively enforcing a validation that the model value(s) must be among the valid choices.

However, this condition can be broken if the model had invalid values to begin with. Currently a custom directive has to be implemented to check the initial value, but the widget already has all the data to make the decision, so an option should be added to enable such

[2016-04-08 14:42] user378230 commented on #1561
Please can you update your post to match the [github issue template](https://github.com/angular-ui/ui-select/blob/fe0c0c12522d48d677fff8ca21d366ba37d8f90d/.github/ISSUE_TEMPLATE.md) provided when you create a new issue. This will allow others to better diagnose and assist with your problem.

[2016-04-08 14:57] issamm commented on #1496
Hi, the issue 1439 seems to be still present : tried with v1.6.1.

A handler function is missing ('keyup' event) inside the uiSelectSingle directive.
=> It has been included on the attached file, and it seems to work correctly.
Pull request coming soon...
[select.js.txt](https://github.com/angular-ui/ui-select/files/210357/select.js.txt)

[2016-04-08 15:01] user378230 commented on #1496
@issamm your PR might already be covered by #972

[2016-04-08 15:13] billccn commented on #1561
@user378230 I am very sorry if the following question offends you, but are you a bot?

[2016-04-08 16:05] issamm commented on #1496
This is what I was going to say, lol. Thank you.
We did almost the same modification (but his commit is cleaner ;) ).

[2016-04-08 17:59] SergeyCherman commented on #1560
Having the same issue, will report back if I can reproduce in a plunkr. In my case I have $animate.enabled(false) in my controller. If I set it to true then it works, however I need it set to false for other reasons.

[2016-04-09 13:01] lydemeister commented on #1559
Please look at my plunker and see how the left padding is off (compared to real bootstrap input). Look at a real bootstrap form-control and how the text padding is not the same when using multiple in this plugin.

[2016-04-09 19:48] SergeyCherman commented on #1436
+1 on Angular 1.5.3, uiselect 0.16.1
In my case @bogdanalexe90 fdirty fix did not work as animate was still true on "div.ui-select-choices-content.selectize-dropdown-content"
However doing:
$animate.enabled(element[0].firstChild, false);
 in my directive did work.

[2016-04-12 04:03] dbmuller commented on #224
I experienced the same as @ftorghele

`g.attr("ng-repeat", r.parserResult.repeatExpression(u)), // .attr("ng-if", "$select.open"), // Hack to fix`

Problem gone, but performance is significantly worse on larger lists (257 rows), no problem on small lists.

This happen when I upgraded to:
ui-select 0.16.0
AngularJS v1.5.3

Previously on
ui-select 0.9.6
AngularJS v1.4.8

[2016-04-12 07:18] idozorenko commented on #978
I couldn't find a reasonable solution for this bug. Also there are some major bugs with sorting, like item is not moved on drop or moved into a wrong place (IMHO implementation is very poor), so I've rewritten uiSelectSort directive completely. I can create PR if anyone is interested.

[2016-04-12 08:23] as090419 commented on #1560
I've created a new plunker that demonstates my issue (first dropdown, regular ui select):

http://plnkr.co/edit/X6eD7W2LwYG5j2yDdSme?p=preview

[2016-04-12 14:24] marcondesdddi commented on #224
Resolved

http://a10i.me/ui-select-broken-angular-1.5

[2016-04-12 15:05] user378230 commented on #1559
I see what you mean now. I suppose this was done to prevent selected items from having a big gap at the start.

Any fix would need to look acceptable with and without selected items.

[2016-04-12 15:08] user378230 commented on #978
This should have been resolved by #902, though it is not yet released.

[2016-04-12 20:41] pheen commented on #1250
Hi, I ran into this issue today as well (AngularJS v1.2.26, ui-select v0.16.0). I tried creating a plunker, but frustratingly I was not able to create one that actually replicates this issue. If anyone would like a working plunker to start from to help replicate this issue you can use http://plnkr.co/edit/22y9H7E4nqIFNk5uYl4q?p=preview

I did notice that when using `append-to-body` the scope of th

[2016-04-12 21:58] mtr commented on #533
I experience the same error both with @PowerKiKi's plunker, where the input size in Tab 2 is always 10px until it been focused.

I experience the same problem using the current (fe0c0c12522d48d677fff8ca21d366ba37d8f90d) `master` version of `ui-select`.

[2016-04-13 10:05] fs5 commented on #1039
Monky-patching for now with a sibling directive to "ui-select":
[code]
Please note the $timeout service. The fix for #1003 does not seem to work for me.

[2016-04-13 13:47] Kepro commented on #1544
thanks!

[2016-04-14 14:10] timvandijck commented on #589
This is because the input is hided with ngHide. This is not the proper solution but a dirty fix that breaks the keyboard acces to the component.

A better solution for the Select2 theme could be to use the "minimumResultsForSearch" option that Select2 provides.

[2016-04-15 13:22] lbrooks commented on #1486
Attached a simple plunker, when the value is being selected by an attribute and is set by a means other than the limited control itself (initialized or set via javascript) then it does not find the correct value unless it's in the limited list.

You can see this behaviour by selecting a value in the second dropdown that resides before/after the limit of the first dropdown (limited to 50 elements)

[2016-04-16 08:41] fiznool commented on #1328
@user378230 submitted a PR.

[2016-04-16 10:00] devmarwen commented on #1355
For my case the source of the bug was this:

[code]
The `ctrl.focusSearchInput(initSearchValue)` gets called for too many times which will call the      `_ensureHighlightVisible();` accordingly.

Removing the **ngAnimate** module fixes the problem.

[2016-04-16 12:42] #1328 closed

[2016-04-16 15:42] user378230 commented on #1561
This would have to be an optional thing, not everyone would want to remove things that weren't in the list. Maybe it can be factored into a separate directive/validator.

Note: It would also need to respect remote data sources since all the data may not be provided in the item list.

[2016-04-16 15:42] #1544 closed

[2016-04-16 15:47] user378230 commented on #1549
Agreed, unless the publish can be automated in some way, npm and bower are probably going to be enough.

Going to close, as its not actually an issue since this project doesn't appear to own the meteor package. You are welcome to submit a PR, automating the Meteor publish (if its possible to do).

[2016-04-16 15:47] #1549 closed

[2016-04-16 15:50] user378230 commented on #1524
Resolved by #1558, the project description should probably be updated with a link the gh-pages site.

[2016-04-16 15:50] #1524 closed

[2016-04-18 04:18] realavaloro commented on #403
Yes, it would be great to have some guidance on how to validate select (and for that a `name `attribute would be likely required).
However, `ui-select` does not generate an input element, it generates a `div `element and `div ` elements don't have a name attribute.
Is there any example for client-side validation on `ui-select` using some other approach?

[2016-04-18 06:50] deadmann opened #1564 "Delete Bug on Tab"
The issues forum is **NOT** for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.
### Bug description:

My friend write an app, and he has an issue. since i was on git he asked me t

[2016-04-18 11:28] armbp1972 opened #1565 "missing classes in <i> element of match.tpl.html in bootstrap theme of ui-select"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:

I have just upgraded my project to angular 1.5.4 and ui-select 0.16.0 and th

[2016-04-18 12:29] user378230 commented on #1565
Hi! As requested in the issue template can you please provide:

As far as I can see this is not an issue in the latest version. (v0.16.1 - _note: only the latest version of the library is supported/maintained_)

For example: http://angular-ui.github.io/ui-select/demo-bootstrap.html (from http://angular-ui.github.io/ui-select/#examples)

If you can provide a reproduction plunkr then we can investig

[2016-04-18 12:33] user378230 commented on #1564
Hi!

As requested in the issue template, can you please provide

You can use the existing examples here as a start: http://angular-ui.github.io/ui-select/#examples

This will help anyone who investigates this issue see if there is any problem.

Note also, only the latest version (v0.16.1) is supported.

[2016-04-18 13:10] armbp1972 commented on #1565
Sorry, I've checked out your 0.9.9 version (the previous one we were using before upgrading) and those classes (fa fa-angle-down) are not there, so it looks like if in my project some other colleague had added them to the source code in order to customize the component. I'm going to check with them and if that's the case I tell you guys.

[2016-04-18 15:34] user378230 commented on #1565
Thinking about it more, `fa` and `fa-angle-down` appear to be `fontawesome` icons, we don't have any dependency on fontawesome (since we use bootstrap glyphicons for the `caret`).

Going to close this as its a usage issue and not a bug.

[2016-04-18 15:34] #1565 closed

[2016-04-18 15:37] armbp1972 commented on #1565
Yes, definitely you are right. Sorry for the mistake.

[2016-04-18 21:00] logannc opened #1566 "Splitting on Paste only supports first token"
### Bug description:
Splitting on pasted data only supports splitting on the first token.

### Link to minimally-working plunker that reproduces the issue:
[literally any working tagging ui-select instance - see select.js ln 826]

UI-Select: 0.16.1

This isn't a bug in that the code is doing something unexpected, so much as it is unexpected that the code would be written this way. An improvement w

[2016-04-18 21:24] logannc commented on #1566
For example,

[code]

[2016-04-18 21:37] user378230 commented on #1566
Can you submit a PR for this (with relevant tests)? (Assuming you weren't going to already :smile:)

[2016-04-18 22:39] madelinecameron commented on #1322
I've noticed that ui-select does not really work on mobile. I've confirmed this issue with Chrome on Android.

I can open the select but when I try to scroll, it scrolls the page instead. I am thinking this is an issue of an event not being captured correctly?

[2016-04-19 08:11] oezkany commented on #1327
@aaronroberson Thanks. Of course I will test it and will give you a feedback.

[2016-04-19 08:37] studds commented on #1214
I'm having this same issue with single select. Both of the single select demos on the official examples page exhibit the issue:

http://angular-ui.github.io/ui-select/demo-tagging.html

(Last two examples. In the example _Tagging in Single Select mode_ you can select existing options but it's impossible to create new options. In the example _Tagging in Single select mode, with simple strings_ ther

[2016-04-19 12:23] hinok commented on #1560
Hey,
The problem occurs also for selectize theme and ngAnimate when $animateProvider is configured.

[code]

plnkr - http://plnkr.co/edit/mcFa2NyYsbULrTPsLr99?p=preview

[2016-04-19 14:27] jigarakatidus commented on #403
@realavaloro i just tried giving name attribute to `ui-select`, it works. i think we can treat `ui-select` as `input` tag.
[code]
*Note* Make sure `required` attributed is added in `ui-select`.

[2016-04-19 14:46] aaronroberson commented on #1327
By testing, you mean you'll write unit tests?

[2016-04-19 16:14] logannc commented on #1566
Is the ES6 `for (let .. of ..)` syntax allowed?

[2016-04-20 13:01] skashi commented on #499
I stumbled upon this and thought it would be helpful and although my issue wasn't exactly the same, I too didn't get any trigger on the "blur" event so hopefully this will point you in the right direction.

I needed to bind "click" and "blur" events for a reusable directive. When adding the directive to a `<select>` box the "change" event did the trick for me:

[code]

The select box HTML would lo

[2016-04-20 23:15] fmalk opened #1568 "v0.16.1 bower.json still shows version as v0.14.1"
Installing via bower right now sucessfully downloads v0.16.1, but its `bower.json` is outdated and incorrectly lists itself as v0.14.1 (but `package.json` is correct)

[2016-04-21 03:40] ashubabu opened #1569 "Failed to load template - selectize/select-multiple.tpl.html"
I am trying to use ui-select element with _selectize_ theme and multiple attribute. However, I keep getting the error in loading **selectize/select-multiple.tpl.html**. I had a look at the _select.js_ file in the _dist_ folder here - [https://github.com/angular-ui/ui-select/tree/master/dist](url) and I cannot see the template for select-multiple.tpl.html supported under  _selectize_ theme (**$temp

[2016-04-21 11:22] user378230 commented on #1569
It is not. Feel free to submit a PR to add support! :smile:

Closing as duplicate of #295

[2016-04-21 11:22] #1569 closed

[2016-04-21 11:23] user378230 commented on #1568
Hi! Please use search function before raising issues. Thanks! :smile:

Closing as duplicate of #1521.

[2016-04-21 11:23] #1568 closed

[2016-04-21 12:06] ivelfan commented on #665
Still occured in v0.16.1.

`<ui-select-choices repeat="purposeOfVisit in purposeOfVisits | filter: {name: $select.search} track by purposeOfVisit.id">` doesn't delete $$hashkey in object.

[2016-04-21 18:40] lsanczyk commented on #1355
Add the `tagging` attribute binded to a function that return `null`, like this [plunker](http://embed.plnkr.co/WyIC087njDHLmIVGTAj7/), works for me too.

HTML:
`<ui-select ... tagging="tagHandler" ... >`

JS:
[code]

[2016-04-22 15:10] ehsaanwelcome opened #1570 "multiple attribute"
is there a way to assign true/false to multple attribute just like ng-disabled?

[2016-04-22 15:11] #1570 closed

[2016-04-24 13:19] anthonygarvan opened #1574 "README should use npm install ui-select"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:
If you follow the readme, running `npm install angular-ui-select`, you get so

[2016-04-25 00:10] maxbundchen opened #1575 "Bootstrap theme breaks with resize"
When page resizes (any size) the bootstrap theme breaks (tested in Edge and Chrome).

Just open the http://angular-ui.github.io/ui-select/demo-basic.html, resize the window and open the select for search to check.

I noted that when page resizes an 'width: 10px' is added to the input element.

[2016-04-25 00:13] maxbundchen opened #1576 "Clear button jump to new line"
When the selected text is bigger than the select element the clear button jump to a new line. In the original Select2 the text get truncated with ellipsis before the clear button. Is possible duplicate this feature? It's looks like a css adjust.

[2016-04-25 10:04] cmddavid commented on #1066
+1 nice feature. I implemented your fork in my project for now, it works well.

[2016-04-25 11:49] user378230 commented on #1574
Whoops, I must have copied the bower one when I updated the README, can you submit a PR?

[2016-04-25 12:25] #1566 closed

[2016-04-25 14:34] ejbaker commented on #650
+1

[2016-04-25 14:40] user378230 commented on #650
Related #1567

[2016-04-25 15:02] ejbaker opened #1577 "Select 2 with Bootstrap demo bug"
### Bug description:
Using [the select 2 with Bootstrap link found here](http://angular-ui.github.io/ui-select/#examples), you will find that the "multiple" option does not actually _appear_ to work. Selecting options there results in skinny little buttons with no text content, and seemingly blanks out the "Selected" text at the top of the page.

The problem is that everything else on the page is

[2016-04-25 15:35] user378230 commented on #1577
This could be resolved by switching it to one of the multiple demo's data, for example:
[code]

If you wanted to submit a PR fix the relevant file is: [`demo-select2-with-bootstrap.html`](https://github.com/angular-ui/ui-select/blob/b7f2afe39e9a112eb54dad448f62af38c7bf7b74/docs/examples/demo-select2-with-bootstrap.html)

[2016-04-25 15:52] ejbaker commented on #1577
Ahhh, thanks. [Done!](https://github.com/angular-ui/ui-select/pull/1578) (Though my method for displaying the multiple select may not be the most efficient.)

[2016-04-26 06:58] txtbits commented on #533
+1 to @mtr
If you put ui-select inside not active tab, the **input.ui-select-search** with _width:10px;_ inline until it been focused.
(tested at 0.16.1)

[2016-04-26 07:38] IvanCoronado opened #1579 "can we have new release with no-choice?"
You have a cool feature in master [ui-select-no-choice](https://github.com/angular-ui/ui-select/blob/master/src/uiSelectNoChoiceDirective.js), can we have a new release with this feature?

[2016-04-26 14:44] MarcelCremer commented on #1564
Hey,

I have the same issue as the thread owner but I'm not able to reproduce it in the plunker. Here's at least the structure I have:

http://plnkr.co/edit/XdOGgsSRHznZAks7oMNf?p=preview

Multiple selects inside of an ng-repeat having "dynamically" bound models attached to it.

I've attached you some video where you can see the behaviour. It looks like it has not cleared my previous typed in "o"

[2016-04-27 05:48] glutentag opened #1580 "100% CPU when using ui-select-choices attribute form"
When using ui-select-choices in its attribute form
`<div data-ui-select-choices ...></div>` its freezes the browser with 100% CPU.

To reproduce it, just change `<ui-select-choices` to `<div data-ui-select-choices ...></div>` in any plunker demo.

Angular: 1.5.5
UI-Select: 0.16.1

[2016-04-27 09:17] gatperdut commented on #1560
having the same issue

[2016-04-27 11:53] bman61 opened #1581 "Files in dist folder versions do not match tag"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:
tag 0.16.0 dist files contain version 0.15.0
e.g. https://github.com/angular-

[2016-04-27 12:13] user378230 commented on #1580
Duplicate of #1499

This was actually resolved by #1555 I think, but the plunkr's are using an outdated select.js because they were built from a branch that was behind master (#1578) when I merge the next PR it should fix itself. The fix in #1555 isn't currently released. We'll hope to get it out soon.

If you need a working dist/select.js you can use https://github.com/angular-ui/ui-select/blob/b

[2016-04-27 12:13] #1580 closed

[2016-04-27 12:26] user378230 commented on #1576
Can you please update your post to follow the [**issue template**](https://github.com/angular-ui/ui-select/blob/master/.github/ISSUE_TEMPLATE.md) and provide the version numbers and a demo plunkr?

This will make it easier for anyone who wants to submit a PR fix.

If you know a fix, please feel free to open a PR yourself, thanks!

[2016-04-27 12:52] lexey111 opened #1583 "Calculates of dropdown position lead to scrollbar flickering"
Hi,
we're using custom scrollable container and ui-select inside. It looks like `calculateDropdownPos` leads to flickering the scrollbar if position set to 'auto' and long select is placed at the bottom of form.

I did some quick search and change function a bit: except just `dropdown[0].style.opacity = 0;` ... `dropdown[0].style.opacity = 1;` I added `dropdown[0].style.position = 'fixed';` ... `d

[2016-04-27 12:57] #1574 closed

[2016-04-27 15:43] #974 closed

[2016-04-27 19:21] crazytanvi commented on #499
+1

[2016-04-27 19:26] joel1618 commented on #499
I ended up replacing all of the angular ui-select's with angular ui-bootstraps typeahead control because the inability to use the blur event with this control.

[2016-04-27 20:35] maxbundchen commented on #1576
Here is the [plunkr](https://plnkr.co/edit/H87bI8nPfagKyjguT9qP?p=preview).

As you can see the long names should be truncated (ellipsis is a good option as used in the original select and select2 jquery components). Also the clear button is in the wrong place. I'm trying solve this with css but at the moment I couldn't find any solution.

bootstrap: 3.3.6
ui-select: 0.16.1
angular: 1.5.3

[2016-04-27 20:37] maxbundchen commented on #1575
A temporary solution is to add some css:

.ui-select-search {
    width: 100% !important;
}

This override the width: 10px added by the javascript code, but I'm not sure what this change could cause.

[2016-04-27 20:53] crazytanvi commented on #507
+1

[2016-04-28 00:56] glutentag commented on #1580
Thank you for the quick answer, it fixes indeed my issue. Sorry I missed the duplicate.

[2016-04-28 08:17] samousavih opened #1584 "Nuget package for 0.16.1"
Could you please update the nuget package to 0.16.1 because there is an issue with using the ui-select 0.16.0 as an attribute and anglur 1.5.5.

The issue is the page freezes and seems to be because of an infinite loop somewhere.
But it is working with 0.16.1.

[2016-04-28 19:49] user378230 commented on #1584
The nuget package isn't maintained who maintains this repository. You'll have to ask them to update the package directly.

Closing this based on #513 (npm/bower/github are the only official release channels)

[2016-04-28 19:49] #1584 closed

[2016-04-28 19:51] user378230 commented on #1576
There was a previous attempt #1337 but it pushed the clear button to a new line, maybe it will help you start.

[2016-04-29 17:29] jitendersandhu commented on #152
+1

[2016-04-29 18:57] meenakshijha commented on #1455
@ibbatta How did you achieve this ? I want the user to select All / Unselect All option too.

Can you pls help? Thx

[2016-04-29 20:39] pawankeer opened #1586 "Css .ui-select-choices-row:hover making it hard to read dropdown items"
### Bug description: When we take the mouse over a drop-down item that is already selected (blue background). The background turns grey. This makes the text hard to read.

select.css:
Changed the following to fix it temporarily
.ui-select-choices-row:hover {
  background-color: #3875d7;
  color: #fff;
}
### Version of Angular, UI-Select, and Bootstrap/Select2/Selectize CSS

Angular:1.3.15

UI-Sele

[2016-04-30 11:21] jrparish commented on #1392
I am also running into the same issue. My workaround using less -

[code]

[2016-04-30 12:59] user378230 commented on #1392
This is probably resolved by #1388 but it hasn't been released yet. You could verify by updating the plunkr with the version from the examples: http://angular-ui.github.io/ui-select/#examples

If you verify it, please update the issue so it can be closed. :smile:

[2016-04-30 13:11] user378230 opened #1587 "Automate npm releases"
We should be able to automate npm releases via travis as per: https://docs.travis-ci.com/user/deployment/npm/ (releasing on tags only)

FYI: https://docs.travis-ci.com/user/deployment/#Deploying-to-Multiple-Providers

Ping @aaronroberson I'm guessing you'd need to set your key since the `ui-select` package belongs to you? Any chance you could look at this?

We could also probably do with a (v.0.17

[2016-04-30 13:14] user378230 commented on #1586
Can you post a plunkr and repro steps? Maybe a screenshot? I can't seem to see it in the [examples](http://angular-ui.github.io/ui-select/#examples): http://angular-ui.github.io/ui-select/demo-basic.html

[2016-04-30 13:17] user378230 commented on #1583
@lexey111 Can you use the issue template provided and provide plunkr and version numbers?

For reference: There was some attempt to fix something similar in #1557, #1123 & https://github.com/angular-ui/ui-select/pull/1557#issuecomment-210851842 maybe it would be useful for your PR.

[2016-04-30 13:50] user378230 commented on #1499
Closing as resolved by #1555 as per https://github.com/angular-ui/ui-select/issues/1580#issuecomment-215276541

[2016-04-30 13:50] #1499 closed

[2016-04-30 13:51] jrparish commented on #1392
Updating the examples to use Bootstrap 3.3.5 works as expected 👍

[2016-04-30 14:52] #1392 closed

[2016-05-02 14:20] darrinholst commented on #1564
From what I've determined this happens when you initially start typing when the choices are not displayed to activate the select. Then [this line](https://github.com/angular-ui/ui-select/blob/master/src/uiSelectController.js#L140) kicks in and you can never delete the initial search string that activated it. I'll try to reproduce this in a plunkr.

[2016-05-02 15:01] nfeldman-at-onshape opened #1588 "Dropdown remains visible when open list is empty if using bootstrap theme"
### Bug description:
As a consequence of https://github.com/angular-ui/ui-select/commit/e65995f1eb2e190e71c9226a2f754671a7277c86#diff-4c6dab330fc9c181481aa33e5feb15b9 an open select list is visible even if there are no options to choose from.

Activate the first select box in the following plnkr
http://plnkr.co/edit/N1AlvedLTmSr2BDsNvSi?p=preview
to see.

### Version of Angular, UI-Select, and Boo

[2016-05-02 15:20] darrinholst commented on #1564
http://plnkr.co/edit/ADawU4pKDzOQe33xCSHA?p=preview

If you tab into the select from the top input box and start typing you won't be able to ever delete the last character.

[2016-05-02 18:14] darrinholst commented on #1564
Actually this is already fixed in master [here](https://github.com/angular-ui/ui-select/blob/master/src/uiSelectController.js#L138). We just need a new release cut.

[2016-05-03 05:55] MarcelCremer commented on #1564
That's exactly what I'm experiencing. Nice that you could track it down - I tried to make things too small and forgot the animation Provider...

Thank you Darrin, I'm waiting for the next Release :)

[2016-05-03 11:21] #1588 closed

[2016-05-03 17:39] gaui commented on #446
:+1:

[2016-05-03 20:51] pawankeer commented on #1586
This is how it looks when I select it -
![1](https://cloud.githubusercontent.com/assets/16655175/14997852/ce3aba86-114e-11e6-89ee-f3a985d8b1a4.png)

When I do a mouse over the currently selected option I can't read the text because of the css -
![2](https://cloud.githubusercontent.com/assets/16655175/14997888/f9ff6fd6-114e-11e6-9186-e36740f02f4e.png)

And when I take the mouse over a different opt

[2016-05-04 20:10] ronaldohoch commented on #533
Same bug, but this works fine to me:

`.form-group .ui-select-container .select2-choices .select2-search-field,
.form-group .ui-select-container .select2-choices .select2-search-field input{width:100%!important;}`

[2016-05-05 14:06] user378230 commented on #1586
Can you create a plunkr? I still can't see this happening in http://angular-ui.github.io/ui-select/demo-basic.html

Maybe you are using a different version of select2.css to the [examples](http://angular-ui.github.io/ui-select/#examples)?

[2016-05-05 15:32] Grade commented on #1579
+1

[2016-05-05 17:23] Hreinnr commented on #1185
http://plnkr.co/edit/Ixgm6F6QUbCv1fxu9LBy?p=preview

I managed to reproduce the problem, by editing the "Basic" example, and adding the following code:

`  $scope.semesters = [{
    ID: "20151",
    Name: "Spring 2015"
  },{
    ID: "20152",
    Name: "Summer 2015"
  },{
    ID: "20153",
    Name: "Fall 2015"
  },{
    ID: "20161",
    Name: "Spring 2016"
  },{
    ID: "20162",
    Name: "Summer 2

[2016-05-05 17:25] danielbsig commented on #1185
+1

[2016-05-05 17:38] aheys opened #1591 "Arrow Keys cause cursor to move"
### Bug description:

The default behavior for the arrow up key and arrow down key move to the beginning and end of the input element. When navigating the select options with the up and down arrow keys, the cursor is shifted forward and backward of the search filter. If I start typing in the search filter and use the arrow keys to navigate the choices, I don't want my cursor to move.

### Link to

[2016-05-05 20:22] solerman commented on #1409
Works for me setting tagging-label="false"

[2016-05-05 21:20] siva-I commented on #1579
Also ui-select-no-choice is working only with bootstrap theme. Can we include the same for selectize and select2 themes?

[2016-05-05 21:22] siva-I commented on #1579
@khanhto
Could you please advise if this feature can be expanded to selectize and select2 themes?

[2016-05-06 12:18] tactical92fs commented on #1201
This is still an issue with the bootstrap theme when there are no items in the select list. http://plnkr.co/edit/jqXDJLN33U75EO9imGER?p=preview

[2016-05-06 12:42] tactical92fs opened #1592 "Input doesn't focus on first click using Angular 1.5.5 and ngAnimate 1.5.5"
This is a followup to [#1201](https://github.com/angular-ui/ui-select/issues/1201).

To recap: the input does not get focused on the first click of the select when using ng-animate, in this case, with the bootstrap theme when there are no items in the select list.

http://plnkr.co/edit/jqXDJLN33U75EO9imGER?p=preview

[2016-05-06 17:55] darrinholst opened #1593 "position up doesn't work with ngAnimate"
### Bug description:

Setting position to always be up (or auto when there's not enough room) will cause the dropdown to be displayed over the select and filling down.

### Link to minimally-working plunker that reproduces the issue:

http://plnkr.co/edit/MciJN9nVXf8lZIuOM0wj?p=preview

### Version of Angular, UI-Select, and Bootstrap/Select2/Selectize CSS

Angular: 1.5.0

UI-Select: 0.16.1

Boots

[2016-05-07 17:11] Clar64 commented on #1287
I've also got the same issue, when using a multiple select using XEditable. Any suggestions on how to fix this?

[2016-05-09 13:40] hagayl commented on #1496
I'm facing this issue as well, doesn't seem to be fixed yet (v1.6.1).
It's caused by setting the tagging-label to false (`tagging-label="false"`).
A workaround for the meantime can be setting it to an empty string instead: `tagging-label=""`

[2016-05-09 19:40] boltex commented on #1559
It's not just the padding,. all bootstrap styles are lost (such as blue halo, etc..) when adding the "multiple" keyword.

[2016-05-09 21:33] durga-telsiz opened #1596 "ui-select multiple - Show all options in drop down including selected one's"
### Currently the Selected items are removed from the drop down. How to show all options?
To differentiate selected one's from others, I want to either disable the selected options in drop down. Or handle with check boxes. This is mainly for huge lists, so user can always see all options available in the options. Is there a way to do this?

[2016-05-09 23:00] Sheeryada commented on #1392
@jrparish Plunker present in the initial issue is using Bootstrap 3.3.5 and doesn't seem like solution for this issue.

[2016-05-10 12:44] jrparish commented on #1392
@Sheeryada - The ui-select fix hasn't been released yet, so your plunkr won't work since its using 0.13.2.

[2016-05-10 12:50] katemihalikova opened #1597 "TypeError: Cannot read property 'source' of undefined with custom templates"
### Bug description:
When the ui-select is being rendered, error is shown in console:

[code]

This happens only when using custom templates that need to be fetched.
Seems related to #1440.

### Link to minimally-working plunker that reproduces the issue:
http://plnkr.co/edit/Xk6lyhMoqWRAhDg7IK6h?p=preview

### Version of Angular, UI-Select, and Bootstrap/Select2/Selectize CSS
Angular 1.5.5
UI-Sel

[2016-05-11 08:06] sergonius commented on #1501
What other info is needed here?

[2016-05-11 11:48] karrhu commented on #1436
+1 on Angular + Angular-animate 1.5.5, uiselect 0.16.1

Disabling animate introduced #1592 but removing ngAnimate module completely fixed the issue oO

Combined workarounds from these two issues gets rid of the problem, until someone will fix these for good.

[2016-05-11 12:39] torstenrudolf commented on #1385
@user378230 I'm quite interested in this feature.

I got a first basic version working for me with (this change)[https://github.com/Slowvoice/ui-select/commit/08c19d996b649b76d7a73a0d13a64bc3754eee9b].

for demo see (plunker)[http://plnkr.co/edit/gI8ahyqKZoH2rOwwk50E?p=preview]

Do you think the inline editing is necessary in order to get this feature into the project? The downside with my simple

[2016-05-11 21:21] aaronroberson commented on #1587
I've updated travis to deploy to npm on tag change.

[2016-05-11 22:25] edwin177 commented on #1225
For now, it looks like on-select is called with $item = null.

[2016-05-11 22:29] drewfreyling commented on #1575
Confirmed in Firefox too.

[2016-05-12 05:31] jigarakatidus commented on #1225
@edwin177 on-select looks fine to me. issue is with on-remove as of now. http://plnkr.co/edit/Y8RskftrBB659cyG7M7K?p=preview

[2016-05-12 06:28] jaeggir opened #1599 "Latest version not pushed to NPM"
Version pushed to npm is not the latest release. It looks like version 0.16.0, I would expect 0.17.0.

How to reproduce?
Add ui-select as dependency to your project, set ui-select version to 0.17.0 and install all dependencies with ```bower install```. You may check bower_components/angular-ui-select/dist/select.js to verify the version.

[2016-05-12 09:47] eMerzh commented on #366
still have the issue here with ui.select-0.17
and angular-1.5.3

a multiple with refresh, after adding some tags (often many) i ran into a duplicate

[2016-05-12 17:33] edwin177 commented on #1225
Yup, I ran into the same issue and found this thread. I was just sharing my work-around until it's fixed. When you click clear, on-select is called with $item = null.

[2016-05-13 10:32] user378230 commented on #1185
@Hreinnr your `ngModel` is incorrect, should be `<ui-select ng-model="ctrl.selectedSemester">`

[2016-05-13 10:45] user378230 commented on #1597
This might be as simple as checking for `parserResult` is there before trying to access the `source` property.

[uiSelectSingleDirective.js#L21](https://github.com/angular-ui/ui-select/blob/55e82e8f6008b6a1823263c20ca4a70e1dabb626/src/uiSelectSingleDirective.js#L21)

eg:
[code]
Can you submit a PR?

[2016-05-13 11:13] katemihalikova commented on #1597
Will do, thanks for investigation.

[2016-05-13 12:51] user378230 commented on #1596
You may find #1567 helpful (not currently ready to be merged though)

[2016-05-13 13:32] Hreinnr commented on #1185
@user378230 but if i put vm.selectedSemester = "20161";  in demo.js and then it has the same problem

[2016-05-13 22:23] doshprompt opened #1600 "WIth multiple set, dragging and dropping a tag to the last location does not work"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:

### Link to minimally-working plunker that reproduces the issue:

### Versio

[2016-05-14 09:45] user378230 commented on #1600
Actually it does work but you have to drop it in the *very* small gap between the last item and the hidden input.

A fix might be to move it to the end or the list if the item is dropped over the input.

[2016-05-16 03:15] torstenrudolf opened #1601 "tagging inputs with no choices displayed as search field"
### Bug description:
The fix for #991 (see commit #48cf1ba42b2a50a4b2e28eb6e734020500ce25d5) sets all inputs to `type="search"`.
While this is good for the  search fields of the dropdowns with a list of choices it is wrong behaviour when using ui-select for tagging fields with no choices. They should be of type `text` I believe.

The problem is that mobile keyboards display the enter button as mag

[2016-05-16 04:24] TravisTam commented on #1062
it works. thinks

[2016-05-16 06:51] DerekYangYC opened #1602 "Add multiple items with one copy&paste"
I'd like to add multiple items in `ui-select` at once

If I copy+paste "Hawaii, Alaska" into the select-multiple, then I get:
[code]
In this case I expect the result to be:

[code]

Is there a way to insert comma-separated items via one copy+paste? I do not need new value so `tagging` doesn't seem an option to me.

[2016-05-16 12:12] #1597 closed

[2016-05-16 12:19] user378230 commented on #1602
As it currently is, I don't think so.

There is a [`paste`](https://github.com/angular-ui/ui-select/blob/b7f2afe39e9a112eb54dad448f62af38c7bf7b74/src/uiSelectController.js#L615) function that is run though, which you can set during the [`config`](https://github.com/angular-ui/ui-select/blob/b7f2afe39e9a112eb54dad448f62af38c7bf7b74/src/uiSelectController.js#L19). You might then be able to run your

[2016-05-16 15:07] Blaze34 opened #1605 "dist/select.min.js is out of date"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:
`dist/select.min.js` is out of date.
I saw difference with match.tpl.html
In

[2016-05-16 18:52] brunowego opened #1606 "Code Quality"
I appreciate this project and I wish contribute with the code style. Are now accepting pull requests for better the code quality? Thanks.

---
I mean, jshint. 👍

[2016-05-16 19:38] #1521 closed

[2016-05-16 19:55] user378230 commented on #1605
Fixed 66a2a5e8cae3421cf2c25cc56492e5674b7eeda3

[2016-05-16 19:55] #1605 closed

[2016-05-16 19:55] user378230 commented on #1599
Fixed 66a2a5e8cae3421cf2c25cc56492e5674b7eeda3

[2016-05-16 19:55] #1599 closed

[2016-05-16 19:56] user378230 commented on #1587
Confirmed working with v0.17.1 too. Cheers!

[2016-05-16 19:56] #1587 closed

[2016-05-16 19:57] user378230 commented on #1581
Fixed 66a2a5e8cae3421cf2c25cc56492e5674b7eeda3

[2016-05-16 19:57] #1581 closed

[2016-05-16 19:58] user378230 commented on #1579
This should have been released as part of v0.17.0 but I believe the npm version was still outdated.

This should be released as of v0.17.1

[2016-05-16 19:58] #1579 closed

[2016-05-16 20:01] user378230 commented on #1606
Though all contributions are greatly appreciated, fixes/refactors around important issues (#1537) would definitely help much more! Changes to code style do not add as much value to end result as fixes do.

[2016-05-16 20:18] brunowego commented on #1606
Ok, I appreciate your feedback. Thanks.

[2016-05-16 20:18] #1606 closed

[2016-05-16 21:21] aaronroberson commented on #1587
Great!!!

[2016-05-17 09:09] deepak342 opened #1608 "no-choice.tpl.html is missing from select2 and selectize"
In the latest release v0.17.1, the no-choice.tpl.html is missing from the $templateCache for the themes "Select2" & "selectize". It seems to be available only for bootstrap

Error:
Failed to load template: select2/no-choice.tpl.html

[2016-05-17 09:41] user378230 commented on #1608
Would you like to submit a PR with templates for these two themes? If its similar to the bootstrap template they should be quite simple files.

_If you also fork one of the [example plunkrs](http://angular-ui.github.io/ui-select/#examples) with a demo so I can verify without pulling down the changes then I can merge it in much quicker._

[2016-05-17 11:45] santosguilherme commented on #1579
Worked for anyone? here is still not showing anything.

[2016-05-17 11:47] Grade commented on #1579
Working for me. Try to download new release v0.17.1

[2016-05-17 11:55] santosguilherme commented on #1579
I have already downloaded this version, the directive "uiSelectNoChoice" is in file "dist/select.js", but when the search returns no results, it does not appear.

`<ui-select ng-model="elementExtensions.ator" theme="bootstrap" fix-focus-ui-select>
    <ui-select-match allow-clear="true" placeholder="{{::'TYPE_FOR_SEARCH' | translate}}">
      {{$select.selected.name}}
    </ui-select-match>
    <u

[2016-05-17 12:15] santosguilherme commented on #1579
Doesn't work with ui-select add no-choice, [plunker link](http://plnkr.co/edit/T2HsEvQW1fBQJz3hg2dh?p=preview).

[2016-05-17 12:40] santosguilherme commented on #1579
@Grade, can you post your code?

[2016-05-17 13:05] Grade commented on #1579
I tried. But it doesn't work in plunker as well. But it works when I just run it in browser (Chrome, Firefox)

[2016-05-17 13:17] santosguilherme commented on #1579
Plunker example also doens't run here :/

[2016-05-17 13:20] santosguilherme commented on #1608
@deepak342, It works with the theme bootstrap?

[2016-05-17 13:52] santosguilherme opened #1609 "ui-select-no-choice isn't displayed"
I have already downloaded the version 0.17.1, the directive "uiSelectNoChoice" is in file "dist/select.js", but when the search returns no results, it does not appear.

Doesn't work with ui-select add no-choice, [plunker link](http://plnkr.co/edit/T2HsEvQW1fBQJz3hg2dh?p=preview).

My code:
[code]

HTML:
![selecao_014](https://cloud.githubusercontent.com/assets/8635147/15321554/a18ab2e2-1c0d-11e6-9

[2016-05-17 13:55] user378230 commented on #1609
The `select.js`/`select.css` in your plunkr are outdated (`v0.16.1`) can you update to latest versions? (You can use the files from the `/dist/` here in the repo)

Thanks!

[2016-05-17 14:03] santosguilherme commented on #1609
Updated.

[2016-05-17 19:20] brentmiller commented on #589
+1 to fixing this bug.

[2016-05-17 21:11] nesler opened #1610 "Debounce changes to search input"
### Bug description:
Not a bug per se, more a feature request/performance optimization suggestion.

With large lists, searching is a pain (initial rendering is "ok" - not good, though).

But searching a list of ~800 objects, using 2 properties and the or-filter from one of the examples is a pain, even on my quad-code i7. And it's practically impossible on older machines.

I suspect, that it's beca

[2016-05-18 06:55] deepak342 commented on #1608
@santosguilherme It does with the bootstrap theme but not with the other two('select2' & 'selectize').

[2016-05-18 07:24] AdamGorkoz opened #1611 "Initial binding not applied when using single binding and on-select"
When using binding with a single property and in addition the on-select event the initial binding seems no to work. the model is indeed the selected value (which is a key of an object) but the $select.selected value is not the object itself but rather the key that was selected (which is not supposed to be the displayed value). after the a selection issue seems to go away and also when removing the

[2016-05-18 07:43] AdamGorkoz commented on #1611
Issue is caused because of using limitTo and the initial value is not in the limit.

[2016-05-18 07:43] #1611 closed

[2016-05-18 07:46] DerekYangYC commented on #1602
I tried the tagging feature first. so I add `tagging paste="onInputPasted(text)"` into `ui-select`. But when I pasted "Hawaii, Alaska" to the input it seems not able to separate the words by comma.

Anything I did it wrong?

Also, I looked at the [codes](https://github.com/angular-ui/ui-select/blob/b7f2afe39e9a112eb54dad448f62af38c7bf7b74/src/uiSelectController.js#L590) you mentioned but I'm not a

[2016-05-18 07:53] Hectormm commented on #1575
Your solution breaks ui-select-multiple

.ui-select-container:not(.ui-select-multiple) input.ui-select-search {
    width: 100% !important;
}

[2016-05-18 13:38] user378230 commented on #1602
`ctrl.taggingTokens.isActivated` will only be `true` if you are in `tagging` mode.

The detokenisation process is only enabled when in tagging mode. But the `paste` function is only called when tagging is __not__ enabled. So, you need to convert your string manually and add items manually to your selected items array, in your paste function.

You can follow the process flow in the paste function y

[2016-05-18 13:42] user378230 commented on #1610
Maybe you could submit a PR with the proposed performance improvements you've identified?

Thanks! :smiley:

[2016-05-18 17:16] ebuildy commented on #224
It's clearly not compatible with angular 1.5, just opened the demo Plunker, replace angular 1.2.6 by angular 1.5 then get the same error ....

http://plnkr.co/edit/wGniqjTA8KTc6uWG2uxr?p=preview

The demo is working fine until angular 1.4.8.

[2016-05-18 17:33] marcbachmann commented on #224
@ebuildy where did you get that `select.js` in http://plnkr.co/edit/wGniqjTA8KTc6uWG2uxr?p=preview from? It has version `0.11.2` which is over a year old.

We had to switch from the npm module `angular-ui-select` to `ui-select` to get it to work. We're running on angular 1.5.3 now.

[2016-05-18 17:40] jtrancas opened #1612 "Add option to make the placeholder always visible"
I'd like to request the addition of a new option to ui-select-match (or ui-select) as a flag which would let the user to choose if the placeholder should be always visible independently if there're already selected items or not.
In some situations when you have a multiple choices ui-select it'd be interesting to have the placeholder always visible, i.e. "Add tags...", it'd be more intuitive to the

[2016-05-18 18:06] ebuildy commented on #224
Actually, even with version 0.17.1, I see the error if I omit:

[code]

This was my problem.... sorry for trouble

[2016-05-18 21:29] DriesVandermeulen commented on #665
Also on 0.17.1 still occurring.

[2016-05-18 23:24] Bubelbub opened #1613 "[IE10] [Angular 1.5.5] [UI-Select 0.14.1] - Rendering of values not work on ng-if - only with ng-show"
### Bug description:
If you test in IE11 / Firefox / Chrome it works.
But in IE10 you'll get an error.
http://plnkr.co/edit/4wWeuGvdXpOMg53ISgcL?p=preview

It looks like this picture if you check the checkbox.
![Example for IE10 if you check the checkbox](https://cloud.githubusercontent.com/assets/319352/15378033/56099a32-1d60-11e6-9af1-d825b726e5bb.png)
If I replace it with `ng-show` it work's fi

[2016-05-18 23:34] sharonx commented on #152
I wanted to show "No results found" in the drop down when the search result is empty in the drop down.

After searching without any solid solution, I came up with this workaround:
In `<ui-select-choices>`, add  `ui-disable-choice="item.match==='No results found'"`
The full `<ui-select>` looks like this:
[code]
In the refresh function:
[code]

[2016-05-19 08:47] DerekYangYC commented on #1602
It seems the `paste` function was **NOT** called when I pasted a string into the input without tagging mode enabled.

[code]

Controller:
[code]

I can't see the log printing out. Anything I miss?

[2016-05-19 12:58] turistua opened #1614 "ui-select-no-choice doesn't work for multiselect"
### Bug description:

while using ui-select-no-choice directive it doesn't apply for multiselect mode (bootstrap theme).

### Version of Angular, UI-Select, and Bootstrap/Select2/Selectize CSS

Angular: 1.4.2

UI-Select: 0.17.1

[2016-05-19 13:47] khanhto commented on #1579
@santosguilherme I have been busy these days and this pull request was created very long ago (nearly a year). At that time, it was working properly. I'm not sure if it's still working today. I'll check it when I have time.

[2016-05-19 13:52] khanhto commented on #1579
@siva-I sorry for the late reply, this feature should be fairly easy to be extended to selectize and select2 themes, but I'm not sure when I'll get back to this.

[2016-05-20 11:59] akoskm commented on #1062
adding ngSanitize solves this in angular 1.3.15.

[2016-05-20 16:51] LeonardoGentile opened #1616 "Angular2 and Roadmap"
Hi,
In #1096 @ProLoser mentioned the complexity that the project had reached and he suggested some interesting points. Even before in #884 quite some concernes were raised about the status of the project, in fact @brianfeister said that it was starting to be quite difficult to merge old and new PRs due to the complexity of the project. These two issues have been there for a year or more.

In the m

[2016-05-20 19:36] twhit027 opened #1617 "Updating disabled or hidden ui-select multiple inputs breaks width (0.17.1)"
### Bug description:

With the changes to `sizeSearchInput` in 0.17.1, updating disabled or hidden multi-select inputs will set the width to 10px permanently.

### Link to minimally-working plunker that reproduces the issue:

The width of the input in the following plunker is indicated in red.
http://plnkr.co/edit/lQLLozS6DhnPXXzmuWXJ?p=preview

### Version of Angular, UI-Select, and Bootstrap/Sel

[2016-05-22 11:44] archer-zhn commented on #533
I have the same problem. When I resize the browser the width of ui select changed to 10px. The following works for me.

input.ui-select-search {
    width: 100% !important;
}

[2016-05-23 07:00] gasfab999 commented on #1560
Hey,
in our application we also have this problem.
Has someone found a workaround or is there already any progress in solving this problem with the next version?

[2016-05-23 07:28] stibay opened #1618 "Input field not showing the first time"
![untitled](https://cloud.githubusercontent.com/assets/6984747/15463082/3de46a9e-20c7-11e6-838b-c14ac207d775.png)

As you can see from the first picture the input field is not rendering correctly the first time I click the dropdown box. I have to click in the white textbox without anything changing and then to the right of it (on the blank space) before the input box renders like the second pictur

[2016-05-23 08:58] TravisTam commented on #389
Is there any fix on this issue?

[2016-05-23 15:19] fxding commented on #1618
+1
same problem

[2016-05-23 20:44] kleinsch opened #1619 "Version 0.17 reverted the fix for #1415"
Version 0.16 works with Angular 1.2, version 0.17 reports errors using $animate.on.

Looks like [this commit](https://github.com/angular-ui/ui-select/commit/6444d6b8f9e3ff3f201deeecd0ded38498d7b18d).

[2016-05-24 12:26] user378230 commented on #1616
There isn't any planning/discussion/roadmap for an angular2 version going on as far as I know.

Current efforts are focused on resolving issues with the library...

[2016-05-24 12:27] user378230 commented on #1619
Can you submit a PR?

[2016-05-24 12:33] #1614 closed

[2016-05-24 12:50] jacek213 commented on #438
+1

[2016-05-24 15:19] ganqqwerty commented on #218
tried workaround, still have this problem in ui-select-choises without group by.

[2016-05-24 16:04] bitwise-constructs commented on #855
+1

[2016-05-24 18:42] rafaeleyng commented on #1034
It doesn't work for me in v0.17.0, and it doesn't seem to work in the Plunker also.

[2016-05-25 09:13] user378230 commented on #1034
@rafaeleyng Which version? v0.17.1 is the latest. The plunkr I linked too works for me.

Can you reproduce against one of the latest [Examples](http://angular-ui.github.io/ui-select/#examples)? (Please post plunkr too..)

[2016-05-25 09:18] user378230 commented on #1612
#1433 may be a start.

[2016-05-25 09:22] user378230 commented on #1613
Just for reference: [IE10 isn't supported by Microsoft anymore](https://support.microsoft.com/en-gb/lifecycle#gp/Microsoft-Internet-Explorer)

Might be worth checking against latest (v0.17.1)

[2016-05-25 09:24] user378230 commented on #389
@TravisTam feel free to submit any PRs you feel could improve performance.

I'll be happy to review :smiley:

[2016-05-25 11:15] rohankvats commented on #224
@marcbachmann Updating angular-ui-select: `^0.17.1` solved it for me. Thanks.

[2016-05-25 12:35] rafaeleyng commented on #1034
![image](https://cloud.githubusercontent.com/assets/4842605/15540020/e33bf54e-225b-11e6-8705-662fb5f52de1.png)

@user378230 The image above shows the Plunkr with version 0.17.0, `search-enabled="false"` for the select multiple and the search still works.

Am I doing something wrong?

[2016-05-25 15:12] billccn opened #1621 "Tagging with "binding single property" mode doesn't work"
### Bug description:

When ["binding single property"](https://github.com/angular-ui/ui-select/wiki/ui-select-choices#example-binding-single-property) mode is used with tagging, the selection model gets corrupted.

If you click the example below, the first select, which only uses tagging, works as expected.

The second select, which uses both, would fail after adding two items, whether via tagging

[2016-05-25 16:14] billccn commented on #1214
A minimal plnkr for this:

http://plnkr.co/edit/oVra6eBaFaLVo1PvM6JL?p=preview

First one tagging and selection works. Second one only tagging works. Mouse click no longer does anything.

The issue seems to be when `tagging-label="false"`, the `tagging` function is called (with an empty string). The function is not called if `tagging-label` is not set.

This behaviour still exists in 1.17.1.

[2016-05-26 02:25] mjschranz opened #1623 "Publish latest versions to NPM"
Hey Everyone.

Just wondering why the last versions of the module have not been published to npm. For those of us who use webpack not having access to the latest version is quite problematic.

Thanks!

[2016-05-26 06:19] itchyny commented on #88
The filtering logic of ui-select is heavy. The `$scope.$apply` and `$timeout` on the keydown event trigger `$rootScope.$digest`, which forces dirty check on the every watch expression (code: https://github.com/angular-ui/ui-select/blob/9d29307b7c3071e3a14bc15642a3775844d713c0/src/uiSelectController.js#L521-L574). I'm not sure it can be fixed to the local digest cycle. The ui-select2 library is wis

[2016-05-26 08:06] pedroclayman opened #1624 "Focusing different element does not work properly when using append-to-body"
### Bug description:

1. Focus the select element and interact with it in any way you like (select some options, filter stuff etc.)

### Link to minimally-working plunker that reproduces the issue:

### Version of Angular, UI-Select, and Bootstrap/Select2/Selectize CSS

Angular:

UI-Select:

Bootstrap/Select2/Selectize CSS (if applicable):

[2016-05-26 09:35] user378230 commented on #1623
`ui-select` v0.17.1 is the latest version and is already published to npm

https://www.npmjs.com/package/ui-select

[2016-05-26 09:35] #1623 closed

[2016-05-26 09:47] boillodmanuel commented on #1520
fixed by PR #1598 (packaged in 0.17.1)

[2016-05-26 10:11] nesinervink commented on #1049
+1

This code needs testing, but seems like it solves all the issues with `$select.selected` being `undefined`, because on `$render` `$select.selected` is assigned model's `$viewValue` before `$watch` in [uiSelectSingleDirective.js#L42](https://github.com/angular-ui/ui-select/blob/e75bf4906da0047ba837b6db539b0feecc3b327b/src/uiSelectSingleDirective.js#L42) sets the `$viewValue` to empty array in c

[2016-05-26 10:19] mjschranz commented on #1623
Ah I confused myself and looked at https://www.npmjs.com/package/angular-ui-select instead it looks.

[2016-05-26 12:24] user378230 commented on #1520
Thanks for the confirmation!

Closed.

[2016-05-26 12:24] #1520 closed

[2016-05-26 12:57] LeonardoGentile commented on #1414
@tiansivive have you found a solution for this?

[2016-05-26 20:31] buffaloproject1 commented on #1145
Looks like this specific to IE and Firefox in Windows

[2016-05-26 22:44] LeonardoGentile commented on #366
I can also confirm: angular 1.5 and ui-select 0.17.1
The same application is running fine on Chrome but throwing this error on Firefox 45.0.2

[2016-05-27 10:03] LeonardoGentile commented on #1616
See also: #784

[2016-05-27 15:58] Jevonius commented on #1617
I've just come across a variant of this, where the ui-select boxes are in a panel that can be hidden (but starts visible).

We've jumped from 0.12 to 0.17.1, but I don't think this is an entirely new issue. We've always had trouble with multiple ui-select boxes on the same page, and the width of the input/placeholder panel acting strangely (seemed to clear up after the various ajax requests on the

[2016-05-27 20:55] andreash commented on #582
This is also the case with the "selectize" theme - couldn't check it with the select2-Theme. Would be great, if that could get fixed. Tried myself to find the root cause - it appears, the sizeSearchInput() is not called, when the search in put becomes visible. But I can't location the point, where it is being made visible (the click on the container).

[2016-05-27 20:56] andreash commented on #1575
This is also the case with the "selectize" theme - couldn't check it with the select2-Theme. Would be great, if that could get fixed. Tried myself to find the root cause - it appears, the sizeSearchInput() is not called, when the search in put becomes visible. But I can't location the point, where it is being made visible (the click on the container).

[2016-05-28 16:03] hut8 commented on #1609
Seems like a duplicate of https://github.com/angular-ui/ui-select/issues/1608, no?

[2016-05-28 16:39] santosguilherme commented on #1609
No, i'm using bootstrap theme.

[2016-05-28 17:14] hut8 commented on #1609
My mistake. Using 1.7.1 I am able to get it to display, but I can't figure out what's wrong with the plunkr at the moment.

[2016-05-30 07:16] kyse commented on #212
Where exactly are you placing the $scope.digest timeout?

[2016-05-30 07:27] webgene opened #1628 "Adding multiple space not getting cleared after clicking outside"
## **Bug Description**

1. In multi select text field type multiple space character.
2. Click outside of the text field, space is not getting cleared although typing non-matching word(Ex: dhjashdkaskd) and clicking outside clears the text field and place holder is shown.

[2016-05-30 07:41] qwiglydee commented on #1173
Is it still open in 0.17?

[2016-05-30 12:16] gouroujo opened #1629 "add ellipsis for toggled text"
with bootstrap:

I've added the following css classes to add text ellipsis:
[code]

[2016-05-30 12:34] yaoelvon commented on #1353
thanks, this helps me!

[2016-05-30 20:26] dsalvagni commented on #1629
Take a look at #933 and #1625

[2016-05-30 21:26] gouroujo commented on #1629
oups sorry it's a duplicate

[2016-05-30 21:26] #1629 closed

[2016-05-31 05:00] fujuca510 commented on #438
+1

[2016-05-31 05:06] dimitarrusev commented on #1609
Strange. The directive is working fine with inline templates but not with external ones. Here’s a [plunk](https://plnkr.co/edit/mVwHRYHLKimfWyZ4zgAX?p=preview).

[2016-05-31 11:48] #1609 closed

[2016-05-31 11:52] #1619 closed

[2016-05-31 12:11] user378230 commented on #438
Please do not +1 issues, it adds uncessary noise to the issue. You can use github reactions to voice your support.

Note as previously mentioned, unless this is contributed in via a PR its unlikely to become part of the library. Its not a major priority.

[2016-05-31 15:52] ganqqwerty commented on #1616
don't know about the roadmap but the amount of unmerged pull requests is obnoxious. Even solution of the bugs are not merged, who is in the team of the project anyway?

[2016-05-31 18:14] ProLoser commented on #1616
Who would like to be? I see a lot of people complain, but I don't see many people stepping up and really taking ownership of the project as a whole

[2016-05-31 18:49] #1593 closed

[2016-05-31 18:51] #1575 closed

[2016-05-31 18:51] #1617 closed

[2016-05-31 18:51] #1618 closed

[2016-05-31 21:37] germanger opened #1633 "When using bootstrap theme: How to render as "btn-sm"?"
Hi, I'm using ui-select with bootstrap theme.

How can I make the select smaller? that is: using bootstrap's `btn-sm`?

[2016-05-31 21:38] germanger commented on #169
any news on this? I want to use btn-sm ! :(

[2016-05-31 23:57] lukasolson commented on #1302
You can see this on the [example](http://angular-ui.github.io/ui-select/demo-multiple-selection.html) page by clicking on "Disable ui-select" and looking at the input under "Deselect callback with single property binding".

[2016-05-31 23:59] lukasolson commented on #1302
(Specifically, this is very apparent when you're using `multiple` and `disabled` simultaneously.)

[2016-06-01 01:09] MissPiplup opened #1634 "Search on apostrophes"
Is there a way to search on strings that contain apostrophes?

[2016-06-01 13:47] stefannikolic commented on #1608
Hi for me also uiSelectNoChoice works with bootstrap theme but it is not working with select2 and selectize theme. Will there be solution for uiSelectNoChoice directive for ui-select v. 0.17.1 soon?

[2016-06-02 07:53] madmis commented on #533
+1  - version 0.17.1

[2016-06-02 12:25] dimylik opened #1636 "Nice to have: .select2-search input {background-image} reflect refresh() action in progress"
Nice to have indicator, that refresh() action is in progress, instead of magnifying glass, show something like loading icon in search input.
This will indicates that something is going on.

Also, you could extend that, and if refresh() action does not return anything, show another icon, like cross or something

like:

.select2-search .refresh-in-progress input {
   background-image: url('loading.g

[2016-06-02 16:01] Toilal opened #1637 "allow-clear layout is broken (master)"
### Bug description:

Since https://github.com/angular-ui/ui-select/commit/a434a12f4bbdababd813d084cd82e9516a47f085, ```allow-clear='true'``` layout is brokend. Reverting this commit fix the issue.

### Link to minimally-working plunker that reproduces the issue:

Don't have time to create a plunker, but you simply have to set ```allow-clear='true'``` when using bootstrap theme. ```X``` button is

[2016-06-02 19:57] tikijian commented on #533
+1
```style="width: 10px;"```
for some reason

![2016-06-02 22 57 27](https://cloud.githubusercontent.com/assets/1406569/15758936/709b5dc0-2915-11e6-860c-28038a137bd3.png)

[2016-06-02 21:53] ganholete commented on #1197
+1

[2016-06-02 22:50] vurso commented on #519
@natalie03 nice find this is a real gotcha if you're not careful with ui-select

[2016-06-03 09:13] user378230 commented on #1636
Closing as duplicate of #919

[2016-06-03 09:13] #1636 closed

[2016-06-03 11:22] MykhailoIskiv commented on #363
Not sure whether it is the same issue, but I encountered similar issue because of [highlight filter](https://github.com/angular-ui/ui-select/blob/master/dist/select.js#L147) as I have filter with a same name, and my allows html (return $sce.trustAsHtml(text)). Of course I will rename it now and it was my mistake to not use app specific prefix but it might be worth to consider to rename it in UI se

[2016-06-03 14:52] nielk commented on #1409
I encountered the same issue, my tagging function is not called, PR would be welcome…

[2016-06-03 17:12] dimylik commented on #919
+1

[2016-06-04 03:30] j-walker23 commented on #363
I can't remember what this was for or where the code was. But i think i have a memory of not running into this anymore.

[2016-06-04 03:30] #363 closed

[2016-06-04 12:10] FaiyazMdAbdul opened #1639 "disabled option gets selected while filtering using search box"
sorry if this issue is already raised ,i couldnt find though .
ng-disabled works fine and doesnt allow to select option but while filtering using search box  and hitting enter it gets selected .

[2016-06-04 13:34] snowpine commented on #169
+1

[2016-06-05 16:24] mihai-vasilache commented on #367
I have the 0.17.1 version (released on 2016-05-16) and it is still not fixed. Do you have any intention to fix it?

[2016-06-06 01:52] kenyus commented on #499
+1

[2016-06-06 11:11] Lekmaby commented on #169
+1

[2016-06-06 14:04] MariusCorneschi commented on #499
I've come with a workaround to this problem.

[code]
You can't use the scope to pass the function for this directive because the ui-select directive is already using it, but you can access it from the $parent.

[2016-06-06 15:39] robertmirro opened #1640 "Cannot use {{expression}} in repeat"
### Bug description:
It appears that the `repeat` attribute of `<ui-select-choices>` no longer supports an expression because of this logic that has been added to the `compile` phase and results in the error message displayed in this issue's summary above:
https://github.com/angular-ui/ui-select/commit/f5b986b1a0889da46642eb1103556f23e0368254#diff-cb9a7c7fe5ff2e1d351218d2344d3421R33

I don't see `

[2016-06-07 02:17] npbenjohnson opened #1642 "Not compatible with ng-mock"
### Bug description:

none of the events/status changes seem to be wired up when adding a control via ng-mock, which makes it difficult to test.

### Link to minimally-working plunker that reproduces the issue:

This is an example of a control being added via code, vs added via mock+$compile
http://plnkr.co/edit/JOWV7bgoi8PmzcPQQk6R?p=preview

### Version of Angular, UI-Select, and Bootstrap/Selec

[2016-06-07 06:46] SuTran opened #1643 "Weird cursor on for Bootstrap theme on ie"
### Bug description:

Step to produce:

1. Open the [example](http://angular-ui.github.io/ui-select/demo-basic.html) on Internet Explorer
2. Type in Bootstrap example input
3. Click outside
4. Click on the text that was entered in step 2
5. Weird cursor happen

![image](https://cloud.githubusercontent.com/assets/4506521/15848091/e54aa8d6-2cb4-11e6-8c2a-7a864af63c33.png)

### Version of Angular, UI

[2016-06-07 14:51] bender87 opened #1644 "ui-select-no-choice missing template for select2"
ui-select-no-choice missing template (.tpl) for select2 theme

[2016-06-07 14:54] shyamal890 commented on #1633
+1 Setting `input-group-sm` too doesn't work

@user378230 eagerly awaiting your answer

[2016-06-07 21:27] jshearer opened #1645 "Feature request: add initial search value"
Our users found it confusing when the text in the search field gets cleared when the dropdown is opened, if there is already a selection. To fix this, I added an attribute called `init-search-value` that, if set, will be automatically entered in the search box on opening. Our use case for this is to set the init-search-value to the currently selected option, so that when the user opens the dropdow

[2016-06-08 12:35] user378230 commented on #1644
Closing duplicate of #1608

[2016-06-08 12:35] #1644 closed

[2016-06-08 12:41] user378230 commented on #1643
I don't think we can do much about "Weird cursors" might be more of a browser issue.

[2016-06-08 12:47] user378230 commented on #1640
I believe the intent of the `repeat` attribute was to mimic the `ng-repeat` expression provided by angular to allow users to specify their choices.

I don't imagine that it was explicitly intended to support expressions (`ng-repeat` does not do this either) but probably just a side effect of the way it was original designed.

Moving to the `compile` phase prevented the double compilation of the ch

[2016-06-08 12:58] harrylog commented on #1239
so what ui-select can i use in angular 1.5

[2016-06-08 13:06] el-davo commented on #1436
+1

[2016-06-08 13:07] zorang commented on #630
This is disaster that this is not fixed till today for mobile devices!!!

[2016-06-08 13:25] jose-brito-ptc commented on #1640
I'm also experiencing the same issue while using ui-select with angular-formly. Here's my code:

`<ui-select-choices data-repeat="{{to.ngOptions}}" group-by="{{to.groupByProp}}">`

A possible workaround is to replace "{{to.ngOptions}}" with `option[to.valueProp] as option in to.options | filter: $select.search`, but that goes against the purpose of using formly. However, even using the workaround,

[2016-06-08 14:24] zone-live commented on #88
has this issue been fixed? I already added the "    | limitTo: 100"" but its still a tad slow...

[2016-06-08 14:31] user378230 commented on #1640
You might be able to try something like this [SO answer](http://stackoverflow.com/a/28749005)

[code]

[2016-06-08 14:39] user378230 commented on #1634
It does not already?

Can you please follow the issue template and include a reproduction plunkr?

[2016-06-08 15:33] user378230 commented on #88
@zone-live please see my comment here: https://github.com/angular-ui/ui-select/issues/88#issuecomment-205769784

I'll remove your comment shortly as we need to focus this discussion resolve the problem...

[2016-06-08 15:35] zone-live commented on #88
Done! Sorry about that! ;)

2016-06-08 16:33 GMT+01:00 user378230 <notifications@github.com>:

[2016-06-08 15:49] user378230 commented on #1645
Does [`reset-search-input="false"`](https://github.com/angular-ui/ui-select/wiki/ui-select) not cover the problem your users are having already?

[2016-06-08 15:53] user378230 commented on #367
@mihai-vasilache feel free to submit a PR that fixes the issue (including unit tests)  will be happy to review and merge. :smiley:

[2016-06-08 22:04] robertmirro commented on #1640
@user378230 Thanks for the response!

We wrapped `ui-select` in our own component to further extend it and then used that component heavily in multiple apps.  :flushed:

[2016-06-09 06:28] SuTran commented on #1643
Hi @user378230 ,

Thank you for your reply. I don't think that related to browser issue. I tested [selectize.js](http://selectize.github.io/selectize.js/) (both selectize & bootstrap theme)on internet explorer also but I don't see any weird cursor there

### Version of Internet Explorer: 11

[2016-06-09 06:38] nasr18 opened #1647 "weird look of ui-select in bootstrap modal."
![bootstrapmodal](https://cloud.githubusercontent.com/assets/7514936/15920831/d6c90fdc-2e3a-11e6-9f3b-d2d25573f158.png)

[2016-06-09 10:23] mawaheb-seraj-devtech opened #1648 "Select multiple entries using ctrl key"
### Bug description:
I have a list with a `multiple` attribute to it as shown below, now, I can't actually make multiple selections by holding down the Ctrl key.

    <ui-select multiple id="selectCountry" class="edit-select-control-gray not-highlighted"
     ng-model="comp.selectedCountries" theme="bootstrap">
        <ui-select-match placeholder="Choose a Country">{{$item.name}}</ui-select-match

[2016-06-09 11:37] user378230 commented on #1648
This isn't a feature of the library... I've updated the issue title to reflect this.

You could consider submitting a PR that adds this functionality if you would like. :smiley:

[2016-06-09 11:39] user378230 commented on #1647
I think this is fixed by #1631.

Please test with the new version when it is released. (Or you can take ui-select from one of the latest plunkrs here: http://angular-ui.github.io/ui-select/#examples)

[2016-06-09 11:42] user378230 commented on #1640
@robertmirro Feel free to share if you have any success :+1: sure others would appreciate it.

[2016-06-09 12:17] nasr18 commented on #1647
ok will try and let you know.

[2016-06-09 14:49] Hikonobu commented on #1173
It is still open in 0.17.1: http://plnkr.co/edit/4qVRxMQrSmxsTLf4piYp?p=preview

When `keydown` triggered by ENTER or TAB key, it seems to be that `$select.search` string is deleted before tagging finishes.

[2016-06-09 18:40] stkrwilson commented on #258
This worked for me:

.directive('arrayRequired',function(){
  return {
    restrict:'A',
    require:'ngModel',
    link:function(scope,elem,attrs,ngModel){
      ngModel.$validators.arrayRequired = function(modelValue,viewValue){
      	var modelValue = modelValue || {}
           return (modelValue.length>0 ? true : false);
      };
    }
  };
})

add `array-required` to ui-select object

[2016-06-09 19:56] #1637 closed

[2016-06-09 20:25] user378230 commented on #258
@stkrwilson `ng-required` should work in the latest  version as `ngModel.$isEmpty` is now [correctly overidden](https://github.com/angular-ui/ui-select/blob/cf27a961c6a3e6a6f6f09107c67b11bba7fd3e3c/src/uiSelectMultipleDirective.js#L84) are you able to reproduce the problem in latest version (`v0.17.1`) still?

[2016-06-09 20:26] #1640 closed

[2016-06-09 20:29] jkevingutierrez commented on #533
+1

[2016-06-09 22:15] hcape commented on #533
+1 0.17.1
I have 3 multiple select fields. The 3rd one is disabled until the 1st one is filled in. Bars 1 and 2 have 100% width as expected, but when bar 3 becomes enabled the width is 10px.

[2016-06-09 23:35] jshearer commented on #1645
When I tried `reset-search-input="false"`, it didn't appear to have any effect. See (this plunkr)[http://plnkr.co/edit/RzYlk43hH3RE4vnlm2FJ?p=preview], which is exactly the same as the plunkr I already mentioned, just with `reset-search-input="false"` added to the third dropdown. It could be that I didn't correctly understand the documentation: am I using it wrong? Thanks for the response!

[2016-06-10 02:51] ProxyChain opened #1649 "Strange behaviour with Bootstrap theme"
### Bug description:

Very odd behaviour with a `<ui-select>` element in Chrome Android (happens in latest Chrome stable release AND dev release).

The select element initially renders fine, like this: http://i.imgur.com/YLG2xUz.png

Tapping on it brings up the keyboard and focuses on it - at which point the element extends outward on the right for some reason. The initial problem I was having wit

[2016-06-10 08:40] fruzsii commented on #533
+1 0.17.1

[2016-06-10 09:20] user378230 commented on #1645
My workflow is as follows:
1. Click on last ui-select
2. Type in `af`
3. Select `Afghanistan`
4. (ui-select closes)
5. Click on ui-select to open
6. ui-select displays `af` still (from previous search)

---
This doesn't match your *"add inital search value"* request but I think it does address your user problem:

[2016-06-10 18:50] mtucciar commented on #432
@RavenHursT Thank you so ****ing much for this. I've spent two days trying to get the damn blur event to be available from my calling controller and FINALLY your solution works for me. Gonna +1 your PR

[2016-06-11 15:33] bubenshchykov commented on #1608
+1

[2016-06-12 10:35] priyanka-obtainit opened #1650 "ui-select single select validation"
Hi i am using ui-select for single selection. Here is the code
`    <ui-select ng-model="manufacturer.selected" name="123"  theme="bootstrap" >
                                        <ui-select-match placeholder="Manufacturer">
                                            {{$select.selected.Manufacturer_Name}}
                                        </ui-select-match>

[2016-06-13 08:17] mweghorst opened #1651 "Deselect via the dropdown"
When using a multiple select dropdown with the remove-selected option set to false, shouldn't the selected options in the dropdown list be clickable and deselect their value, instead of being disabled? This is the same behaviour as in the original select2, see https://select2.github.io/examples.html (Multiple select boxes).

[2016-06-13 08:44] wufangjian commented on #221
+1

[2016-06-13 12:21] sercangurbuz opened #1652 "Opacity set to zero when no items binded"
updated to latest ui-select (Version: 0.17.1 - 2016-06-09T20:41:58.363Z), with angular 1.4.8.
ui-select-dropdown div opacity set to 0 when no items binded.

![image](https://cloud.githubusercontent.com/assets/5747927/16007231/e006ce9e-3179-11e6-87f1-7a23056a58b3.png)
[http://plnkr.co/edit/p0F5s5?p=preview](url)

[2016-06-13 12:39] McGiogen commented on #1652
Same error here.
Ps: On bower the bugged version is registered as 0.18.0 but uiSelect changelog has only two 0.17.1, I think lastest one should be 0.18.0

[2016-06-13 13:09] peterreisz opened #1653 "Cannot select initial value in case search-enabled="false""
Create a simple ui-select with search-enabled="false" option and set an initial value via ng-model.
Open the ui-select: the initial value is selected, but not shown in the list.
If I select another value, I cannot select the initial value again.
It works fine in case there is no initial value.
The previous version (0.17.1) also works fine.

Plunkr: http://plnkr.co/edit/s9NbZwbonSCLAIF3JK39?p=previ

[2016-06-13 14:39] nkamenar opened #1654 "Selected option disappearing on filter"
Angular: v1.5.0-rc.2

UI-Select: 0.17.1

Bootstrap/Select2/Selectize CSS (if applicable): Bootstrap 3.3.6

UPDATE: I have now been able to reproduce this in a plunker. Everything seems to be working as intended with UI Select 0.16.1 but breaks if you switch to 0.17.1. Here is my plunk, you can swap the commented script lines to see how it works/doesn't work with the two versions:
https://plnkr.co/

[2016-06-13 14:42] peterreisz commented on #1653
I've just found the [removeSelected ](https://github.com/angular-ui/ui-select/wiki/ui-select#examples-disabling-instead-of-removing-selected-items-in-multiple-selection) feature introduced in the version 0.18.0.
I think this should only affect the multiselect version. Turning it off solves the problem.

[2016-06-13 15:40] lewi12s opened #1655 "[feature request] change color of tag"
In my opinion is nice to have feature that allows change of tag color (bg, text) in input bar based on JS Object property for eg. {_uiSelectLabelColorBg: #eee}

I mean "tag" like in example: http://angular-ui.github.io/ui-select/demo-tagging.html

What do you think?

[2016-06-13 20:45] jairoGilC opened #1657 "UI-select doesn't work with asynchronous directives:"
I'm using  `$asyncValidators` to validate the select fields in my form, the problem is that with this directives the search don't work correctly, the following is a[ plunker example](http://plnkr.co/edit/dpnQnzI3Eh6t2rmuRN0m?p=preview):

In the plunker example if you select a country (eg: France) and then search and selected another country  UI-Select still have selected France

[2016-06-13 21:41] gilluminate opened #1658 "Disable Search demo doesn't disable search."
### Bug description:
Clicking the Disable Search button in the demo does change the label to false, but in all 3 examples the search is still active.

### Link to demo:
http://angular-ui.github.io/ui-select/demo-disable-search.html

[2016-06-13 22:51] ahocquet commented on #367
I came upon this issue today and I've made a PR fix it : #1659
Be free to test it out and give me your feedback !

[2016-06-13 23:00] gilluminate commented on #1653
Having the same issue. +1

[2016-06-14 08:48] peterreisz commented on #880
I have a similar issue.

Plunkr: http://plnkr.co/edit/P2oKYO9Kx80Clog0IgnN?p=preview

Open the ui-select, the width is fine.
Resize the plunkr split window and open the ui-select again.
The search input field very long (width: 739px inline style in my case).

Versions:
Angular: 1.5.6
Bootstrap: 3.3.6
Ui-select: 0.18.0

[2016-06-14 10:04] DmitryKrekota opened #1660 "Choices not contain value that same with initial ng-model value"
### Bug description:
Choices not contain value that same with initial ng-model value

### Link to zip-file that contain the issue:
https://drive.google.com/file/d/0Bxtv10NlSOEbR3I5UWZPZDVvSFE/view?usp=sharing

### Link to screen record that contain the issue:
https://drive.google.com/file/d/0Bxtv10NlSOEbODhXNkJVZ18wem8/view?usp=sharing

### Version of Angular
1.5.0

### UI-Select
0.17.1

[2016-06-14 12:45] nehalist opened #1661 "Cannot create property '_uiSelectChoiceDisabled' on ..."
### Bug description:
[code]
Directly copied from the plunker example triggers "Cannot create property '_uiSelectChoiceDisabled' on string 'blue'" (respectively for all other colors in my array).

Additionally: the demo (http://angular-ui.github.io/ui-select/demo-tagging.html) triggers "Cannot read property 'length' of undefined" if you remove the existent tags.

### Link to minimally-working plunk

[2016-06-14 12:51] RUDIWER commented on #1660
Hello,

I have the same probblem !! Do you already have a solution ???

[2016-06-14 12:58] DmitryKrekota commented on #1660
I have solution to use $timeout, but this workaround is bad..

[code]

[2016-06-14 14:24] peterreisz commented on #1661
I have a similar issue:

Update the tagging example version to 0.18.0 and click inside the first ui-select.
The following error shows up in the javascript console for every item:

[code]

plunkr: http://plnkr.co/edit/SsCE6gnNQeSOtBx0lNld?p=preview

Versions:
angular: 1.5.0
ui-select: 0.18.0
bootstrap: 3.1.1

[2016-06-14 16:26] nlavergne commented on #1602
I'm using a watcher in my angular controller to "fix" this, triggered whenever the value of the model changes. This example supports coma only as a value separator, but can be adjusted to fit your needs.

[code]

The only thing I still have to figure out is how to have IE supporting line breaks in pasted value, but it has nothing to do with the current issue.

[2016-06-14 16:52] edriang commented on #389
Hi, wanted to share what I did in my project..

First commented the same line that mentioned @facesea:
`//            .attr('ng-if', '$select.open'); //Prevent unnecessary watches when dropdown is closed`

But also the major problem with ui-select is using it with `array | filter` syntax. As explained in this page [https://toddmotto.com/use-controller-filters-to-prevent-digest-performance-issues/]

[2016-06-14 17:46] jshearer commented on #1645
Hi @user378230, sorry for being so slow in getting back to you. Super busy here.

That workflow doesn't address the problem at all. Take this workflow instead:

1. Click on last ui-select
2. (ui-select dropdown opens with list of options)
3. Click on `Afghanistan`
4. (ui-select closes)
5. Click on ui-select to open
6. ui-select goes from displaying `Afghanistan` to nothing.

As a developer, I get

[2016-06-14 21:56] adaromu commented on #1647
I still see this issue. http://codepen.io/adaromu/pen/dXGwVG
OS: win10
Browser: Chrome, Firefox, Edge
Code version: 0.18

[2016-06-14 23:47] rohitpagariya commented on #846
+1, I am also seeing this behavior. See [plunkr](http://plnkr.co/edit/l8ffUF?p=preview)

I worked around this issue by manually escaping the values

[2016-06-15 00:04] tianxu0836 opened #1662 "The focus is not working correctly with tagging feature."
This code won't work good:
The tag can't be added smoothly.
Each time after I add a new tag, it will lose focus and I have to click back and forth multiple times to create a new tag.

`                <ui-select multiple tagging tagging-label="false" search-enabled="false" ng-model="vm.search" style="width: 300px;" title="Search...">
                    <ui-select-match placeholder="Search..." sty

[2016-06-15 09:27] Halfist opened #1663 "ui-select-match placeholder doesn't work with ng-bind"
**Bug description:** placeholder for ui-select-match works only with {{}} notation, not with best practices recommended ng-bind one. I use "data-" prefix for each non-standard HTML5 attribute, so HTML is valid for W3C validator, this shouldn't be an issue. Though, if it is, then this is one more issue.

**Plunker:** http://plnkr.co/edit/RfM10exQ4HdAOaqllKrc?p=preview.

**AngularJS:** 1.5.5.
**UI-S

[2016-06-15 10:15] user378230 commented on #1663
The placeholder is an attribute, so it can't be bound with ng-bind.

The ui-select is broken because of incorrect usage of ui-select-match, the following works:
[code]

[2016-06-15 10:19] user378230 commented on #1660
Can you please describe the problem in text as well through screen recording? (Reproduction steps, expectations etc.) For those who are not able to view the video.

[2016-06-15 10:59] user378230 commented on #1651
Can you rephrase as an feature request please?

[2016-06-15 11:22] Halfist commented on #1663
Closing the issue.

Thanks.

[2016-06-15 11:22] #1663 closed

[2016-06-15 12:31] rszczypka commented on #1661
Reporting the same issue:
Angular 1.5.6
ui-select 0.18.0

[2016-06-15 13:43] user378230 commented on #1608
Please don't +1 issues, you can use github reactions to express your support for a bug fix. In this case you may find it more constructive to submit a PR as the fix isn't too complicated.

[2016-06-15 14:43] peterreisz commented on #1661
Connected problem: ui-select modifies the data structure of the item, and it can travels back to the server. We have very strict server side validation and unknown properties are not allowed, so upgrading to version v0.18.0 broke several functions of our application.
It would be good to store the additional properties of the item somewhere else.

[2016-06-15 14:49] Jevonius commented on #533
This sounds like a duplicate of #1617 (and probably others) which is fixed in the latest commit in dist; it's effectively version 0.17.2, but the version number wasn't bumped - check the date element. The version I'm using is:
`Version: 0.17.1 - 2016-06-09T20:41:58.363Z` as of https://github.com/angular-ui/ui-select/commit/7ab5f175421e8d263e4e6c5eb38a215b4c515c42

[2016-06-15 15:37] user378230 commented on #846
The highlight filter is only provided as an example, it isn't expected to cover all use cases.

A improved/additional filter could be contributed via PR.

[2016-06-15 19:09] willisd3 commented on #1660
demonstrating the fact that the list of ui-select-choices will not include the one that matches the initial value of the ng-model: [Plunkr](http://plnkr.co/edit/kEw0l3)

[2016-06-15 19:49] willisd3 commented on #1660
Ok, more info.

Explicitly setting the remove-selected attribute to "false" on the <ui-select> element will prevent the initial ng-model value from being removed from the collection of choices, regardless of whether the 'multiple' attribute is set on <ui-select>. Whatever logic is being invoked to remove selected items from the collection of choices should probably check whether the multiple attri

[2016-06-15 20:20] silentFred opened #1664 "Basic example with google geocoding not working"
Hi there,

The geocoding example in the basic examples does not work (does not fire refresh or load any options). It also occasionally makes the searchable area 10pixels and thereafter it becomes unusable.

Link so plunkr: http://plnkr.co/edit/ajBKnQeecaqvgHeyAeBP?p=preview

[2016-06-15 20:26] silentFred commented on #1664
Turns out the refresh method was not referenced via ctrl. Created the fix here: http://plnkr.co/edit/YmQ39Nu5CgEzJwdUrBGt?p=preview

I think someone added some John Papa style and missed that method in the template ;)

[2016-06-16 07:14] amit-natani opened #1665 "multiple is not working for me."
multiple is not working for me. On plunker it is working fine. But in my application it is not working. Giving Error : "http://localhost:5100/community/selectize/match-multiple.tpl.html"

[2016-06-16 07:24] amit-natani commented on #1569
Which theme is suitable for multi select?

[2016-06-16 07:57] DmitryKrekota commented on #1660
willisd3, thanks for your info. With remove-selected="false" everything works fine for me.
[code]

[2016-06-16 11:09] user378230 commented on #1665
Selectize doesn't support multiple (there is not template)

Closing as duplicate of #295

[2016-06-16 11:09] #1665 closed

[2016-06-16 11:11] user378230 commented on #1664
You could submit a PR with a fix, the relevant file is: https://github.com/angular-ui/ui-select/blob/master/docs/examples/demo-basic.html

I can merge once its up.

[2016-06-16 11:28] user378230 commented on #1569
@amit-natani bootstrap or select2

[2016-06-16 11:32] user378230 commented on #1655
Your tagging function can return an object with some kind of colour indicator, then just your template to match.

See related: https://github.com/angular-ui/ui-select/issues/1491#issuecomment-196843775

If you update the issue with your working example it can be used for reference in future :smiley:

[2016-06-16 12:00] lewi12s commented on #1655
Simple working solution:
function from my controller:
[code]
my template html:
`<ui-select multiple tagging="vm.transformTag" ...`

edited match-multiple.tpl.html
[code]

But how to deal with updates of ui-select component via bower in this situation?

Thanks for reply :)

[2016-06-16 13:06] longzheng opened #1666 "Placeholder text is clipped to 10px sometimes"
### Bug description:
I've noticed the placeholder text in some occurrences if the ui-select directive is toggled hidden/show quickly after another.

Screenshot of clipped placeholder text
![image](https://cloud.githubusercontent.com/assets/484912/16117560/1c49c89a-3416-11e6-864d-069f3f3bec26.png)

I noticed in the inspector that the width of this text is exactly 10px

Looking at the source code, I

[2016-06-16 14:07] longzheng opened #1667 "ui-select multiple disabled state hides placeholder text incorrectly"
### Bug description:
When using ```ui-select in``` ```multiple``` mode, if ```ui-select``` is **disabled**, the ```ui-select-match``` placeholder text is incorrectly hidden using ```ng-hide```

Multiple, placeholder text, ui-select enabled
![image](https://cloud.githubusercontent.com/assets/484912/16119477/02f7ed5a-341f-11e6-83af-4c5bcaf79bea.png)

Multiple, placeholder text, ui-select disabled
![

[2016-06-16 17:03] jose-brito-ptc commented on #1640
Hi @user378230 why close this issue and label it "wontfix"? The solution above may not be ideal, since we are dealing with nested ng-repeat.

[2016-06-17 03:38] torstenrudolf opened #1668 "(tagging) paste not working if tagging-label="false" and tagging-tokens are set"
### Bug description:
when using the tagging feature paste is not working if `tagging-label="false"` and `tagging-tokens` are set. see [this plunker](http://plnkr.co/edit/kauNS7YjckRfi616k4PT?p=preview)

I believe this is because the paste event calls `ctrl.select(item)` (see [uiSelectController.js#L614](https://github.com/angular-ui/ui-select/blob/v0.18.0/src/uiSelectController.js#L614)) for each

[2016-06-17 16:45] yogeshgadge commented on #1650
Working fine for me in Firefox and IE11. I see Single select red bordered. Also see the muti select with red border.

[2016-06-17 19:15] GuilhermeMSilva commented on #880
+1

I have almost the same problem as @peterreisz.

When you resize the screen, angular adds "style='width: ...px;'" to the input, it varies according to the screen, but always the wrong size, bigger than it's parent.

Versions:
AngularJS -> v1.5.5
angular-ui-bootstrap -> Version: 1.3.3 - 2016-05-22
ui-select ->Version: 0.17.1 - 2016-06-09T20:41:58.363Z

[2016-06-17 20:53] gamebox commented on #1496
Thanks for that easy quickfix @hagayl

[2016-06-18 16:02] jspizziri commented on #1496
Thanks @hagayl!

[2016-06-19 18:26] stsatlantis commented on #1655
I would go even further with coloring and styling.
[code]
and change match-multiple.tpl.html as follows:
[code]

What do you think about this version?

[2016-06-19 21:05] jeroenbreen commented on #1660
I noticed that in 0.16.0 this was working properly. `remove-selected` works for me.

[2016-06-20 06:39] liuchaoxue commented on #526
aa

[2016-06-20 07:28] priyanka-obtainit commented on #1650
what about chrome, as I am testing it on crome on which it is not working.

[2016-06-20 11:08] andertun commented on #1269
+1

[2016-06-20 11:52] lewi12s opened #1671 "(tagging) minimum string length to create tag"
How to set minimum required string length for tag creation? For eg. I want to create tag (label in input bar) if string length is greater than 3.

I came up with workaround to add one if statement to tagging function:

[code]
but sometimes I get null value in my ng-model array.

how to handle this in proper way?

[2016-06-20 11:56] lewi12s commented on #1655
I think your solution is way more flexible than mine.

[2016-06-20 13:46] fiznool commented on #1548
Is there any workaround to restore the previous behaviour? This is preventing me from upgrading to the latest version of the library.

[2016-06-20 14:15] wescopeland commented on #1652
How in the world did this make it into production? I upgraded to 0.18.0 and literally every ui-select control in my application has regressed as a result of this problem.

[2016-06-20 14:47] fiznool opened #1672 "`removeSelected` removes any pre-selected item from dropdown"
### Bug description:

When linking the `ui-select` component to a model which points to an item in the items array, the preselected item is not displayed in the dropdown list.

### Link to minimally-working plunker that reproduces the issue:

http://plnkr.co/edit/bMlvGYc0Jfq3PX8NQcpv?p=preview

Notice that although 'Amalie' is preselected, she is not displayed in the dropdown list.

### Version of

[2016-06-20 14:48] fiznool commented on #1672
It's worth noting that this situation works fine with 0.17.1.

A temporary fix is to add a `remove-selected="false"` attribute to the `<ui-select>` tag.

[2016-06-21 06:26] kristerd commented on #116
It seems like this still is broken on 18.0?

[2016-06-21 08:29] bigbigworld commented on #1586
I also have this problem. thank for @pawankeer ,your  temporarily solution can fix my bug.

[2016-06-21 14:17] Nerielle commented on #1490
+1

[2016-06-21 17:28] pixeloution commented on #1668
I've just run into this issue myself -- going to have a look @ your pull request and hopefully it does the trick ;)

[2016-06-21 17:48] yaswanth89 commented on #1654
Observed the same issue v0.18.0 with angular v1.5.7

[2016-06-21 20:57] yogeshgadge opened #1674 "Select2 styles don't render dropdown is positioned 'up' and theme is globally set"
### Select2 styles don't render dropdown is positioned 'up' and theme is globally set

[ Plunkr ](http://plnkr.co/edit/RgSNxa4bGTwdjABOoyDH?p=preview)

Click on the Always Up Select

[2016-06-21 23:08] lukasolson commented on #1302
@wesleycho Any updates on this? I think we can at least drop the needs info/plunkr labels at this point. I'm happy to help in any way I can.

[2016-06-21 23:55] andyperlitch opened #1675 "Initially-selected option gets permanently removed from dropdown list"
### Bug description:

When an initial value is provided (e.g., ng-model is specified prior to the directive compiling), it is shown as chosen, but then does not appear in the list thereafter.

### Link to minimally-working plunker that reproduces the issue:
[The "basic" demo with a single line modification and version update](http://plnkr.co/edit/WloUx7Gb7J4NzaNtYmLs?p=preview)

### Version of Ang

[2016-06-21 23:58] andyperlitch commented on #1675
More info: I'm 100% sure it has to do with [lines 234-249 of uiSelectController.js](https://github.com/angular-ui/ui-select/blame/cf27a961c6a3e6a6f6f09107c67b11bba7fd3e3c/src/uiSelectController.js#L234-L249), but I'm not familiar enough with the codebase to make an acceptable fix.

[2016-06-22 00:12] andyperlitch commented on #1675
This issue actually duplicates #1660, so my apologies. I'll close mine, but perhaps my plunker and issue title will be of some use to people with the same problem..

[2016-06-22 00:12] #1675 closed

[2016-06-22 07:09] hearsid commented on #1674
To add more clarity to the issue here is some more information and screenshots.
When select2 theme is globally set and and ui-select-choices is set to position='up' then the styling will not be proper, to make the styling work select2 theme has to be manually added to ui-select by theme="select2" . Here is a specific plunker showing the issue clearly, http://plnkr.co/edit/PN9aMYx8ty1m1TN9td2Y .
Ho

[2016-06-22 07:40] hearsid commented on #1674
Here is the link for Pull request for the same, https://github.com/angular-ui/ui-select/pull/1676. Here is the plunk solving the same, http://plnkr.co/edit/PN9aMYx8ty1m1TN9td2Y

[2016-06-22 11:06] KrakenTyP-co commented on #499
Any progress???

[2016-06-22 13:41] guilhermemsilva commented on #880
I have a suggestion to resolve this, could someone please make a PR?

Here's my suggestion:

[Code changes.txt](https://github.com/angular-ui/ui-select/files/327997/Code.changes.txt)

[2016-06-22 16:41] hmillet opened #1678 "Bug - select width are incorrect when resizing"
### Bug description:
When you open a page with a "ui-select", all is fine. But if you resize your window, and then you want to open a select, the div shown has not the correct size. Sometimes very small, sometines huge

### Link to minimally-working plunker that reproduces the issue:

Simply http://angular-ui.github.io/ui-select/demo-bootstrap.html

### Version of Angular, UI-Select, and Bootstrap

[2016-06-22 17:21] Jefiozie commented on #1485
Hi @sumodhnair19,

So I had a look if I can reproduce this issue but unfortunately I cannot.
Here is a demo maybe you can check if it is already solved or if I have a wrong version.
Demo: http://plnkr.co/n9ZlgzUcLIfSKQMx13YB

![image](https://cloud.githubusercontent.com/assets/17835373/16276386/65252e46-38ae-11e6-8e5f-9cc7b76f3304.png)

[2016-06-22 18:34] Jefiozie commented on #1304
Added this fix.

[2016-06-22 18:58] mcantrell commented on #1661
also encountered the issue with:

    "angular": "~1.4.12",
    "ui-select": "angular-ui-select#~0.18.0"

downgrading to 0.17.1 fixed the issue.

[2016-06-22 19:02] timc13 opened #1679 "How to access ui-select controller?"
In following this thread https://github.com/angular-ui/ui-select/issues/201, I see people trying to access the `ui-select` controller with the `.controller()` method.

I'm trying this in the `postLink` of a wrapper directive and even if I use a timeout, I still cannot get a controller instance.  I've tried `el.controller('uiSelect')`, `el.controller()`, and `el.controller('ngModel')`

Is there any

[2016-06-22 19:07] guilhermemsilva commented on #1678
This problem theoretically have been resolved in pull request #1631 (https://github.com/angular-ui/ui-select/pull/1631)

But this problem still occurs to me aswell, as I replied in the issue #880, take a look there if you can.

[2016-06-22 19:12] hmillet commented on #1678
@guilhermemsilva thanks for answer, I will take a look at #880

[2016-06-22 20:52] luizvidoto commented on #1666
I have the same problem here, just removing this line fixes the issue.

[2016-06-22 21:39] hwangTPN opened #1681 "Typeahead selected item missing in drop down list."
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### select an Item by using typeahead search. Click the ui-select field again. You will find that

[2016-06-23 00:49] allanpoppe commented on #1681
I'm facing this issue too.

[2016-06-23 03:13] SincereJ commented on #224
@rasenplanscher , thanks . it's works .

[2016-06-23 07:06] kaareloun commented on #1653
+1

[2016-06-23 08:56] ivanaradojevic commented on #1444
@Narretz I'm still getting this issue, in case of having huge list. Here is the updated Plunker, with updated ui-select version as well: http://plnkr.co/edit/GZRDGUGe5UIlvBVz8YDv?p=preview

So the problem is when large amount of data needs to be loaded in the dropdown, if you click second time while ui-select tries to execute functions from the first request, it will return the same error in the c

[2016-06-23 11:02] bgadiel opened #1682 "Minimum Input Length not working?"
### Bug description:
I have ~1500 items in my drop down list in bootstrap modal.
When I show all the items in a drop down list, there is a delay of 2 seconds for every action the user does.
When trying to limit the amount of items to show by using 'minimum-input-length', there is no change (i.e - full list is displayed).
I tried debugging 'ctrl.activate' function in select.js and I noticed that in

[2016-06-23 11:23] refaelos commented on #224
@rasenplanscher I'm still getting this error on angular 1.5.6 and angular-ui-select 0.18.0.

Here's my code:
[code]

Can you please tell me what's wrong with it?

[2016-06-23 12:24] marcbachmann commented on #1560
I'm currently monkey-patching the `$animate.enabled` method.
And I'm using `$animateProvider.classNameFilter` to enable animations on specific elements.

[code]

[code]

[2016-06-23 14:48] static-max commented on #1681
Same for me, worked with 0.14.8 and stopped working after upgrading to 0.17.1

[2016-06-23 16:12] ehsaanwelcome commented on #1681
same for me

[2016-06-23 16:48] hwangTPN commented on #1681
@allanpoppe not yet. I just downgraded to 0.16.1 as my feature is requested in rush.

[2016-06-23 18:52] nivek91 commented on #499
+1

[2016-06-23 19:16] felipsant commented on #1661
Same problem here. Thanks mcantrell for the tip.

[2016-06-24 02:25] jianyi0115 commented on #1124
+1

[2016-06-24 03:28] jianyi0115 opened #1683 "in mobile(andriod), the search input width is not correct"
in mobile mode, the search input width is not correct.

this is the mobile(andriod) screenshot.
![inmobile](https://cloud.githubusercontent.com/assets/8625740/16326984/2b89d9ce-39fe-11e6-8260-b0321f7c95dd.jpeg)
this is from the chrome emulator, change the Zoom level ,you can see it. maybe this issue is cause by
the width caculate in  ctrl.sizeSearchInput function. can you just add a option to disa

[2016-06-24 05:20] hiteshbalraw opened #1684 "ui-select-no-choice doesn't work for the multiple"
Hi,

I am using version 0.17.1. As, described in the documentation I have used [ui-select-no-choice](https://github.com/angular-ui/ui-select/wiki/ui-select-no-choice) but it seems like it is working for single only, not for the muliple.

Is above behaviour is expected?

Also, I have tried header and footer also but it looks like it is not part of 0.17.1(as mentioned https://github.com/angular-ui/u

[2016-06-24 10:39] p10 commented on #1672
I think it's not a bug but feature ;-) https://github.com/angular-ui/ui-select/commit/3ad084f

You can switch it back to false globaly in configuration section:

[code]

[2016-06-24 11:19] fiznool commented on #1672
@p10 I tried this but it didn't work... I think the config block is run after the uiSelectController is created, and so [this code](https://github.com/angular-ui/ui-select/blob/7ab5f175421e8d263e4e6c5eb38a215b4c515c42/dist/select.js#L286) which caches the `removeSelected` flag is still `true`.

[2016-06-24 11:20] user378230 commented on #1684
See [CHANGELOG.md](https://github.com/angular-ui/ui-select/blob/master/CHANGELOG.md) support for bootstrap multiple added in v0.18.0 (no select2 no choice support yet - please create PR if you like to add)

Header footer has problems in angular v1.5 see end of #1323 for details

[2016-06-24 11:20] #1684 closed

[2016-06-24 11:31] #1668 closed

[2016-06-24 11:52] user378230 commented on #1682
Your plunkrs are empty :disappointed: did you try in v0.18.0?

[2016-06-24 11:53] user378230 commented on #1679
You mean like: [Accessing $select](https://github.com/angular-ui/ui-select/wiki/Accessing-%24select)?

[2016-06-24 11:57] user378230 commented on #1672
@dondi any chance you could take a look at this?

[2016-06-24 11:58] user378230 commented on #1681
Possible duplicate #1672 ?

Please include a plunkr as requested in the issue template.

[2016-06-24 12:18] Xyroid opened #1685 "select2 with bootstrap example of multiple selection is not working"
I reached here after searching for select2 for AngularJS application. The example hosted on github.io is not working properly. I can't see the selected values in tagged format. Also rendered UI is messed up.

Example Link: http://angular-ui.github.io/ui-select/demo-select2-with-bootstrap.html
Link to minimally-working plunker that reproduces the issue: http://plnkr.co/edit/DVIyN8YF5fC3m5UZsSr5?p=p

[2016-06-24 13:52] user378230 commented on #1640
As stated above the `ng-repeat` directive doesn't support expressions and `repeat` in `ui-select` functions in the same way.

The change in the `ui-select` library was implemented to optimise/improve performance of the library which I affects more users than supporting this edge case. That is why I marked as wontfix :)

[2016-06-24 14:14] jc-vogel opened #1686 "bug in multiple select?"
When using multiple select, I get an error about an undefined property: $select.selected.
when rendering ui-select (multiple) the $select.selected is reset.
I think the line '$select.selected = ngModel.$viewValue;' should come before the if-statement. Otherwise, if it's not an array, it will be fixed, and immediately overwritten with the wrong or undefined data. Or am I missing something?

select.

[2016-06-24 15:01] bgadiel commented on #1682
Which variable represents my plunkrs?
If you mean container[0]. then in both cases ( Plunker / my app) it has data.
Not sure why function 'enabled' returns a value... I'll try 0.18 as well.

[2016-06-24 16:35] dondi commented on #1672
OK I'll investigate.

[2016-06-24 17:09] timc13 commented on #1679
not exactly...that only works for a directive that is on the `ui-select` element.  i have a `showError` directive that's on a parent used to toggle a css class on an outer `div`:

[code]

the HTML like so:
[code]

This works for `input` and `text` and `select` but i cannot seem to access the `ngModelController` from `ui-select`

[2016-06-24 19:11] joelbinn opened #1689 "Initially selected item not in list of choices"
### Bug description:
I am using ui-select where there is a pre-selected item (using ui-select-match).
But, when using ui-select with a pre-selected item, the pre-selected item is not included in the choices of the ui-select-choices list. In addition, it does not become selectable in the list if the selection is changed.

However, this works fine in 0.17.1, so this must be something that has been i

[2016-06-24 23:06] karol-gontarski commented on #756
+1

[2016-06-25 14:01] user378230 commented on #1689
Possible duplicate of #1672?

[2016-06-25 14:28] druxax commented on #1661
0.17.1 - haven't this problem, but please fix 0.18+

[2016-06-26 06:23] bgadiel commented on #1682
version 0.18.0 does not change anything.

[2016-06-26 08:44] dondi commented on #1672
Quick update: I have been able to replicate this behavior and have written a unit test for it. Based on what I can replicate, the previous version (0.17.1) indeed does not remove the item from the dropdown, but the highlighted item when the dropdown is displayed for the first time does not match the pre-selected object either (initial highlighted item is always the first one).

Is that what others

[2016-06-26 09:35] fiznool commented on #1672
From my point of view, I've upgraded from 0.14.1 where the preselected item
was correctly displayed and highlighted, my vote would be to revert to this
expected behaviour. Thanks!

[2016-06-26 14:25] #1674 closed

[2016-06-26 15:04] user378230 commented on #1682
Oh, you aren't using the `refresh` functionality though:

|---|---|---|
| `minimum-input-length` | **Minimum characters required before `refresh` function is triggered** | integer (or interpolated expression: `{{ 1 + 1 }}`) |

(Wiki: https://github.com/angular-ui/ui-select/wiki/ui-select-choices)

[2016-06-26 15:08] user378230 commented on #1679
For more general Angular questions you might have more success on stackoverflow

[2016-06-26 15:17] bgadiel commented on #1682
Could you be more specific where I should use it?
Didnt see it being used on AngularJS ui-select's Plunkr exmaple.

[2016-06-26 16:02] user378230 commented on #1682
http://angular-ui.github.io/ui-select/demo-basic.html (first ui-select)

[2016-06-27 01:21] dondi commented on #1672
OK, potential fix available at https://github.com/angular-ui/ui-select/pull/1690 …I toggled between `master` and this to make sure that the incorrect behavior reported here was definitely gone in the new version. All unit tests still pass, plus one more unit test was added specifically for this situation. Hope this does the trick, let me know :)

[2016-06-27 01:22] dondi commented on #1672
BTW @fiznool I was able to get this PR to implement the fully correct behavior where the pre-existing selection in the model is indeed highlighted from the get-go in the `ui-select` element. Thank you!

[2016-06-27 05:29] joelbinn commented on #1689
Yep, it is a duplicate. Closing this issue.

[2016-06-27 05:29] #1689 closed

[2016-06-27 14:42] antch commented on #1652
Yeah, this is pretty serious, options never show up in any of my controls. Back to 0.17.1 I guess.

[2016-06-27 16:45] yogeshgadge commented on #1298
I am going with the following hack for now.
[code]

[2016-06-27 17:50] rasenplanscher commented on #224
@refaelos
Actually, I'm not using this at the moment, so I cannot easily take a deep look. That being said, I don't see a reason why you should get this error – looks ok to me. Sorry that I cannot help you right now. In your place, I'd debug the whole setup proces start to finish to see where unexpected behaviour starts; just edit the ui-select files in node_modules ;)

An additional note: you do

[2016-06-27 19:09] guilhermemsilva commented on #880
I have an easier solution, that worked for me:

.ui-select-search {
    width: 100% !important;
}

(yes)

[2016-06-27 19:10] guilhermemsilva commented on #1678
I have an easier solution, that worked for me:

.ui-select-search {
    width: 100% !important;
}

[2016-06-27 20:54] refaelos commented on #224
@rasenplanscher thanks. I'll get it fixed.

[2016-06-27 23:27] Samic8 commented on #1502
I have replicated the issue in our own web app and in the plunkr linked by @KrakenTyP-co

[2016-06-28 03:12] aselby commented on #1649
I've got the same issue ... ever fine an answer ?

[2016-06-28 04:25] that1guy commented on #1661
This issue still reproduces with 0.17.1 for me.  See plunker here:

http://plnkr.co/edit/p4AYyEJ8XVmAjvVddx6l?p=preview

[2016-06-28 04:53] ProxyChain commented on #1649
@aselby I was forced to switch to regular jQuery-based select2 with no Angular bindings - not the ideal solution, but I wouldn't count on this being resolved any time soon unfortunately

[2016-06-28 07:30] bgadiel commented on #1682
The example shows using GET on refresh. I don't use GET as I already have all the data in 'items'.
Could you please help modifying my plunker so it will use min-characters correctly?

[2016-06-28 07:41] r-navarro commented on #1661
Ui-select loop over object in 0.18.0.

`<ui-select-choices repeat="item in items"`
where items is something like :
`var items=[];`
`..loop ..`
`items.push({key:value})`

Then to have a nice display don't forget to print only the value :

`<div data-ng-bind-html="item.key | highlight: $select.search"></div>`

Tips to send only the selected value and not the whole JS object you can do something like

[2016-06-28 09:36] kristerd commented on #343
@wesleycho I don't understand how this is doable using the refresh functionality, can you please elaborate?

[2016-06-28 11:09] Jefiozie commented on #1241
If i'm correct you have 2 problems. One is the activeindex (as issue is created for) is not cleared when pressing the clear button.
And the second problem is that you would expect that a error would be trowed as described on [line59](https://github.com/angular-ui/ui-select/blob/master/src/uiSelectController.js#L59)? (uiSelectMinErr)

[2016-06-28 11:12] mharmuth commented on #1672
@p10 For me, it works when changing the value to `false` in configuration. Thanks ;)

[2016-06-28 12:12] harry-kalligeros commented on #1681
A quick workaround is to make your markup like this:
`<ui-select remove-selected="false" .... >`

[2016-06-28 13:04] evenicoulddoit commented on #389
@stringbeans you're right, the latest infinite scroll plugin uses the window by default, but it *does* allow you to modify the container. The scope properties are:

[code]

However... I've tried in vain to set it up to work correctly. You need to pass a selector to `infiniteScrollContainer`, and neither using `.ui-select-choices-group` nor `#ui-select-choice-0` (which it looks like the old version

[2016-06-28 13:34] yogeshgadge commented on #88
I am going with a pagination support that works on scroll. It could be the raw list or the filtered list which may also be bad.

[Plnkr](http://plnkr.co/edit/xtpV5G?p=preview)
[Detailed solution on stackoverflow](http://stackoverflow.com/a/38077388/2103767)

[2016-06-28 13:41] antch commented on #1225
Actually, `on-select` is called with `undefined`, not `null`.

[2016-06-28 14:40] #1672 closed

[2016-06-28 18:45] NateJBeck commented on #1661
Reporting same issue with: `angular 1.4` + `ui-select 0.18.0`
Downgrading to `0.17.1` did not work for me

Console error occurs when selecting an element from the tag dropdown

[2016-06-28 21:04] that1guy commented on #1661
I've finally downgraded to `0.16.1` and everything is working as expected.

[2016-06-29 08:50] offtopic opened #1693 "Tagging mode broken in latest release"
In ui-select v0.18.0 the Tagging mode is broken and causes more than 10 digest loops.
Steps to reproduce with plnkr:
http://plnkr.co/edit/SNOI0DmFDAah2AvwHseY?p=preview

1) type `"a"` `<Enter>`
2) type `"aa"`
3) Look at the console:

`VM3851 angular.js:13236 Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
Watchers fired in the last 5 iterations: [[{"msg":"{active: $select.isA

[2016-06-29 11:32] JimiC commented on #1254
Had the same issue and I resolved it by setting `append-to-body="false"`.

[2016-06-29 12:13] bgadiel commented on #1682
Is the performance issue related to ng-repeat creating too many watchers?

[2016-06-29 13:13] nesinervink commented on #1049
Problem persists in v0.18.0 and this push still solves it.

[2016-06-29 14:13] Jefiozie commented on #1682
I think this is the same issue as you have on stackoverflow.
Let us continue here with the discussion?

[Stackoverflow Link](http://stackoverflow.com/questions/38077516/slow-behaviour-of-angular-ui-selects-drop-down-list-when-big-list-of-items-in-m)

[2016-06-29 14:17] robertocan commented on #533
+1 0.18.0

[2016-06-29 18:31] amitmawkin opened #1694 "how to add a name field to the ui-select directive"
On Submission of form cant do things like

form.xyz.value

Sorry If this has been answered before.. , Could not find a clear solution to this

[2016-06-30 06:03] Jefiozie commented on #1653
Is this not a duplicate of #1672?

[2016-06-30 09:13] fiznool commented on #1672
@dondi I've just tested with a manually created build using `gulp` and all works nicely, thanks!

Could you cut a new release? I'm installing using bower and so I need the `dist` folder to contain the latest code in order to update my codebase properly.

[2016-06-30 10:19] jukkasi commented on #1661
+1

Angular 1.5.7 & ui-select 0.18.0

[code]

[2016-06-30 10:21] dondi commented on #1672
Greetings @fiznool —Glad to hear your tests look good! I will have to defer to @user378230 with regard to releases.

[2016-06-30 13:19] LewisCooper4 commented on #1654
I have also observed this issue v0.17.1 and angular v1.4.7

[2016-06-30 16:22] gilluminate commented on #1653
well, since this thread started 17 days ago, and that one started 10 days ago. I'd wager that it is a duplicate of this. 😆

[2016-06-30 18:02] josephgeesen commented on #413
I was getting the same error message when I clicked on a ui-select that had append-to-body set to true.

I was able to fix it by modifying line 959:
`$document.find('body').append(element);`
to:
`$timeout(function(){$document.find('body').append(element)});`

[2016-06-30 18:06] Jefiozie commented on #1653
Sorry for that..but the  good thing is that there 's a fix now just wait for a release.

[2016-06-30 18:32] bgadiel commented on #1682
sure.
I am not sure how to fix my issue.
So at the monent I am thinking of switching to diff library.
If you have any ideas how to fix, I would love to try them out.
Thanks,
Gideon
בתאריך 29 ביוני 2016 5:13 אחה״צ,‏ "J.Bosch" <notifications@github.com> כתב:

[2016-06-30 19:32] Jefiozie commented on #1682
A possible way forward with the performance is to load +/- 25 items and when the user start searching lookup the value in the complete list of 1500+. Second I think I have seen some comments that track by $index will help (don't know for sure).

On the min length maybe have a look at #274 or maybe @user378230 has a idea.

[2016-06-30 20:13] vamshi4001 commented on #169
+1

[2016-07-01 12:42] michahell commented on #258
```ng-required``` did not work for me. Another ugly hack is to create a regular text input directly below the ui-select, give it the exact same ng-model and put a ```required``` on that. give it a CSS class that stays visible but that actually hides it.

[code]

[2016-07-01 15:21] hughanderson4 opened #1695 "allow-clear="true" does not work when tagging and reset-search-input="false" are specified"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:
`allow-clear="true"` does not work when `tagging` and `reset-search-input="fa

[2016-07-01 15:21] hughanderson4 commented on #1695
I have solution for this.  Pull request is forthcoming...

[2016-07-04 09:52] Tim-Erwin commented on #1666
Same problem. For me the width is always 10px. Removed the line.

[2016-07-05 07:45] kevinbluer commented on #1685
Hey @Xyroid, I'm not sure about the rendering issue, but if you need to fix the items not "rendering properly", you can update the **ng-bind** within the **ui-select-match** as per the following:

[code]

Hope that helps!

[2016-07-05 15:06] sarathkumar6 opened #1698 "ui-select search-enabled does not evaluate the condition specified whenever there is a change of value"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:

### Link to minimally-working plunker that reproduces the issue:

### Versio

[2016-07-05 15:09] sarathkumar6 commented on #1698
code:
search-enabled="companies.available.length > 6"

Description:
The requirement is that the search box should only appear if there are more than 6 names in the drop down. I have two different modes (admin and employee) when I switch between modes the condition specified in the search-enabled attribute is not evaluated until I refresh the page after switching to either admin or employee

<ui-se

[2016-07-05 15:36] user378230 commented on #1698
Did you try `search-enabled="{{scsc.companies.available.length > 6}}"`?

[2016-07-05 15:45] sarathkumar6 commented on #1698
user378230 I tried it throws me CEU dialog error

[2016-07-05 20:10] sh977218 opened #1699 "Is there any place that shows when next release will be?"
Is there any place that shows when next release will be?

[2016-07-05 20:55] tiffanywei commented on #621
+1, would like an option to display an aggregation (eg sum) in the input box instead of the selected matches.  Items would remain in the dropdown after selected with a checkmark or other style to indicate they are selected.

[2016-07-05 22:08] JCherryhomes commented on #1660
Another issue related to this occurs when you press the 'Enter' key to make your selection. If you use your mouse to make selections after making a selection using the 'Enter' key you will notice that the item selected using the 'Enter' key remains hidden until you make another selection using the 'Enter' key.

The remove-selected attribute fixes this as well.

[2016-07-05 23:47] tiffanywei commented on #1666
Can this be fixed soon? Using ui-select via rails-assets pipeline so I can't simply remove this line for my project.

[2016-07-06 06:32] JudeAntony commented on #295
+1

[2016-07-06 06:54] yeluoqiuzhi opened #1701 "Lost default selected element in 0.18.0"
### Bug description:
Lost default selected element in 0.18.0.
as you see in my plunker,first element would disapear in the <ui-select-choices> list
### Link to minimally-working plunker that reproduces the issue:
http://plnkr.co/edit/GouR6xLD7dPfanOR2uuG?p=preview

[2016-07-06 07:20] user378230 commented on #295
Please don't +1, use git hub reactions if you must. Better yet, consider submitting a PR! :smiley:

Thanks

[2016-07-06 12:56] tbanjos opened #1702 "Keyboard only appears on iPad after tapping twice on select field"
When I open an application using ui-select with bootstrap theme on iPad, I tap on the select field and the field is focused but the keyboard is not displayed. I have to tap a second time to have the keyboard displayed and be able to type.
This only happens the first time after the page is loaded, the next times I only need to tap once on the field and the keyboard is displayed correctly.

It can b

[2016-07-06 14:22] user378230 commented on #1702
Duplicate #603

[2016-07-06 14:22] #1702 closed

[2016-07-06 14:23] user378230 commented on #1701
Duplicate #1660

[2016-07-06 14:23] #1701 closed

[2016-07-06 14:24] user378230 commented on #1699
No, there is not.

[2016-07-06 14:24] #1699 closed

[2016-07-06 14:49] rodneicouto commented on #1386
I am adding the initial value. It is selected properly, but disappears from the list. Any idea?

[2016-07-06 15:00] user378230 commented on #1386
@rodneicouto #1672

[2016-07-06 16:20] wholypantalones commented on #514
There you go. https://plnkr.co/edit/Oi43dM?p=preview

[2016-07-06 19:15] benjaminapetersen commented on #1678
Continue to see this issue as well.

[2016-07-06 21:25] cesar-oyarzun-m opened #1703 "Tagging tokens IOS not working properly"
Hi, I'm using the library on ionic project everything works ok but the tagging-tokens has some issues I'm only using space and , but   `<`  characters do the same effect. Here is my html

     <ui-select multiple tagging tagging-label="false"  ng-change="showSave()" tagging-tokens="SPACE|," ng-model="thing.labels" theme="bootstrap" title="Enter a Label">
                <ui-select-match placeholde

[2016-07-07 06:11] karthikeyar9 commented on #1180
Hi its not getting updated with ng-model in my application I need select to have 2 way data binding. can anyone help me how to achieve this. Thanks in advance

[2016-07-07 10:02] stefannikolic commented on #1608
@user378230 Hi I created a Pull request for uiSelectNoChoice support for Select2 theme: https://github.com/angular-ui/ui-select/pull/1704

Can you please review it and see if it is ok?

[2016-07-07 12:02] nkovacic opened #1705 "Interpolation for repeat not working after 0.17.0"
There is a problem with inserting repeat arguments with interpolation ({{}}), which worked on 0.17.0 version of ui-select.
Creating a generic form with [angular-formly](http://angular-formly.com/#/example/integrations/ui-select-angular-1-4) plugin is affected by this bug, beacuse you cannot set the repeat of ui-select with code.

Example: http://plnkr.co/edit/RnICBMiD89Agmt4BUgGn

[2016-07-07 12:19] nkovacic commented on #1693
+1 Have the same issue.Occurs when new tag is created and then you start typing the same tag again.

[2016-07-07 13:50] BrianLenzo commented on #1698
This issue is a duplicate of https://github.com/angular-ui/ui-select/issues/505

This is a demonstration of the problem: http://plnkr.co/edit/5MloUIxH1kQma6vfvHBB?p=preview

I tested it with all ui-select from 18.0 back to 12.1.  It is present in all versions.

[2016-07-07 14:04] user378230 commented on #1705
Duplicate #1640

[2016-07-07 14:04] #1705 closed

[2016-07-07 14:26] #1608 closed

[2016-07-07 14:28] betonetotbo opened #1706 "BUG - Repeated ui-select with filter function on choices "kill" selected item"
Example and extra details on:
http://codepen.io/betonetotbo/pen/QErOmv

[2016-07-07 14:44] user378230 commented on #1706
Duplicate of #1672 ?

[2016-07-07 15:26] brianfeister commented on #1703
This is likely because of a conflicting reference for the internal map we store for keycode that comes from the `keyup` event being different between web and mobile. To be honest though, I know that mobile is not necessarily a target so I'm not sure if @user378230 wants to support this.

https://github.com/angular-ui/ui-select/blob/f39b8680d325a767da543dd847b2fe886487a856/src/common.js#L1

[2016-07-07 16:01] #505 closed

[2016-07-07 16:01] user378230 commented on #1698
Closed by #1707 via #505, thanks @BrianLenzo!

[2016-07-07 16:01] #1698 closed

[2016-07-07 16:04] jsandeepm opened #1708 "ui-select is not working with Template Strings(ES6)"
### Bug description:

ui-select is not working with **angular template strings** (ES6). Does this feature supported in ui-select?

example :

[code]

Angular: 1.5.5

UI-Select: 0.18.0

Bootstrap/Select2/Selectize CSS (if applicable): select2 theme

[2016-07-07 18:10] user378230 commented on #1708
Please provide a plunkr or similar as requested in issue template.

[2016-07-07 18:54] #967 closed

[2016-07-07 19:44] giovanibarili commented on #1693
+1 Have the same issue.Occurs when new tag is created and then you start typing the same tag again.

[2016-07-07 22:15] suricactus commented on #1693
+1 can confirm, same issue here.

[2016-07-07 23:04] user378230 commented on #1693
Thanks for the report, we have a reproduction scenario now so we need a PR rather than +1's :smiley:

[2016-07-08 00:48] minyoungk opened #1711 "multiple ui-select is not working in <td> tag"
I have this source.

[code]

this source don't show Check windows of selectbox.
How do I?
please help me.

[2016-07-08 00:51] #1711 closed

[2016-07-08 10:09] yobre commented on #1661
+1

[2016-07-08 10:28] evenicoulddoit commented on #1652
If you want to fix this in the mean (because it was quicker for me to do this than to revert to a known working version), you can add:

[code]

[2016-07-08 12:48] Xyroid commented on #1685
@kevinbluer Yeah it worked, thanks mate!

[2016-07-08 13:35] Jefiozie commented on #1682
@bgadiel  Did you already had a fix/ workaround for the min-length?

[2016-07-08 14:59] akempes commented on #1693
When I remove the `disabled: $select.isDisabled(this)` from the bootstrap/choices.tpl.html template  everything works fine again.

I tracked it down to the `ctrl.activate` function. If the `ctrl.open = true;` is removed the problem isn't appearing...

This is not a fix but maybe someone else can use this as a lead... I'm not familiar with the code.

[2016-07-08 16:14] user378230 commented on #1693
@akempes That's exactly what we needed! Thanks!

Here is an updated plunkr http://plnkr.co/edit/VmiHZuyebEUc5JcHayF5?p=preview

Adding a check if its a tag appears to have resolved it.
[code]

Can I get confirmation this works for people?

/ping  @suricactus @giovanibarili @nkovacic @offtopic

[2016-07-08 17:47] akempes commented on #1693
@user378230 It's working for me! Thanks!! I just hadn't got the time to really dive into this problem...

[2016-07-08 18:00] giovanibarili commented on #1693
It's not working

[localhost-1468000642082.txt](https://github.com/angular-ui/ui-select/files/354812/localhost-1468000642082.txt)

[2016-07-08 19:03] user378230 commented on #1693
@giovanibarili are you using the updated version in **my** plunkr?

It appears to work for @akempes...

[2016-07-08 19:07] #1304 closed

[2016-07-08 19:29] giovanibarili commented on #1693
@user378230, no, i'm tested in my application. At real, my problem is occur when selected an item and digit any words.

[2016-07-08 20:05] user378230 commented on #1693
@giovanibarili you did not use my updated plunkr to test then? I updated my plunkr only... :confused:

[2016-07-08 20:48] robertocan commented on #1661
+1
Angular 1.5.5
ui-select 0.18.0

[2016-07-08 20:55] betonetotbo commented on #1706
Yes, can be dupplicated.

I tested using `remove-selected=true` attribute as a workarround.

[2016-07-08 21:39] kotpal commented on #1711
Don't why you closed this @minyoungk
I am also facing this issue. Looks like append-to-body is also not working and the dropdown is being clipped

[2016-07-08 23:19] #1706 closed

[2016-07-09 00:51] #1200 closed

[2016-07-09 00:51] #1269 closed

[2016-07-09 00:51] #1693 closed

[2016-07-09 01:03] user378230 commented on #1661
Fixed by #1712

[2016-07-09 01:03] #1661 closed

[2016-07-09 01:04] user378230 commented on #514
Closed by c01d363 (#1712)

[2016-07-09 01:04] #514 closed

[2016-07-09 01:49] user378230 commented on #1049
This should be resolved by #1709, please update this issue if it does not (when the next version is released).

[2016-07-09 01:49] #1049 closed

[2016-07-09 07:52] user378230 commented on #1652
Could someone describe this problem here in more detail? If there are no items then there doesn't need to be a drop down? I assume I am missing something! :smiley:

@wescopeland whinging doesn't help solve issues, detailed bug reports and PRs do though! Consider helping out if via a PR if it's causing a big problem for you, will be happy to review :)

[2016-07-09 16:36] hmillet commented on #1678
I've just tested the @guilhermemsilva workaround.
This works for me. So thanks a lot for that :+1:

But I still waiting for a real fix.

[2016-07-10 09:38] nehalist commented on #1661
@user378230 bug still exists in `v0.18.1`.

[code]

Still triggers `Cannot create property '_uiSelectChoiceDisabled' on string 'red` (or any other color).

[2016-07-10 11:47] user378230 commented on #1661
Impossible, the word `_uiSelectChoiceDisabled` doesn't exist in `select.js` any more in [select.js](https://github.com/angular-ui/ui-select/blob/master/dist/select.js) :wink: *(Check for yourself)*

Please test more thoroughly before posting in issues. Thanks! :+1:

[2016-07-10 11:53] nehalist commented on #1661
Indeed, my bower update went wrong and I still used a previous version. My bad, sorry.

Everything works fine now. Thanks!

[2016-07-10 19:57] evenicoulddoit commented on #1652
I'll try and make a short reproducible example tomorrow if I get the chance, but I also found this when I had only one result. The problem with the zero results case however is that the search is hidden, and I was serving the results up using API queries

[2016-07-10 21:08] user378230 commented on #1435
Closing due to lack of update & no plunkr.

[2016-07-10 21:08] #1435 closed

[2016-07-10 21:14] user378230 commented on #188
Closing as a not very useful enhancement.

[2016-07-10 21:14] #188 closed

[2016-07-10 21:16] user378230 commented on #1653
Should be resolved as of `v0.18.1` see PR linked in #1672

[2016-07-10 21:16] #1653 closed

[2016-07-10 21:21] #871 closed

[2016-07-10 23:53] user378230 commented on #1654
Note to self: default `remove-selected` to `false` for single select mode

[2016-07-11 07:11] #1634 closed

[2016-07-11 07:12] #1616 closed

[2016-07-11 07:14] user378230 commented on #1612
For reference in #1433 I wrote

[code]

[2016-07-11 07:14] #1612 closed

[2016-07-11 07:16] #1577 closed

[2016-07-11 13:41] user378230 commented on #1660
Closing as duplicate of #1654

[2016-07-11 13:41] #1660 closed

[2016-07-11 14:00] user378230 commented on #1654
This should be resolved by #1690 (v0.18.1) please update this issue with new plunkr if not.

[2016-07-11 14:00] #1654 closed

[2016-07-11 18:09] user378230 commented on #1708
Closing due to lack of info/update

[2016-07-11 18:09] #1708 closed

[2016-07-11 18:10] user378230 commented on #1686
Should be resolved by #1709 closing.

[2016-07-11 18:10] #1686 closed

[2016-07-11 18:13] user378230 commented on #1671
You still need to return something if length > 3

[code]
If you are, and you're getting a problem with null values post a plunkr example.

[2016-07-11 18:13] #1671 closed

[2016-07-11 18:18] user378230 commented on #1404
Closing in favour of #389 & #648

[2016-07-11 18:18] #1404 closed

[2016-07-11 19:04] Jefiozie commented on #1484
Is this the fix you are looking for is so let me now I will commit this fix.

[Link to possible fix](https://plnkr.co/edit/yZId6plNaBbIeL26k0KS?p=preview)

[2016-07-11 19:21] luzrafaelf commented on #1484
Indeed, this fix solves my problem! Thank you!

[2016-07-11 19:33] BrandonNoad commented on #855
+1

[2016-07-11 19:33] Jefiozie commented on #1484
Okay I will commit this change later this week. Want to add some unit tests for this adjustment.
If you cannot wait on that check my plunker there is the source.

[2016-07-11 20:06] Skinner927 commented on #1602
You should instead be doing
`<ui-select multiple paste="onCountriesPasted" ng-model="country">`

Paste needs a reference to a function on scope.

[2016-07-11 23:37] zgbjgg commented on #258
Hello guys!,

I've solved this to use in one of our projects, you can find the library working here:

https://github.com/zgbjgg/ui-select/tree/ng-required

Basically, I did a change to observe the ng-required, and change to false when the model is not empty, otherwise is required (set to true),

I hope this can be helpful

:)

[2016-07-12 05:06] zacyang commented on #499
Is this problem resolved or not?

[2016-07-12 13:03] ndk- opened #1719 "tagging single with tagging-label="false" not working properly"
### Bug description:
When tagging is enabled for a single select mode with tagging-label="false", ui-select works as expected for custom input.

At the same time, selecting something from the list does not work properly: it only allows to select once.
After selecting something from the list the second time nothing happens.

### Link to minimally-working plunker that reproduces the issue:
http://pl

[2016-07-12 13:42] stefanmeschke commented on #1496
If you leave tagging-label blank it isn't possible to add anything which is not in the list of items. I need the ui-select for selecting an item or add a new item.

[2016-07-12 13:47] woolf864 commented on #533
there is another solution:

`ui-select(multiple='', ng-model=data.bind, theme='bootstrap' ng-class="{ 'empty-select': data.bind.empty }")`

and in css:

[code]

in this solution input does'not have 100% width for all the time

[2016-07-12 14:03] rafaelhz commented on #1682
I solve that using a LimitTo, checking  the search length:

` limitTo: ($select.search.length <= 2) ? 0 : undefined"`
[code]

[2016-07-12 14:09] skimbels opened #1720 "Feature request: Maintain active item index when not closing on select"
When selecting an item and the select is configured to remain open on selection, it would be great if the next option in the list is selected rather than the first element each time.

This is especially apparent when navigating using the keyboard.

[2016-07-12 15:00] bgadiel commented on #1682
Great work!
בתאריך 12 ביולי 2016 5:04 אחה״צ,‏ "Rafael Zeffa" <notifications@github.com>
כתב:

[2016-07-12 15:22] alexbrad opened #1721 "All items are re-rendered when filtering or adding items to the array"
When filtering or changing the array of items externally (by either adding or removing items), all the items are re-rendered. This happens because of the _GroupNgRepeatExpression_. Groups are tracked by $$hashKey and new groups are created whenever the array changes.

A solution would be to track groups by group name, since it is unique by definition. This can produce a significant performance imp

[2016-07-12 15:47] aaronroberson commented on #1496
Can someone create a new PR please?

[2016-07-13 07:26] vlio20 commented on #1721
+1

[2016-07-13 16:42] viniciusgava commented on #1180
Hello @karthikeyar9, are you trying to select two values by the model in multi-select? If yes, I had this problem and after some time trying to resolve it, I decided to remove ui-select and use a normal multi-select(html) and after that, the multi-select started work.

[2016-07-13 17:37] felipexw commented on #221
+1

[2016-07-13 19:07] luzrafaelf commented on #221
+1

[2016-07-13 20:21] danieldaugherty commented on #1666
+1

Removing the line also fixes the issue for me.

Submitted PR [#1726](https://github.com/angular-ui/ui-select/pull/1726)

[2016-07-14 05:53] Jefiozie commented on #1485
@sumodhnair19  Any feedback or is this issue closed?

[2016-07-14 07:28] DerekYangYC commented on #1602
@Skinner927 Unfortunately `tagging-tokens` alone is not working but `paste` handler solve it. Thank you very much!
It turns out I made a silly mistake by calling the paste handler like `paste="onCountriesPasted(text)"` rather than passing it like `paste="onCountriesPasted`.

[2016-07-14 07:28] #1602 closed

[2016-07-14 07:51] sumodhnair19 commented on #1485
@Jefiozie  I had a change in requirement in the project I was working on so I didn't give much emphasis on it. As I can check in the demos I am not able to reproduce the issue now. It is fixed now. Thanks

[2016-07-14 07:51] #1485 closed

[2016-07-14 11:25] Znow opened #1728 "Disable wildcard search and only allow matching search"
Hi

I have looked through nearly all the issues, searched and what not, here and on select2 site.

I cannot seem to find the feature, where I can disable wildcard search, so results with the exact specified search string only appears, instead of results that contains the search string appears.

Is this a hidden feature, or maybe it is missing?

Thanks in advance

Kind regards

[2016-07-14 11:50] fynnfeldpausch commented on #1652
We had the same problem due to an active class name filter on the `$animateProvider`:

    function configureAnimateProvider($animateProvider) {
       $animateProvider.classNameFilter(/animate-/);
    }

This caused the callback at https://github.com/angular-ui/ui-select/blob/master/dist/select.js#L1358 (which sets the opacity to 1) to not be executed (see https://github.com/angular-ui/ui-select/

[2016-07-14 14:42] sonphnt commented on #976
This does not work on Angular 1.5.7. I dont know if that is a problem. I am trying to debug the code, I dont understand at this line. Can you explain to me ? It always goes into 'if' condition with animate = true, so the else statement never triggered and _ensureHighlightVisible () never be called.

`if (ctrl.$animate && ctrl.$animate.on && ctrl.$animate.enabled(container[0])) {

[2016-07-14 16:14] unrealsolver commented on #221
:+1:

[2016-07-14 17:20] Jefiozie commented on #1241
@alonn24 Did you already had a fix for this?

[2016-07-14 19:18] Jefiozie commented on #756
I want to contribute on this issue so I tried to reproduce it. Unfortunately I did not manage. Can somebody share  a example than I will have a look.

[2016-07-15 08:33] AnatoliyLitinskiy opened #1729 "Controller 'uiSelect', required by directive 'uiSelectSort', can't be found!"
Here this error appears when child state is been opened

(just click on go to sub link and see console output)
https://embed.plnkr.co/yjCvvyIpGgwCUljy214X/

Tip: I'm not using $modal service.

You've closed ticket with same name:
https://github.com/angular-ui/ui-select/issues/1287#issuecomment-217652649

[2016-07-15 10:11] melino opened #1730 "update from v0.17.0 to v0.17.1 causes Error: $compile:multidir"
After updating from v0.17.0 to v0.17.1, I get a `$compile:multidir` error:

[Reference](https://docs.angularjs.org/error/$compile/multidir?p0=uiSelectMatch&p1=&p2=uiSelectMatch&p3=&p4=transclusion&p5=%3Cdiv%20class%3D%22ui-select-match%22%20ng-hide%3D%22$select.open%20%26amp;%26amp;%20$select.searchEnabled%22%20ng-disabled%3D%22$select.disabled%22%20ng-class%3D%22%7B%27btn-default-focus%27:$select

[2016-07-15 10:29] oleole90 commented on #224
This couple seems to be happy! 😍

[2016-07-15 11:39] user378230 commented on #1730
Only the latest version of the library is supported v0.18.1 please follow issue template and provide a reproduction plunkr.

Note: General angular questions are probably better asked on somewhere like stackoverflow you'll likely get an answer quicker.

[2016-07-15 12:02] anika-infoobjects commented on #852
phew! Thanks perfectly worked..

[2016-07-15 12:08] melino commented on #1730
Sorry for being imprecise: this error comes up when using any version greater than 0.17.0, so this affects the latest, too.

I will try to set up a plunkr later.

[2016-07-15 13:13] melino commented on #1730
Ok, I found that I was loading `select.min.js` twice, once in `index.html` and once with `ocLazyLoad`. Totally missed this.
Removing one of them solves it of corse.

[2016-07-15 16:04] user378230 commented on #1728
This is handled by the filter applied to the item list, the [`| filter:$select.search`](https://docs.angularjs.org/api/ng/filter/filter) in
[code]

You need to use a filter that matches on the whole text string.

I advise you as follow up questions on StackOverflow or similar for a quicker/better response, as filters are just a standard angular feature and not specific to this library.

[2016-07-15 16:04] #1728 closed

[2016-07-15 16:06] user378230 commented on #1729
We are on v0.18.1 now, can you confirm the issue still occurs on the latest version? (and post an updated plunkr)

Thanks! :+1:

[2016-07-15 16:07] #1721 closed

[2016-07-15 19:44] voltechs commented on #1126
@prakhar-goel Where does the `ng-if` go?

[2016-07-16 11:45] #1298 closed

[2016-07-16 13:12] Znow commented on #1728
@user378230 I figured out the solution, with some extensive search. But it does not appear to work after all.

Please see this link: http://cookbook.angularjs.de/recipes/the-filter-filter/

It says, that I can append: "filter:{property: $select.search}:true"

![image](https://cloud.githubusercontent.com/assets/265719/16894927/678c11e8-4b66-11e6-9f61-76077319373e.png)

![animation](https://cloud.gi

[2016-07-16 18:31] user378230 commented on #1728
As I said, maybe better to ask on stackoverflow. You could test also with simple `ng-repeat`

[2016-07-17 23:10] MikiSoft opened #1731 "Not showing choices"
I think that I've discovered a bug particularly in my use-case because I'm not able to reproduce it on Plunkr but I'm able to identify it manifesting on my page. I'm using the latest versions of Bootstrap, AngularJS (with ngSanitize of course) and UI Select.

![Screenshot](http://i.imgur.com/5xx4Vw1.png)

This above happens when I click on caret to list all possible choices. You see that `opacity`

[2016-07-18 06:57] #1511 closed

[2016-07-18 18:27] germanger commented on #1633
@michalgm it works!

[2016-07-19 06:26] hybridappdev commented on #870
Thanks @martinoss it is working fine after removing "track by" from the repeat, can you please explain cause of the error.

[2016-07-19 13:25] twizzzlers commented on #1731
+1

[2016-07-19 19:41] #1496 closed

[2016-07-20 11:58] dmitry-dedukhin commented on #1668
+1

[2016-07-20 19:58] sergiy-talashko commented on #1731
Same happened with width. ui-select-search input element got some random width value.
It's happening after including ngAnimate.

[2016-07-20 20:17] saumil11 commented on #533
@ma-zal workaround did the trick for me. Thanks 👍

[2016-07-20 23:38] ehsaanwelcome opened #1734 "chrome auto fill issue"
css: bootstrap
ui-select: 0.17.0

when i fill form using chrome auto fill, it select my home country automatically in ui-select but it does not let me change country.
as i enter backspace 3 to 4 times in ui-select to change country, auto fill country comes back every time.

in plunker, it does not give auto fill option thus i have added simple html code
<div class="form-group">
                <sp

[2016-07-21 06:06] Jefiozie commented on #1151
Dont know if this is still a issue for you but I just read the documentation and the version there is right now you can set your own character for this function. Hope this will help on your problem.

[Documentation](https://github.com/angular-ui/ui-select/wiki/ui-select)

[2016-07-21 12:59] PatrickBokhove commented on #499
In my project we use a directive with the ui-select and i show a label animation when the user starts entering text into an inputfield. I suppose it can also be used with a blur event:

`scope.$watch(attrs.ngModel, (value) => {
				if (value) {
					elem.triggerHandler('input');
				}
			}`

[2016-07-21 23:05] tiffanywei commented on #411
+1

[2016-07-21 23:05] tiffanywei commented on #1066
+1

[2016-07-21 23:11] cmddavid commented on #411
I've been using the code from #1527 for some time now, it works well. Only thing i had to change was one of the templates. The click event was missing in the theme i was using.

[2016-07-22 08:05] igorkemack opened #1735 "Select is opened before the scope loaded"
### Bug description:

When site is loading in browser for few moments until the scope is loaded select stay open. The bug only appears when scope watchers number is large (~1000).
### Version of Angular, UI-Select, and Bootstrap/Select2/Selectize CSS

Angular: 1.5.7
UI-Select:  0.17.1
Select2: 3.4.8
Selectize: 0.12.1

[2016-07-23 14:26] Jefiozie commented on #1735
Hi @igorkemack could you check this also on the last version (0.18.1) and provide a plunkner example?

[2016-07-25 07:47] igorkemack commented on #1735
Hi @Jefiozie , updating ui-select to 0.18.1 not resolved problem.
Sorry, but on small amount of scope watching, select works faster. It's too hard to provide example on plunker to show this bug.

[2016-07-25 09:42] dunwho commented on #665
The first response here provided a solution for me. It seems that simply including "multiple" as an attribute rather than " multiple='true' " causes validation errors within select.js.

Also, if you track by $index with the above change it seems to work fine.

[](https://www.bountysource.com/issues/5738626-ngrepeat-dupes-duplicates-in-repeater-are-not-allowed-broken-after-angular-ui-select-upgrade

[2016-07-25 20:35] Jefiozie commented on #1735
Hi @igorkemack ,

So I had a look at this issue and it looks like I cannot reporduce this issue. I have made a plunker example with some code you  can use to do some testing.

[Plunker example lot of watchers](http://plnkr.co/edit/a2UwmTzvJl0o5kzz1oze?p=preview)

Can you tell me if you see the same behaviour or what I need to change to reproduce this issue.
I have counted the watchers and is aroun

[2016-07-26 08:22] karas111 commented on #976
+1
Same as @sonphnt
You can try this:
`if (ctrl.$animate && ctrl.$animate.on && ctrl.$animate.enabled(container[0])) {
                  var animateHandler = function (elem, phase) {
                      if (phase === 'start' && ctrl.items.length === 0) {
                          // Only focus input after the animation has finished
                          ctrl.$animate.off('removeClass', searc

[2016-07-26 10:23] igorkemack commented on #1735
It's not that problem. Lot of watcher must to be outside of ui-select. I have recordered how it looks like.
[https://www.dropbox.com/s/kgrs7sxijilihwr/ui-select-bug.gif?dl=0](url)

[2016-07-26 12:29] kindbergs opened #1738 "ui-select with tagging does not work in firefox for android, but works on chrome and firefox for desktop"
See issue made with mozilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1289325

Short summary:
On the demo page at http://angular-ui.github.io/ui-select/demo-tagging.html tagging only works on Firefox for desktop and Chrome, but not Firefox for Android.
Their research showed:

Note: All normal search and select works, only the tagging feature is affected, but have seen the problem on several we

[2016-07-26 14:00] pierregaste opened #1739 "Unable to (re)select an item with remove-selected set to false"
### Bug description:
```remove-selected=false``` seems to have a bug when you select an item and unselect the same item. You couldn't select again. Item was not disabled but click has not effect.

Steps to reproduce:

1. Go to http://plnkr.co/edit/o0JWRLkoMbMBkFi0crqh (same as documentation)
2. Go to the _Disabling instead of removing selected items_ section
3. Select _Amalie_ and remove _Amalie_

[2016-07-26 14:10] edlahoz commented on #1695
Is this issue still in the works?

[2016-07-26 15:43] cesar-oyarzun-m commented on #757
hey @roko-p I try your solution and also the solution with css but both give me erros, here is the error

```TypeError: Cannot assign to read only property '_uiSelectChoiceDisabled' of label undefined```

[2016-07-26 15:46] cesar-oyarzun-m commented on #770
hey @dmitryevseev I try your solution but I get console error

```TypeError: Cannot assign to read only property '_uiSelectChoiceDisabled' of aaaa undefined```

How can I fix this?

[2016-07-26 18:12] Jefiozie commented on #1739
Hi @pierregaste ,

Had a look at this issue and indeed this is a problem in the latest version.
Have made some changes  could you verify if this solves your problem.

[Verify plunker example](http://plnkr.co/edit/GdmfOE8C51od3hqxhjlk?p=preview)

If it fix your problem I will commit my changes (after creating some tests)

[2016-07-26 21:41] iberodev commented on #403
@jigarakatidus thank you. Yes, passing a `name` attribute to the `ui-select` seems to work fine.

[2016-07-26 21:56] dmitryevseev commented on #770
@cesar-oyarzun-m This solution worked on 0.11.2. You're probably using a newer version

[2016-07-27 00:12] iberodev commented on #152
I've been trying to follow this discussion and related threats. It hasn't been easy.
I am getting this has never been implemented and I don't know why this has been related to `no results found` #831  as it seems a totally different thing. Also the current `ui-select` already includes a `no-choice` [directive for that purpose:](https://github.com/angular-ui/ui-select/wiki/ui-select-no-choice)

I a

[2016-07-27 07:16] pierregaste commented on #1739
Hi @Jefiozie!

Thanks for your answer!
I confirmed that your changes fixed the issue. I can't reproduce the bug anymore.

Thanks!

[2016-07-27 09:07] philippdrebes opened #1740 "Size changes inside table (bootstrap)"
### Bug description:
In a project I'm working on, we encountered this behavior: When the ui-select (using the bootstrap theme) is placed inside a table, the width of the ui-select changes when the search input field is shown.

![size cahnge behavior](http://i.imgur.com/BIwem7w.gif)

So far, we tried multiple approaches and did not find an acceptable solution.

This behavior can be replicated in Pl

[2016-07-27 13:55] cesar-oyarzun-m commented on #770
yeah I'm usigin 0.17.1 but I have the same problem

[2016-07-28 02:11] ps3331333 opened #1741 "How to make ui-select ignore ngAnimate ?"
I found what I believe it's a bug: when ui-select element it's in an Angular UI modal I have to click twice for the cursor to show in the input field. I read other threads, and removing ng-Animate from the application fixed the problem.

But I need the animation in other parts of my application. How to disable ng-Animate only for ui-select? How to disable the animation feature in ui-select?

This

[2016-07-28 22:32] DriesVandermeulen commented on #665
Just gave it a test and this does indeed solve this issue...

[2016-07-29 12:14] Jefiozie commented on #1667
I'm looking at your issue and #1156  has a similiar thing but here it was a CSS adjustment.
Do you agree that we need to make a adjustment that is the same for all themes?

[2016-07-29 12:46] longzheng commented on #1667
I think overriding a ``ng-hide`` with CSS ``display: initial !important`` is more of a hack.

The fact that non multiple templates don't have the same ng-hide leads me to believe it is a mistake on the ng-hide.

[2016-07-29 14:34] Jefiozie commented on #1667
Agree on that I will add my pr as I already had a commit.

[2016-07-29 16:18] teo89 opened #1745 "parse in ng-model only one field"
I have the follow select
[code]
But I can not make ng-model to take only one of item from selected object. There is any way to do that. In old select we have had the "q-options-model-value"

I find that: http://plnkr.co/edit/Tj3SVw89qWyivjJz5Iyd?p=preview but i don't know how it works
I have version angular-ui-select: 0.18.1 angular: 1.5.8

[2016-07-29 19:45] brentmiller commented on #1490
+1

[2016-07-30 12:07] #432 closed

[2016-07-30 12:11] #1667 closed

[2016-07-30 12:36] user378230 commented on #1745
Your question isn't very clear, but maybe you a trying to bind only a single property to your `ng-model`?

In which case you need to use correct syntax in repeat:

[code]
Here `ng-model` value will be email.

If that answer, then let us know so we can close. Thanks.

[2016-07-30 12:37] #1729 closed

[2016-07-30 12:41] user378230 commented on #1720
Feel free to submit a PR :smiley:

[2016-07-30 12:42] user378230 commented on #1695
@edlahoz  the linked PR still needs a unit test and rebasing due to conflicts. Feel free to pick it up if you like a submit a new one.

[2016-07-30 12:43] #1679 closed

[2016-07-30 12:46] user378230 commented on #1685
What is it even supposed to look like? :laughing:

[2016-07-30 12:50] #1739 closed

[2016-07-30 13:08] user378230 commented on #665
The line
[code]
Doesn't exist.
[code]
[Is set in the `uiSelectMultiple` directive itself.](https://github.com/angular-ui/ui-select/blob/master/src/uiSelectMultipleDirective.js#L83)

[2016-07-30 20:26] errohitagg commented on #1090
+1

[2016-07-30 21:10] #1648 closed

[2016-07-30 21:16] user378230 commented on #1449
They're running just not displayed in reported. (`karma-runner/karma/issues/1344`).

[2016-07-30 21:16] #1449 closed

[2016-07-30 21:18] #1395 closed

[2016-07-30 21:59] #1312 closed

[2016-07-30 22:01] user378230 commented on #1272
Closing as a usage issue. The library works fine when `angular.js` is included via `<script>` any other loading methods aren't really up to us to support. PRs welcome as always.

[2016-07-30 22:01] #1272 closed

[2016-07-30 22:04] user378230 commented on #1202
Can be achieved using `indexOf` on the appropriate array. Closing, a PR would be welcome if anyone needs this, should be a minor change.

[2016-07-30 22:04] #1202 closed

[2016-07-30 22:06] user378230 commented on #1235
Closing as resolved by #1723

[2016-07-30 22:06] #1235 closed

[2016-07-30 22:07] #1158 closed

[2016-07-30 22:09] #1128 closed

[2016-07-30 22:09] #1104 closed

[2016-07-30 22:12] user378230 commented on #978
Closing #902 released.

[2016-07-30 22:12] #978 closed

[2016-07-30 22:15] #827 closed

[2016-07-30 22:21] user378230 commented on #829
From #1046:

myModule.directive('myUiSelect', function() {
  return {
    require: 'uiSelect',
    link: function(scope, element, attrs, $select) {
      scope.$watch(function() { return $select.search; }, function(newSearchValue) {
        //...
      });
    }
  };
});
[code]

[2016-07-30 22:21] #829 closed

[2016-07-30 22:25] user378230 commented on #650
Closed with #1622 now released

[2016-07-30 22:25] #650 closed

[2016-08-01 06:18] kevinbluer commented on #1685
@user378230...I assume it's not supposed to have the spurious outer boxes, etc.

[2016-08-01 07:56] oxsam1412 opened #1747 "Assigned value missing from options for Single Property Binding"
Issue found with **Angular** v1.5.8 + **ui-select** v0.18.0
Simulated issue: http://fiddle.jshell.net/oxsam/bf1saLo2/3/

No issue with **Angular** v1.4.8 + **ui-select** v0.11.2
http://fiddle.jshell.net/oxsam/bf1saLo2/1/

[2016-08-01 08:54] user378230 commented on #1747
Can you confirm issue is present in **latest** version? (v0.18.1)

[2016-08-01 08:56] user378230 commented on #1647
Assuming fixed...

[2016-08-01 08:56] #1647 closed

[2016-08-01 09:01] oxsam1412 commented on #1747
Looks good with v0.18.1. Thanks!

[2016-08-01 09:01] #1747 closed

[2016-08-01 12:05] ps3331333 opened #1748 "Tagging in single selection does not work when clicking a different field"
In this plunk I have two elements, a ui-select with tagging enabled and an input field. If I enter a value not in the list in ui-select AND then click on the field, ui-select loses its value

[PLUNK](http://plnkr.co/edit/36IRP9J079vjWFIFjRSb?p=preview)

[2016-08-01 12:45] user378230 commented on #1681
Assuming resolved as of v0.18.1

[2016-08-01 12:45] #1681 closed

[2016-08-01 13:38] akabhirav commented on #1054
+1

[2016-08-01 14:04] Jefiozie commented on #1748
I think this is normal behaviour, if i look at the documentation i see the following:

Specify keyboard keys that will trigger creation of a new tag. Multiple keys can be separated by a    pipe |, SPACE is declaration for literal spacebar. (Defaults to ENTER and ,)

Maybe you could change your code for the wanted behaviour you need?

[2016-08-01 14:06] Jefiozie commented on #1741
Maybe just add `$animate.enabled(false, element);` in your select.js?

[2016-08-01 14:36] teo89 commented on #1745
Hello, yes that was my question thank you.

[2016-08-01 14:36] #1745 closed

[2016-08-01 15:04] toymachiner62 commented on #827
Why was this closed with no answer?

[2016-08-01 15:52] ps3331333 commented on #1748
I believe the behavior of losing focus due to tabbing out or due to click should be the same (note in the PLUNK that if you first enter a value in ui-select, and then press tab to move to the next field, then you **don't** lose the value.

I will be more than happy to change my code, but not sure what needs to be changed.

[2016-08-01 15:53] user378230 commented on #827
After a year I don't think it's getting answered. It doesn't look like it's causing a bug/problem either.

Just tidying up...

[2016-08-01 15:55] toymachiner62 commented on #827
Well maybe it's pointless to have both if they are the same thing? This could be refactored to remove one and make the code simpler?

If there is a difference it'd be nice to have it documented.

[2016-08-01 15:58] user378230 commented on #827
Feel free to submit a PR :smiley:

[2016-08-01 16:19] brentmiller commented on #1490
For those looking for an immediate work-around, I wrote a complimentary directive which implements the easy fix @PesanskiGoran references in the original post. I tested this with IE 11 and Chrome 51, both on Windows 7. (It's written in TypeScript, but native JavaScript developers should get the gist.)

[code]

[2016-08-01 16:46] Jefiozie commented on #1748
Hi @ps3331333 ,

Do you mean this behaviour?

[Link to demo plunker after focus](http://plnkr.co/edit/36IRP9J079vjWFIFjRSb?p=preview)

[2016-08-01 16:47] Jefiozie commented on #1735
@user378230  any thoughts on this one?

[2016-08-01 23:17] ps3331333 commented on #1748
Yes, first enter a value (don't select it) then click on the input field and the value will disappear.

[2016-08-02 06:57] user378230 commented on #1748
I can't search on mobile but there is already an issue/feature request for "tagging on blur". This is probably a duplicate of that.

Will close when I can find it.

[2016-08-02 07:12] Jefiozie commented on #1748
I think i found it check if it is the one you think it is.

feat(tagging): enable tag-creation on blur #1732

[2016-08-02 10:13] ps3331333 commented on #1748
Yes, "on blur" applies to both tabbing out and clicking a different field.

[2016-08-02 10:24] ps3331333 commented on #1741
where should I add it? here?

    compile: function(tElement, tAttrs)
       $animate.enabled(false, tElement);

[2016-08-02 11:56] Jefiozie commented on #1741
I have used it once but this was in the link part that did help me (for a other problem of course).

[2016-08-02 12:58] ps3331333 commented on #1741
here I added it but didn't work :(

uis.directive('uiSelectSingle', ['$timeout','$compile','$animate', function($timeout, $compile,$animate) {
  return {
    restrict: 'EA',
    require: ['^uiSelect', '^ngModel'],
    link: function(scope, element, attrs, ctrls) {

      $animate.enabled(false, element);

[2016-08-02 13:21] Jefiozie commented on #1741
Maybe it is a version related thing? Can you share a plunker where you can reproduce this issue?
Also try it on stackoverflow.

$animate.enabled(element, true);
$animate.enabled(element, false);

[$animate documentation](https://docs.angularjs.org/api/ng/service/$animate)

[2016-08-03 01:36] ps3331333 commented on #1741
this worked for me, returning always null:

  // Use $injector to check for $animate and store a reference to it
  ctrl.$animate = (function () {
      return null;
  })();

[2016-08-03 01:43] #1741 closed

[2016-08-03 06:53] user378230 commented on #1748
Closing as duplicate of existing blur requests.

[2016-08-03 06:53] #1748 closed

[2016-08-03 09:24] user378230 commented on #1734
Only the latest version of the library is supported please confirm issue also occurs in latest (v0.18.1)

[2016-08-03 14:45] modernptz commented on #1729
I have the same issue with last version of ui-select, but old ui-router 0.2.15 and angular 1.2.30

[2016-08-04 07:10] user378230 commented on #1729
Can you make a repro sample that doesn't rely on another library (except angular)?

[2016-08-04 08:15] modernptz commented on #1729
Actually it's issue about ui-select usage with ui-router, so I can't because it makes no sense

[2016-08-04 08:15] nhim175 commented on #994
1.5 year has passed, the bug is still there... looking forward to the fix ^^

[2016-08-04 09:19] user378230 commented on #994
@nhim feel free to put up a PR :)

A plunkr might go also help any fixers

[2016-08-04 13:52] maksad commented on #218
+1 same here

[2016-08-04 13:58] user378230 commented on #218
Please include your angular and ui select library versions if you're going to leave +1s...

Note only the latest version is supported and this issue still lacks a plunkr.

[2016-08-04 15:56] Conner05 commented on #1185
fyi - this is still an issue. The workaround I've found is to modify the width of the input created

`.ui-select-multiple input.ui-select-search {
    width:100% !important;
    cursor: pointer;
}`

or

`.ui-select-multiple input.ui-select-search {
    width:auto !important;
    cursor: pointer;
}`

Either way, you end up with sizing problems after selecting one or more options.

[2016-08-04 17:56] yogeshgadge commented on #966
It adds `select2-disabled` when using `theme="select2"`

[2016-08-05 09:27] arjundas commented on #221
:+1:

[2016-08-05 13:34] sarathkumar6 opened #1750 "ui-select dropdown searchbox appears temporarily during the page load"
It is hard to get the screenshot. During the page load or reload the drop-down with the search box appears for a fraction of second and disappears like a flash. Any reasons for that? Is it any existing issue?

[2016-08-05 14:26] sarathkumar6 commented on #1750
Is it because of the flicker effect during page load(showing unfinished angular code?

[2016-08-05 22:15] nishantroy opened #1752 "ui-select width doesn't match up with Bootstrap grid length"
[Working PLNKR](https://plnkr.co/edit/UOGaNGjEdpo2SZ5DOYHG?p=preview)

Steps to reproduce error:

- Select a graph type
- Click Add Filter

The ui-select boxes don't fit in the bootstrap divs surrounding them.

Do they not inherit the width/height?

[2016-08-06 23:18] rusmaxim commented on #1151
It still same. If I set comma, tagging work on english button comma, and if I switch to Russian I can't press button with letter.

[2016-08-06 23:57] mdarveau opened #1753 "When ui-select-no-choice is not provided, the default element is always displayed"
### Bug description:

@khanhto Since https://github.com/angular-ui/ui-select/commit/fcd1eb48e5b4dbe6d0305abcefb6c038901863ab, my UI has alignment problems. I tracked the bug down to some CSS on the ```ui-select-no-choice``` div. Turns out that if the ```ui-select-no-choice``` is not present, the default one (from ```src/bootstrap/select.tpl.html```) is placed in the DOM but *without* the ng-show a

[2016-08-06 23:58] mdarveau commented on #1753
Workaround: explicitly add a div with ```ui-select-no-choice``` and it will be hidden properly.

[2016-08-07 03:30] khanhto commented on #1753
That pull request was posted long ago, I really don't remember. From what you described, maybe we could apply ng-show to `select.tpl.html` to fix them problem. Can you confirm and post another pull request?

[2016-08-07 23:04] #375 closed

[2016-08-07 23:04] #589 closed

[2016-08-07 23:04] #917 closed

[2016-08-07 23:04] #691 closed

[2016-08-07 23:04] #949 closed

[2016-08-07 23:04] #1145 closed

[2016-08-07 23:04] #1658 closed

[2016-08-07 23:06] #1484 closed

[2016-08-07 23:31] #1576 closed

[2016-08-08 08:13] aks0020 commented on #218
I have made one sample working plunker using bootstrap modal(with angular 1.5.8, jQuery 3.1.0 bootstrap 3.3.7, ui-bootstrap 2.0.1, latest ui-select), those who are facing similar issue can try to regenerate issue in this.
https://plnkr.co/edit/K7XaKz?p=preview

[2016-08-08 13:29] AAlvarez-AlbaStar commented on #1685
+1

[2016-08-08 17:39] tmanoel commented on #1206
It's not working yet. Using v0.19.0...

[2016-08-09 06:24] Jefiozie commented on #1151
Looking at the code there is a mapping between the keys. So comma is mapped to key code 188.
A thing you could do is add your custom stuff to the list (maybe not the best way but the quickest).

But maybe we could have a look on how to fix it. Could you test something for me?
I have made a plunker where the e.code is outputting your input in the console. Trying to find out if there is a general ma

[2016-08-09 08:39] tompascall opened #1754 "Missing caret in multiple selection (Bootstrap theme)"
### Bug description:

Caret is missing in multiple selection mode using Bootstrap theme.

While in simple selection mode the `ui-select-match` directive generates the following element: `<i class="caret pull-right">`, in multiple mode this element is completely missing.

### Link to minimally-working plunker that reproduces the issue:

You can see it at the official example: [multiple selection](h

[2016-08-09 09:01] batjko opened #1755 "Bootstrap themed multi-select not styled properly"
### Bug description:

Using the bootstrap theme (Bootstrap is properly installed), the input box is unstyled and gets pushed down by selected tags (multiple mode).
Some of the elements, like the div that shows the choices, clearly accept the Bootstrap. And behind the unstyled input field is a properly styled form-control element.
It's just this stupid input field that shouldn't be there.

How do I

[2016-08-09 10:11] user378230 commented on #1755
You missed:

maybe you forgot to include `select.css`

[2016-08-09 10:11] user378230 commented on #1754
This appears to be intentional styling decision, its also not in select2

[2016-08-09 10:11] #1754 closed

[2016-08-09 10:13] user378230 commented on #1753
Your plunkr link is not valid...

As it is a styling issue, maybe a screenshot of the broken ui-select also.

[2016-08-09 10:44] user378230 commented on #1685
@AAlvarez-AlbaStar and any future commenters: Please don't +1 issues, use github reactions if you must... better yet submit a PR! :+1:

[2016-08-09 10:47] user378230 commented on #1752
Duplicate #1685?

[2016-08-09 10:48] user378230 commented on #1750
Probably a usage issue, causing by slow connection/loading.

[2016-08-09 12:05] user378230 commented on #1206
@tmanoel please provide plunkr

[2016-08-09 12:10] #1662 closed

[2016-08-09 12:28] tmanoel commented on #1206
Take a look, it doesnt work on single neither multiple..
http://plnkr.co/edit/5Zt0OfEFh18tlcKP1Yen?p=preview

[2016-08-09 12:29] user378230 commented on #1206
Only latest version is supported. `v0.11.2` is very old, please ensure plunkr is update to date.

[2016-08-09 12:43] tmanoel commented on #1206
Sorry, updated... Look:
http://plnkr.co/edit/21NTjbyMIHY67gf6BN2S?p=preview

Note: in the version 0.19 we have this note:
 * http://github.com/angular-ui/ui-select
 * Version: 0.18.1 - 2016-07-10T00:18:11.107Z
 * License: MIT

[2016-08-09 18:40] tianxu0836 commented on #1662
why it is closed? was it fixed?

[2016-08-09 21:14] randdusing commented on #258
@zgbjgg Can you point us to the changes you made?

[2016-08-10 05:55] Jefiozie commented on #1685
Had a look at this issue and saw some difference between the bootstrap and the select2 version.
I have found out that the bootstrap version (where everything works) the multiple is working but the HTML for the ui-select-match is different.

HTML Bootstrap:
`<ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>`

Code Select2:
`<ui-select-match pla

[2016-08-10 06:03] Jefiozie commented on #1752
Had a quick look on your plunker but the select.js is a custom version or not?

[2016-08-10 07:04] aibekmamatov opened #1756 "automatic assignment of ng-model matches in multiple"
### Bug description:

#### link to PLunker
[https://plnkr.co/edit/jWnLCGrhFEtywqMfArt2?p=preview](https://plnkr.co/edit/jWnLCGrhFEtywqMfArt2?p=preview)

After loading datas (Roles) ui-select-match doesn't automatically assign the values.

[code]

[code]

for example:
if i have ng-value:
[code]

and after loading datas of Roles
[code]

it returns in ui-select-match:

##### 1. e4c6dca9-758e-43c8-b19

[2016-08-10 07:21] user378230 commented on #1756
@aibekmamatov Please provide plunkr as requested in issue template.

[2016-08-10 07:24] user378230 commented on #1685
@Jefiozie this was pointed out by @kevinbluer above. Though a quick PR would be great 😃

[2016-08-10 08:08] aibekmamatov commented on #1756
@user378230 all is ready

[2016-08-10 08:16] Jefiozie commented on #1685
Damn .. didn't have my  :coffee:  this morning.. will make a pr later for this :+1:

[2016-08-10 10:29] batjko commented on #1755
Hi there,
Yes it seems the missing select.css is the problem. I have it included in the app, but it's structured in a very convoluted way (lots of includes and aggregates of dependencies via gulp) so I'm not sure why it doesn't get loaded.

I'll close this off for now. Thanks for the tip.

[2016-08-10 10:29] #1755 closed

[2016-08-10 13:44] randdusing commented on #1452
Specifying a property would be much more convenient than updating a template.

[2016-08-10 14:03] PhilDore11 opened #1758 "Need tag/release 0.19.2"
Please produce v0.19.2 to include #1723

[2016-08-10 16:05] ericdecarli opened #1759 "search input always shows, even when disabled, if theme is set globally"
### Bug description:
if theme is set globally, search input still shows up even with search-enabled set to false.  this is due to the CSS trying to select based on a theme attr that does not exist when the theme is set globally via uiSelectConfig.theme ... EG .ui-select-container[theme="selectize"]

### Link to minimally-working plunker that reproduces the issue:
http://plnkr.co/edit/LslPFmp5DFKQ3

[2016-08-10 16:33] ericdecarli opened #1760 "in multiple select mode, the search text is not cleared until you focus on the input again"
### Bug description:
with multi select enabled, if you start typing in the input and select a choice, the text you searched in the input remains, even with uiSelectConfig.resetSearchInput = true, until you click/focus the search input again

### Link to minimally-working plunker that reproduces the issue:
http://plnkr.co/edit/cQJiIwW7zMZpYmm4NAhl?p=preview

### Version of Angular, UI-Select, and B

[2016-08-10 19:39] sarathkumar6 commented on #1750
@user378230 I tried using ng-cloak but it is not working in IE and firefox coincidentally works in chrome. May be something wrong in the way using ui-select?

[2016-08-10 23:33] user378230 commented on #1452
@randdusing feel free to submit a PR! 😃

[2016-08-10 23:37] user378230 commented on #1760
I think @Jefiozie tried to fix this, or something similar, in #1746 let's see if he can have a look 😃

[2016-08-11 03:34] mattjanssen commented on #224
Running Anguler 1.5 and angular-ui-select 0.19.1. Here's my CSS fix:

`.ui-select-toggle > .caret { pointer-events: none }`

[2016-08-11 06:17] Jefiozie commented on #1760
Did a quick check and I looks like there is a difference between my initial commit and the one that is committed in the merge. Will have a look later today (i hope)

[2016-08-11 10:50] Chosko commented on #1731
+1

[2016-08-11 12:14] Jefiozie commented on #1760
So I had a look made some changes and here is a example [plunker](http://plnkr.co/edit/MnZlINXec0AFwG1WvYiZ?p=preview) you can test.
Struggling with the tests for this spcific issue and how to implement it so need some time for this.
Hopefully will have this before end of this week.

[2016-08-11 14:43] user378230 commented on #1759
@ericdecarli This should be fairly easy to fix

1. Edit `common.css`
2. remove the `.ui-select-container[theme="xxx"]`
3. Replace with `.ui-select-xxx`
4. Update the `select(-multiple).tpl.html` files for select2/selectize

Can you submit a PR?

[2016-08-11 16:45] Xyroid commented on #1685
Still the outer box rendering issue is not fixed :( There's some issue with padding, outer box gets padding from bootstrap's `form-control` class.

[2016-08-11 17:01] sarathkumar6 commented on #1750
The flicker effect was caused due to the transparency of the dropdown. I've used opacity as 0 in the respective css class and it disappeared. Closing the issue.

[2016-08-11 17:02] #1750 closed

[2016-08-11 17:20] user378230 commented on #1685
Whoops this shouldn't have closed.

[2016-08-11 17:21] user378230 commented on #1685
@Xyroid feel free to submit a PR 😃

[2016-08-11 23:44] user378230 commented on #389
@jocluz this issue is up to date with all info posted so far, what further news do you require?

Feel free to submit any PRs you feel could improve performance I'll be happy to review 😃

[2016-08-12 09:42] aibekmamatov opened #1762 "bug on ui-select multiple"
### Bug description:

when use multiple select like this:
[code]
it always select match of selected_item_id's last value
and on first initialise it select last item of repeated items

### Link to minimally-working plunker that reproduces the issue: [link](https://plnkr.co/edit/5pQZXZHCbxjlSvYUNRQH?p=preview)

### Version of Angular, UI-Select

Angular: 1.5.8

UI-Select: 0.19.1

[2016-08-12 12:51] nicolas15000 commented on #130
Hello ! Me too i've got the same problem, i have all of the latest versions ...

The ui select doesnt display the loaded value .

This is my UI Select code :+1:
[<div class="input-group">
					<span class="input-group-addon">Station</span>
				<ui-select  theme="selectize"  ng-model="produit.idstation">
				<ui-select-match placeholder="Selectionnez ou Recherchez...">{{$select.selected.nom}}</ui-s

[2016-08-12 12:52] ohjames commented on #258
@randdusing follow his link, check the commit log, view his commit.
@zgbjgg how about submitting a PR with your change? Although you'll need to alter your indentation style to match the project (`git rebase -i upstream/master && git commit --amend`)

[2016-08-12 13:01] nicolas15000 opened #1763 "Value not updated or loaded automatically."
Hello, Iv'e got a problem related to [this](https://github.com/angular-ui/ui-select/issues/130) and [this plunker](http://plnkr.co/edit/GGawF9Etcrj1mz0eXkJH?p=preview)

i have all of the latest versions ...

This is a picture of my problem : http://www.photorapide.com/images.php?photoName=12dxb1.jpg&photoId=871977

The ui select doesnt display the loaded value .

This is my UI Select code who does

[2016-08-12 13:04] ohjames commented on #258
@zgbjgg Ah you modified `dist/select.js` instead of the source files also.

[2016-08-12 13:22] ohjames commented on #258
@zgbjgg I cleaned up your commit and made it into a PR, hope you don't mind. I really need this to work ;)