[2016-01-25 18:53] buremba commented on #1398
Good luck @aaronroberson! :100:

[2016-01-25 21:04] shali3 commented on #1398
I vote for @aaronroberson !

[2016-01-25 21:27] #1176 closed

[2016-01-25 22:56] #161 closed

[2016-01-26 01:26] jessepinuelas opened #1403 "IE 11 and JAWS"
In IE 11 all of the items in the drop down are being read out loud by screen reader.
For example if I have 3 items in my drop down Test 1, Test 2 and Test 3 JAWS version 17 will read test 1, test 2, test 3 and then the item selected in this case test 1 again.

[2016-01-26 03:21] AdamAxtmann commented on #1398
@aaronroberson Glad to see a new maintainer on this project. Do you plan to sift through older PRs?

[2016-01-26 04:00] ProLoser commented on #1398
@aaronroberson hopefully you've been following along discussions and points I've been making about modularity, simplicity and composeability. I realize that it is somewhat of a pipe dream considering attribute-directives are on the way out but if this project continues expand towards supporting a billion obscure configuration options vs just giving users the bare-bone tools they need to add obscur

[2016-01-26 04:00] #1398 closed

[2016-01-26 09:25] Avien opened #1404 "The new 0.14 version performance is even worse than before"
Can someone address the performance issues?
I cant use this library

[2016-01-26 09:47] niralmunjariya commented on #850
+1 for
https://github.com/angular-ui/ui-select/issues/850#issuecomment-132789422

[2016-01-26 10:06] sridharthumma commented on #831
+1

[2016-01-26 19:48] mujx opened #1406 "CommonJS is broken"
Using this module with browserify fails with:

[code]
Removing the required css should fix it.
https://github.com/angular-ui/ui-select/blob/master/index.js#L1

[2016-01-26 20:38] Akkuma commented on #1406
In the webpack world you need a style and css loader. The bump from 0.13.2 to 0.13.3 was not the correct thing to have done based on semver. This added new functionality that was not backwards compatible with 0.13.2 when using browserify and webpack. I'd recommend deleting that tagged release altogether and forcing people to 0.14.0 if they want it.

[2016-01-27 14:14] verjik commented on #533
+1 on Version 0.14.0

[2016-01-27 15:55] user378230 commented on #1093
You should customise your ui-select-choices content rather than trying to apply the highlight filter to a string containing HTML.

[code]

from http://plnkr.co/edit/SEzrd9vSEmneX4o87UCg?p=preview

[2016-01-27 16:33] user378230 commented on #1353
Duplicate of #1347

Use
[code]
Where `selected.item` is an property on your controller scope:

[code]

___
Really you should be using controllerAs syntax anyway so you have this:
[code]
which should work.

[2016-01-27 16:36] user378230 commented on #1404
Duplicate of #389 ?

[2016-01-27 16:38] user378230 commented on #1394
Add a (custom) filter to your second `ui-select-choices` to remove the selected items from your first `ui-select`.

[2016-01-27 16:46] user378230 commented on #1395
I don't think you can access the filtered list from `ui-select`. You will need to manually apply your filter to your list of items. See angular docs: [Using filters in controllers, services, and directives](https://docs.angularjs.org/guide/filter)

I'd suggest you filter your items manually in your controller and then send the result to `ui-select-choices` and use it to fix your selected items.

[2016-01-27 16:52] user378230 commented on #1242
Duplicate of #367

[2016-01-27 16:53] iuriikhrystiuk opened #1408 "Switching from ui select to select input closes it"
Guys,

The problem could be seen on following plunker: http://plnkr.co/edit/Zv5uKfv5AiWYjc0gCWQw?p=preview

Steps are following: open ui-select. Do not select anything. Click to select control. It is opened and instantly closed. Some investigation in the sources showed, that there is a method, that tracks clicks on page and for some reason it does not include 'select' into its array of focusable i

[2016-01-27 16:57] Narretz commented on #1356
@aaronroberson I see you are now a major contributor to this project! This issue must indeed be fixed by ui-select. See this thread for more info on reasons and a possible fix: https://github.com/angular/angular.js/issues/13527 You can also ping me if you have questions.

[2016-01-27 17:07] user378230 commented on #1408
I'm guessing https://github.com/angular-ui/ui-select/blob/master/src/uiSelectDirective.js#L154 is the line you are talking about.

You could submit a PR to fix it.

[2016-01-27 17:20] aaronroberson commented on #1356
@Narretz I've reviewed the issue you linked. Is there a PR for this?

[2016-01-27 17:44] aaronroberson commented on #1406
@Akkuma I'll delete the 0.13.3 tag as you've suggested, I was having issue with the conventional-recommended-bump lib used for managing semver releases. @Akkuma, will adding a css loader for resolve this issue for Browserify?

[2016-01-27 17:51] iuriikhrystiuk commented on #1408
Ok, lemme work on it.

[2016-01-27 20:52] hkorutla commented on #1145
Did you find any fix?

[2016-01-27 20:52] hkorutla commented on #1145
I have the same problem with "selectize" theme.

[2016-01-27 21:07] hkorutla commented on #453
I still have the same issue.

[2016-01-27 21:11] user378230 commented on #1196
You can use `limitTo` filter in `ui-select-choices` `repeat` attribute.

Like so:

[code]

[2016-01-27 21:14] tharrington opened #1409 "Selecting an item not in the list"
how can i select (or add) an item that is not in the list? I.e. when a user starts typing and filters to the point where there isnt a match, an option to create a new entry appears.

<ui-select ng-model="order.email" theme="bootstrap">
          <ui-select-match placeholder="Search by email...">{{order.email}}</ui-select-match>
          <ui-select-choices repeat="item in customers | filter: $sele

[2016-01-27 21:25] user378230 commented on #1358
I think this is too specific to your use case/application.

There are some JS solutions on Stackoverflow which might be useful for you: http://stackoverflow.com/questions/2381336/detect-click-into-iframe-using-javascript/23231136#23231136

But since they aren't reliable or may have unintended side effects, I don't think they will be included in `ui-select`

[2016-01-27 21:31] user378230 commented on #1409
See wiki: https://github.com/angular-ui/ui-select/wiki/ui-select

Example: https://github.com/angular-ui/ui-select/blob/master/examples/demo-tagging.html

[2016-01-27 21:37] user378230 commented on #1385
I don't think this is possible by default. You could possibly customise `ui-select-match` contents with some kind of inline edit, something like [angular-xeditable](https://github.com/vitalets/angular-xeditable) might be helpful.

If you come up with something that works be sure to post here, someone else might find it useful too!

[2016-01-27 21:47] user378230 commented on #1316
Duplicate #1353 (contains more detail/solution)

[2016-01-27 21:56] user378230 commented on #1294
You will most likely need to customise  [choices.tpl.html](https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/choices.tpl.html) with `<table>` etc.

[2016-01-27 22:01] user378230 commented on #1305
`ng-disabled` works fine in demo http://plnkr.co/edit/juqoNOt1z1Gb349XabQ2?p=preview

It shows selected items when you click between "Enable ui-select"/"Disable ui-select" what is wrong with this?

[2016-01-27 22:07] user378230 commented on #1386
Duplicate of #1255

[2016-01-27 22:09] user378230 commented on #1368
I'm guessing this should be resolved by #1407 when it's merged (...tagging for reference)

[2016-01-27 22:13] atentis commented on #1305
@user378230 I am no longer working on this project but on the version of the select I was using was graying out the entire control so you couldn't see the selected options. I will close this since you provided the plunker that shows this situation working.

Thanks

[2016-01-27 22:13] #1305 closed

[2016-01-27 22:18] user378230 commented on #1377
Duplicate of #1278 (contains possible workarounds)

[2016-01-27 22:23] tharrington commented on #1409
I'm getting a bunch of errors with these examples... One is if I don't even type anything and maybe a selection from the dropdown then switch the selection I get an error:

TypeError: g.selected.filter is not a function

code:
<ui-select tagging="tagTransform" ng-model="order.customer" theme="bootstrap">
				  <ui-select-match placeholder="Enter email...">{{$select.selected.email}}</ui-select-matc

[2016-01-27 23:06] #1400 closed

[2016-01-27 23:15] #797 closed

[2016-01-28 07:52] Avien commented on #1404
Yep,
Also same as https://github.com/angular-ui/ui-select/issues/1361
Very slow when opening,searching & removing, especially when there are multiple drop downs

I forked the project and did the changes I needed:
https://github.com/Avien/ui-select/tree/v0.13.4

[2016-01-28 08:51] Avien commented on #1395
Then what's the point in using the filter property in the ui-select if I need to manually apply the filter?
I've forked the project and emitted an event when list is filtered:
[code]

https://github.com/Avien/ui-select/tree/v0.13.4

[2016-01-28 09:39] user378230 commented on #1395
I would guess most people don't need to access the filtered list at any point.

Glad to see you got it sorted though.

[2016-01-28 09:53] Avien commented on #1395
I need the filtered list to validate the already selected options (the ng-model)
If they are not in the new filtered list they should be removed
I would expect this behavior to already be implemented in the ui-select , when filtering , but its not

[2016-01-28 10:13] user378230 commented on #1393
I guess this should be resolved by #1402 (#1400) dc7f0d2

[2016-01-28 10:37] csvn commented on #1406
@aaronroberson I got it working with a CSS loader and browserify: https://github.com/cheton/browserify-css

**Note**: Transforms aren't applied to files required from `node_modules`, so a global transform is required to import the CSS
[code]

[2016-01-28 12:23] iuriikhrystiuk commented on #1408
Sorry for so many changes. This is the first time I am contributing into github project.

[2016-01-28 13:04] user378230 commented on #274
Implemented in d89a869d53b918724d7a8a4c6cbcc90c477e21ea (v0.14.0)

[2016-01-28 13:16] lakshmi1984 opened #1411 "Ui-select multiple need to press backspace twice to remove an item"
I am using Ui-select with multiple options.Its working very well.
I have one issue when i have a selected option and want to remove it with backspace i need to press backspace twice.Is there any fix for this issue??

[2016-01-28 13:26] aaronroberson commented on #1406
Thanks, I'll update the readme.md unless you'd like to create a PR yourself!

On Thu, Jan 28, 2016, 2:37 AM Christian Svensson <notifications@github.com>
wrote:

[2016-01-28 15:24] wautersj commented on #1201
I confirm this **isn't** resolved in version 1.4.8

[2016-01-28 16:39] pehrlich commented on #1393
:tada:

[2016-01-28 16:39] #1393 closed

[2016-01-28 16:44] #1408 closed

[2016-01-28 17:34] joshrickert commented on #1356
Seems to me like with 1.5's new multiple transclusion feature, the transclusion mechanics of ui-select could be vastly simplified anyway.

[2016-01-28 18:01] SerjoPepper commented on #1406
@csvn but this css will be bundled to `.js` file. It is wrong.

[2016-01-28 18:06] SerjoPepper commented on #1406
@aaronroberson It would be great that `dist/select.js` just exports 'ui.router'
[code]

So I can include this in browserify:
[code]

[2016-01-28 18:17] SerjoPepper commented on #1406
For me this way works:
[code]

[2016-01-28 23:19] gameboyzone opened #1412 "bower install fails on version 14.2 of angular-ui-select"
I have the following entry in bower.json under dependencies which fails -

"angular-ui-select": "~0.14.2"

Tried changing the version to 14.1 and then to 13.2 but all fail to install. Finally version 13.1 worked. Any idea what's the issue?

The version of bower installed is 1.7.7

[2016-01-29 07:46] Devqon commented on #1353
@user378230 I agree that controller as syntax is better, but in my case I am creating a wrapper directive around the <ui-select>.

[2016-01-29 08:14] Narretz commented on #1404
@Avien dou should open a PR with your changes

[2016-01-29 08:16] Narretz commented on #1356
@aaronroberson There's no PR yet. I've worked on a fix for ui-select a while back, but I abandoned it because the test suite wqs broken. I'll check if I still have it.

[2016-01-29 08:41] LordMidi opened #1413 "Tabbing out of an invalid select field doesn't do a reset"
If I use the tab-key for leaving my ui-select field invalid inputs doesn't get reset.
If I use the mouse again on the first click the focus is going to the ui-select field and the invalid value is cleared. Would be good to have the same behaviour when using only the keyboard. ...in respect to keyboard only users - WCAG and stuff :-(

[2016-01-29 09:25] user378230 commented on #1413
Duplicate of #1242 / #367?

[2016-01-29 09:32] user378230 commented on #1412
I think PR #812 might be relevant here too...

[2016-01-29 09:37] user378230 commented on #1353
Maybe I'm misunderstanding, I didn't think such a use case would make much difference, you can use the controllerAs syntax with directives too.

A plunkr might be useful if its not working :)

[2016-01-29 09:42] user378230 commented on #1387
Seems to be working fine in latest version http://plnkr.co/edit/IdhcFthg0K1WC8JM4Zqz?p=preview

Please include more details when raising an issue preferably with examples.

[2016-01-29 09:45] user378230 commented on #1376
I don't think ui-select is the correct bower package I think it should be `angular-ui-select` (#779/PR #812) which may or may not work (#1412).

[2016-01-29 10:10] uiktiomasfeliz commented on #601
Same issue here using latest angularjs stable version and latest version of pluggin!

![1111](https://cloud.githubusercontent.com/assets/5663564/12672760/d866e85c-c678-11e5-8f51-345d7be1d4b7.PNG)

If i hit F5, then it fill's with values

[2016-01-29 12:08] danpantry commented on #1406
The fact that you require `css-loader` or some similar thing for CommonJS environments should probably be documented.....

[2016-01-29 12:36] SamuelPadou commented on #1233
I got this issue too and need to downgrade to 0.13.0 for it to work.
It seem to be #1216 change in 0.13.1 that cause this regression.

The part that handle the filter block in the regexp for repeatFilter may be the cause. There is a | character that isn't escaped but we actually want to match the char, and this filter block should probably be optional also.

[2016-01-29 12:43] cmousset commented on #1412
When I install versions 0.14.0 and upwards some unrelated controller karma test suddenly fails.
Using 0.13.2 all tests pass. But unfortunately keyboard navigation is broken.
Command:
bower cache clean
bower install angular-ui-select#0.14.2 --save

[2016-01-29 16:02] tiansivive opened #1414 "Asynchronous multiple choice selection"
The multiple choice directive seems to be broken when manually pushing and popping option objects into and out of the array of selected options.
The dropdown options do not update to reflect the external asynchronous change in the array.

Here's a working [plunkr of the issue at hand](https://plnkr.co/edit/utRtuR?p=preview):
If you select a name on the list, that option appears in the ui-select in

[2016-01-29 17:08] xcrash commented on #277
+1

[2016-01-29 22:07] SerjoPepper commented on #1306
+1

[2016-01-30 00:33] yvesmh commented on #1233
This issue also affects custom filters:

[code]

Throws the same error

[2016-01-31 08:59] Avien commented on #1404
My changes are specific to my needs, I doubt it would fit others
Its also a fork from 0.13.2 and not from the latest version

[2016-01-31 10:37] rumoroso commented on #1204
Hi, I am having the same problem in mobile environment. It works as expected in desktop, but in mobile, clicking on one dropdown doesn't close the others. They only close if you select one option, by clicking again in the same place you click to open it or by clicking in other area of the document but not in other dropdown.
 Egervari, while you were waiting for an answer (that has never arrived),

[2016-01-31 14:07] egervari commented on #1204
I have not found a work-around. Sometimes it works, other times it
overlaps. I'm still waiting.

Katie

On Sun, Jan 31, 2016 at 5:38 AM, Jorge Rumoroso <notifications@github.com>
wrote:

[2016-01-31 16:53] chrismarx opened #1415 "ui-select requires a newer version of angular than is listed in bower"
the bower.json for ui-select lists:

`"dependencies": {
    "angular": ">=1.2.18"
  },`

but on line 355-356, it calls $animate.on which wasn't added till 1.4:

`if (ctrl.$animate && ctrl.$animate.enabled(container[0])) {
        ctrl.$animate.on('enter', container[0], function (elem, phase) {`

Adding "&& ctrl.$animate.on" would fix this, or obvious upping to angular 1.4

Also, noticed this issue

[2016-02-01 09:05] SargoDarya commented on #1404
Also with 183 Pull Requests open I don't think this will land anytime though.

[2016-02-01 09:31] LordMidi opened #1417 ""most basic use of the directive" doesn't work"
The binding of the most basic example doesn't work. At least the ng-model binding doesn't update as expected. The selection in the ui-select doesn't update the model.

see: https://github.com/angular-ui/ui-select/wiki/Getting-Started The most basic use of the directive in html ([plunker](http://plnkr.co/edit/K9alAMAzvUqCY7Or8RwY?p=preview))

This also happens in my project. The bound scope variabl

[2016-02-01 09:57] user378230 commented on #1417
The plunkr and guide are incorrect, you need to use the nested model. See also: https://github.com/angular-ui/ui-select/issues/1353#issuecomment-175729671

___
_This is more a consequence of using ngModel than a ui-select issue, though the guide should really be updated._

[2016-02-01 11:47] pandadylan opened #1418 "if I have load ng-animate.js, there will be an error in console"
[code]
the error occurs because of ng-animate.js cover $animate, it's strange that outer $animate hasn't on method.

[2016-02-01 11:58] user378230 commented on #1418
Is this the same as #1415 ?

[2016-02-01 12:28] pandadylan commented on #1418
same issue as #1415

[2016-02-01 12:28] #1418 closed

[2016-02-01 14:34] LordMidi commented on #1417
I now found it also in the FAQ - https://github.com/angular-ui/ui-select/wiki/FAQs#ng-model-not-working-with-a-simple-variable-on-scope

[2016-02-01 15:04] stanleyxu2005 commented on #224
I am also facing the same issue, when I've enabled ngTouch...

[2016-02-01 15:22] selfdeceited commented on #277
+1, the proper fix will be very appreciated.

[2016-02-01 17:39] maorshabo commented on #1144
+1

[2016-02-01 18:21] spiderbites commented on #1098
+1

[2016-02-01 20:56] jnelson commented on #884
@ProLoser If @cdjackson is up for taking the lead, I'm happy to assist.

[2016-02-01 21:20] wwasik commented on #169
+1

[2016-02-01 22:47] CesarLanderos commented on #1406
i am using jspm, jspm already has a css loader but you have to add a "!" at the end of the import/require:

[code]

i dont know if there is a way to tell jspm to apply the css loader on any import that has the `.css` extension.

[2016-02-02 05:57] pandadylan opened #1419 "why change itemArray to [ ] will make placeholder hide"
I have two select, which one chosen will affect the other's itemArray.
Then the other's placeholder disappear

[code]

[code]

[2016-02-02 06:13] pandadylan commented on #1419
I find the value of ctrl.selected is the placeholder's value.

[2016-02-02 06:16] pandadylan commented on #1419
add
`||(ctrl.selected==ctrl.placeholder)`
to isEmpty fn resolves the problem.

[code]

[2016-02-02 15:04] Deklin opened #1420 "0.14.1 of ui-select is breaking our unit tests"
I don't have much more info than this right now. However we are using mocha-phantomjs. When we run our unit tests and have any reference to a requirejs and injection of ui-select, it breaks all our unit tests. commenting it out and it works.

[2016-02-02 15:12] Deklin commented on #1420
0.14.2 does as well. 0.13.2 works fine

[2016-02-02 15:20] Deklin commented on #1420
To qualify, we don't have any tests for ui-select, it's mere reference will break all the other tests we have. Rolling back to 0.13.3 (0.14.0 branch) works fine. as does 0.13.1 and 0.13.2.

[2016-02-02 15:28] Deklin commented on #1420
Seems to be related to the findIndex polyfill. Will see if there is a newer phantomjs that has this.

[2016-02-02 16:39] Deklin commented on #1420
Update;
I fixed this by adding this to our test loading

// Array findIndex polyfill (source: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex#Polyfill)
if (!Array.findIndex) {
    Array.findIndex = function (predicate) {
        if (this === null) {
            throw new TypeError('Array.prototype.findIndex called on null or undefined');
        }

[2016-02-02 16:39] #1420 closed

[2016-02-02 18:49] Deklin commented on #1420
Just another update, this issue doesn't completely resolve it. but its clearly not a ui-select issue.

[2016-02-02 20:57] Devqon commented on #505
+1, what is the status on this?

[2016-02-02 22:36] gameboyzone commented on #1412
I realized my company has an internal Artifactory and hence 'bower install' was looking into the internal artifactory, not at Heroku's bower.io. Setting a proxy in Environmental variables resolved that issue for me.

@cmousset - That's a good suggestion too! Thanks.

[2016-02-02 22:36] #1412 closed

[2016-02-03 00:07] patrickhousley commented on #1254
+1 need a fix for this as well. Playing around with trying to bind the position of the body bound element with the placeholder created when opening the select. However, having trouble with the watch not updating...changes to the elements offset does not cause a digest cycle.

[2016-02-03 08:51] lpotapczuk commented on #277
+1

[2016-02-03 10:39] DavidHPalaxo opened #1421 "Combine ui-select multiple with text input doesn't work"
When i select something through ui-select, input fills ok, however when i type into input, ui-select is not selecting options properly.

http://plnkr.co/edit/FgPRChwWHlApFC5TeSQ6?p=preview

[2016-02-03 11:19] santosguilherme commented on #277
+1

[2016-02-03 11:46] user378230 commented on #1421
The input binds to a string, the multiple select is bound to an array. Update the plunkr to output selected in json format, you will see it is no longer an array after you edit the text in `<input>`

Change
[code]
To
[code]

[2016-02-03 18:30] patrickhousley commented on #1254
Try out http://plnkr.co/edit/G02EbD?p=preview. I added a watch to the placeholder offset that updates the selects positioning. The only problem I can see right now is if the select is within a scrollable div and the user scrolls the placeholder outside of the div, the select is still visible. Works great for resizing and side scrolling.

[2016-02-04 10:36] arv10singh opened #1422 "When i upgrade angular version 1.5.0-rc.2 then it is not working"
angular.js:13307 Error: [ui.select:transcluded] Expected 1 .ui-select-match but got '0'.
    at http://test.com:9012/library/ui-select/dist/select.js:125:12
    at http://test.com:9012/library/ui-select/dist/select.js:1035:19
    at publicLinkFn (http://test.com:9012/bower_components/angular/angular.js:8193:29)
    at http://test.com:9012/bower_components/angular/angular.js:8535:29
    at boundTra

[2016-02-04 10:51] user378230 commented on #1422
Please search before creating new issues. Duplicate #1325

Possible workaround: https://github.com/angular-ui/ui-select/issues/1325#issuecomment-160922087

[2016-02-04 12:34] FK1453 commented on #533
+1 for @ma-zal

[2016-02-04 16:00] pascalcarmoni commented on #88
To activate the dropdown select choice only after x letter are typed :

`<ui-select-choices  refresh="CheckCity($select.search)" refresh-delay="400"`
Add filter

`
 | limitTo: limitcitysearch"
`

Than you have :
`<ui-select-choices  refresh="CheckCity($select.search)" refresh-delay="400" repeat="item.id as item in vm.territories | filter: {city: $select.search}  | limitTo: limitcitysearch">`

In c

[2016-02-04 23:28] jasonbrandt42 commented on #88
Is there an option to load only first 100 then load more as the user scrolls down?

[2016-02-05 10:00] robertjk opened #1423 "click outside"

[2016-02-05 10:01] #1423 closed

[2016-02-05 12:00] pliashkou commented on #221
+1

[2016-02-05 14:24] dilerarc commented on #343
+1 problem still exists

[2016-02-05 15:08] jordyvaneijk commented on #343
After some time  i decided to make my own limitTo... This is a very simple implementation.
I used the standard limitTo coming witch angular and added my own items with a union before the limit was done. This returns list of items with you limit on it + the list with items specified. Which will be filtered out by UI-select control because they are already in the list.

[2016-02-05 15:11] chrisvel commented on #1325
+1 here

[2016-02-05 15:37] pdoreau commented on #1083
@MiguelMike it works with a flickering effect as selection is added just before the text is removed
+1 for an internal and clean fix !

[2016-02-05 17:21] CLOUGH commented on #914
@macem Thanks alot that helped

[2016-02-05 19:13] dilerarc commented on #343
@jordyvaneijk Could you provide a piece of code please? I don't quite understand your solution.

[2016-02-05 20:53] dilerarc commented on #343
@jordyvaneijk Oh, i got it, thanks man!

[2016-02-05 21:04] dilerarc commented on #343
@jordyvaneijk But now I have an exception while searching items in my select
`[ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: o in $select.items, Duplicate key: undefined:undefined, Duplicate value: undefined`

[2016-02-05 23:33] CesarLanderos commented on #1325
this is still happening in the 1.5.0 release :(

![captura de pantalla de 2016-02-05 17 21 43](https://cloud.githubusercontent.com/assets/815951/12862170/8bcabaee-cc2e-11e5-8b0a-b64ce5e627c9.png)

[2016-02-06 21:24] ConcurrentHashMap commented on #1325
The workaround from @llafuente still works with the 1.5.0. Thanks for sharing!

[2016-02-07 10:29] danduh commented on #1054
+1

[2016-02-07 15:28] tarunrathi999 commented on #830
Add postion:absolute , it may resolve the error to some extent

[2016-02-07 16:18] avgalon commented on #1239
It does not work with 1.5 release.....do you plan to fix it soon?

[2016-02-07 16:31] avgalon commented on #1325
Thanks man, works great with 1.5.
Can you please share on why exactly it works?

[2016-02-07 16:56] hut8 commented on #1325
@avgalon it works because part of the compilation process takes elements called `ui-select-match` (and other `ui-select-*`) and applies the `class="ui-select-*"` attributes. In this case, that part of the transclusion happens *after* the part that looks for elements with those classes, which of course is wrong. So this isn't a bad workaround at all, I don't think.

I had been debugging this last n

[2016-02-07 18:29] flaurian commented on #533
+1 on 0.14.2

[2016-02-07 20:50] misaizdaleka commented on #1325
I'm trying to override select directives so that these classes are automatically added as a part of the compilation process, rather than me adding all the classes manually in the html. No luck for the time being :(

[2016-02-07 23:06] bubenshchykov commented on #224
same error on 1.5.0

[2016-02-07 23:13] bubenshchykov commented on #1325
@llafuente thanks a lot, this little magic worked :)
@hut8 thanks for explaining the magic!

[2016-02-07 23:26] misaizdaleka commented on #1325
Here's my fix so that you don't have to manually add classes everywhere, since this will add them automatically.

[code]

[2016-02-08 01:40] chrisfosterelli commented on #1356
Given that this is a duplicate of #1325, would it make sense to close this and focus discussion on the other issue?

[2016-02-08 01:43] chrisfosterelli commented on #1325
Should we update the title "ui-select broken with angular 1.5.0" since 1.5.0 is now stable, not beta anymore?

Anyone who is using npm to install angular is now most likely being auto-updated to a version of angular that breaks with ui-select, so this is likely going to affect a lot more people now.

[2016-02-08 02:51] aaronroberson commented on #1356
A PR is needed!

On Sun, Feb 7, 2016, 5:40 PM Chris Foster <notifications@github.com> wrote:

[2016-02-08 02:53] soichih commented on #1239
My app got upgraded to angular 1.5 and ui.select is breaking.. Should I downgrade to Angular 1.4?

[2016-02-08 09:46] giacomolm commented on #224
@bubenshchykov +1

[2016-02-08 10:16] mrded commented on #1239
Angular 1.5.0-rc.2 still not working.

[2016-02-08 10:19] avgalon commented on #1325
Thanks hut8.

[2016-02-08 10:30] kvspb commented on #224
+1

[2016-02-08 18:43] akholodenko commented on #224
+1

[2016-02-08 18:47] akholodenko commented on #224
Temporary fix mentioned here: https://github.com/angular-ui/ui-select/issues/1325 by @llafuente

"Add class to ui-select-match and ui-select-choices with the same name"

[2016-02-09 03:02] mpmlj commented on #224
+1

[2016-02-09 06:22] shyamal890 commented on #1314
@colinmorelli Well the issue is still there. With 600 open issues, I wonder when this issue would be resolved. Anyways, looking at angular-ui typeahead may solve this. It has the same functionality, yet it doesn't flicker on item source refresh. @onemenny

[2016-02-09 06:22] shyamal890 commented on #1298
Linking similar issue https://github.com/angular-ui/ui-select/issues/1314

[2016-02-09 06:37] shyamal890 commented on #3
@homerjam Talk with @aaronroberson he is the one maintaining the library now I think.

[2016-02-09 06:44] shyamal890 commented on #1398
Closing 600 issues would be a huge task. All the very best @aaronroberson

[2016-02-09 07:09] aaronroberson commented on #1298
@shyamal890 Can you direct me to a PR that I can review and accept?

[2016-02-09 07:21] onemenny commented on #1298
@aaronroberson look at my pull requests https://github.com/angular-ui/ui-select/pull/1371 I already enhanced it with more bug fixes

[2016-02-09 07:22] onemenny commented on #1314
@shyamal890 this is not the same control. look at my pull requests #1371 I already enhanced it with more bug fixes

[2016-02-09 07:48] aaronroberson commented on #1298
Any chance you can remove the updates to the dist files and optionally
squash the commits?

On Mon, Feb 8, 2016 at 11:21 PM Menny Rachmanny (onemenny) <
notifications@github.com> wrote:

[2016-02-09 07:51] rubinsh commented on #224
+1

[2016-02-09 08:59] onemenny commented on #1298
Sure, I'll do it later on today.

[2016-02-09 14:26] Avien commented on #914
@macem Thanks as well,
I've just used it and it works perfectly!

[2016-02-09 15:16] Narretz commented on #1325
Um, setting a class on an element is a workaround, not a fix. The problem is that ui-select reaches into the transcluded content before it has been compiled. It should instead wait until the transcluded content is ready. The children should require the ui-select directive and call a function in the ui-select controller when they have been linked successfully. At least that's how I would do it.

[2016-02-09 18:09] shyamal890 commented on #1314
@onemenny Ya, saw saw your commit afterwards, sorry.

[2016-02-09 18:46] techniq commented on #1233
A workaround I found from https://github.com/angular-ui/ui-select/issues/1270 was to wrap the collection in parens:
[code]

[2016-02-09 21:33] 3v3r3tt commented on #1287
Another solution I found was to manually remove the watchers from the scope when cleaning up:

`delete scope.$$watchers`

[2016-02-09 21:46] hitigon commented on #224
have the error sometimes with 1.4.8

[2016-02-09 21:54] hitigon commented on #1111
When I use ui-selector in a tab-like component, the width sometimes stays at 10px in a 200px box, after focusing the input box, it becomes normal again.

[2016-02-09 22:00] hitigon commented on #533
+1

[2016-02-09 22:02] hitigon commented on #1303
#224

[2016-02-10 08:59] onemenny commented on #1298
@aaronroberson ok, I hope I got it right. everything is squashed and dist is reset.
There are many changes to this pull request and some new test. here are the highlights:

		a. Do not set opacity when typing (causes flickering)
		b. Appen-to-body=true cause loos of focus on tag add/delete, backspace…
		c. Using tags (dashboard tags): type the letter 'a' which should appear in one of the ddl items

[2016-02-10 09:13] maxchernin opened #1426 "ISSUE: ui-choices combined with ng-click not passing repeated object"
im trying to use this directive for a project, when i use ui-select-choices everything works well,
i also attached an ng-click attribute with a function on my controller.
on click the function is being executed - but the variable is not being passed.

can you advise?

                <ui-select-choices class="ui-select-choices"
                                   repeat="country in (hcNameLocation.

[2016-02-10 10:24] poonwu opened #1427 "Why is an undefined item allowed for selection?"
Can anybody elaborate why undefined item is allowed to pass to select?

https://github.com/angular-ui/ui-select/blob/master/src/uiSelectController.js#L297

[2016-02-10 10:36] landeeyo commented on #258
+1

[2016-02-10 10:41] poonwu commented on #1426
Probably you should use `on-select` event
https://github.com/angular-ui/ui-select/wiki/ui-select

not sure if this is what you intended to do.

[2016-02-10 11:02] edmarriner commented on #1098
+1

[2016-02-10 12:27] maxchernin commented on #1426
exactly what i needed. missed it on the demos. thanks!

[2016-02-10 14:04] AdamGerthel commented on #389
I just moved from oi-select to ui-select because oi-select doesn't support using scope variables to populate its attributes for some reason. Took me a good 3-4 hours to re-theme from oi to ui and rewrite some code.

And now this... gah!

[2016-02-10 14:26] simkessy commented on #389
@AdamGerthel, this isn't a fix exactly, but I was able to help my performance by introducing a min-length and using the refresh directives built in. Essentially, I would only populate the dropdown when the user entered at least 2-3 characters.

Pros: Significant performance improvement, instead of rendering 700 items I'm only showing a subset
Cons: You don't get a full list of values until you ent

[2016-02-10 15:37] audreyn commented on #218
I applied the fix mentionned here: #1325, but I still get the error: `Error: [ui.select:choices] Expected multiple .ui-select-choices-row but got '0'.` when I select an item on list. I think this is because in my template I use the `group-by` attribute. Does someone has the same issue ?

[2016-02-10 16:41] jacobmumm commented on #1164
+1

[2016-02-10 17:41] dviramontes commented on #1325
The diff by @llafuente solved in my case.
Using ui-select 0.13.3
and angular 1.5.0

[2016-02-10 20:51] AdamGerthel commented on #389
@simkessy thank you! It worked wonders. I followed this approach: https://github.com/angular-ui/ui-select/issues/88#issuecomment-179916133

[2016-02-11 09:16] graingert commented on #1403
`npm install --save ui-select@0.14.2`

[2016-02-11 15:35] asprotte commented on #224
@akholodenko 's suggestion fixed the issue for me

[2016-02-11 15:59] mastilver opened #1429 "css is required alongside js"
this line: https://github.com/angular-ui/ui-select/blob/master/index.js#L1
is requiring css from a javascript file

you should use the `style` property instead so:
- it doesn't break when you try requiring the library
- you can use you own style-sheet if you want

Check out how bootstrap is doing it: https://github.com/twbs/bootstrap/blob/master/package.json#L20

[2016-02-11 16:00] earivasz commented on #1325
@llafuente Thanks for the solution works for me with angular 1.5.0.

[2016-02-11 16:07] betonetotbo commented on #221
Hi guys!

I was in the same trouble, i solved using this:

[https://jsfiddle.net/betonetotbo/0yfhe7pf/](https://jsfiddle.net/betonetotbo/0yfhe7pf/)

[2016-02-11 19:07] joshjwalker commented on #1325
@misaizdaleka where did you put that to get it to work? I have a ton of selects throughout a platform I'm working on, and adding classes is unreasonable

[2016-02-12 10:01] Narretz opened #1431 "Run tests on all supported versions"
The bower.json requires angular >= 1.2.18, which implies that ui-select will run on all versions equal or higher than that. But the tests are only run for the latest version that fulfills this, so atm this is 1.5.0. The test suite should instead run the tests for the latest patch versions of 1.2, 1.3, 1.4 and 1.5.

[2016-02-12 10:02] Narretz commented on #1356
PR is here: https://github.com/angular-ui/ui-select/pull/1430

[2016-02-12 10:06] Narretz commented on #1404
The maintainers need to set priorities. For example, looking at the state of the issue queue, there should be a stop on features for the time being. Performance and compatibility fixes should be prioritized.

[2016-02-12 12:21] stanleyxu2005 commented on #224
@asprotte @akholodenko 's fix will have tiny visual difference to previous versions. When dropdown menu is shown, the edge of edit control and dropdown menu have 2px radius border. I can 100% reproduce it when I use "select2" theme.

[2016-02-12 13:38] marincode11 commented on #1164
+1

[2016-02-12 15:25] ganqqwerty commented on #224
+1 for angular 1.5.0

[2016-02-12 16:11] soyuka commented on #1357
+1, using `tagging="scopeFn" tagging_label="false"` selecting a choice in the list calls the `scopeFn` function with an empty string but never calls `on-select`.

[2016-02-12 17:01] #1239 closed

[2016-02-12 17:01] #1325 closed

[2016-02-12 17:01] #1356 closed

[2016-02-12 17:01] #1422 closed

[2016-02-12 21:23] akcasoy commented on #34
i have the recent version of ui-select. By using multiple option and ng-disabled, the field is greyed out but seems like this:

<img width="355" alt="screen shot 2016-02-12 at 22 23 16" src="https://cloud.githubusercontent.com/assets/12121451/13020723/4980ff64-d1d7-11e5-826c-20d6ddde805d.png">

[2016-02-13 12:08] sebelga commented on #224
+1 (angular 1.5.0)

[2016-02-13 12:33] sime commented on #224
Can I suggest that adding +1 doesn't help to the development of this issue.

[2016-02-14 09:07] jitendersandhu commented on #1098
+1

I am also facing the same issue.

Here is the workaround i used to have similar feature.

HTML code -

[code]

CSS code for `Clear Button` -
[code]

JS code to handle `Clear Button` Click -
[code]

Hope this helps. But again this is just a workaround, still would be great to just add `allow-clear` attribute to make it work.
Thanks!

[2016-02-14 13:35] akcasoy opened #1432 "ng-disabled makes empty multiselect box looks strange"
Here is to see:
http://plnkr.co/edit/DkeH6CO4OWJKbW2Ie1UN?p=preview

Do not select anything from the list, just click on the disable button.

[2016-02-14 23:00] novoxudonoser commented on #224
+1 (angular 1.5.0)

[2016-02-15 10:47] alo commented on #224
+1 (angular 1.5.0)

[2016-02-15 11:05] DURK commented on #224
It seems the issue has been fixed on master, but the `dist` folder has not been updated. As I'm using (and probably most of you) bower to install ui-select, this prevents me from applying the fix. Could someone update the dist build or better yet create a new version?

[2016-02-15 16:18] giacomolm commented on #224
@akholodenko 's suggestion fixed my problem with ui-select (1.5.0)

[2016-02-15 16:29] Ellis-Beta commented on #277
+1

[2016-02-15 16:47] user378230 commented on #1432
Have a look at #379 (especially the last comment)

I think this essentially a duplicate of #1044 & #1156

[2016-02-15 19:35] scottlepp commented on #71
error is back with angular 1.5

[2016-02-15 19:43] novoxudonoser commented on #277
+1

[2016-02-15 20:11] dicbrus opened #1434 "ui-select-choices do not update changes in view (when model changes)"
i'm using multiple iu-select and found out that ui-select-choices do not update the view when model is changed.

When element is deleted from binded array, it do not appear in the  ui-select-choices list and it is unavailable to select it again.

To reproduce the issue I uploaded code to Plunker
[https://plnkr.co/edit/E1yErzVefrPlKurUsHH9?p=preview](https://plnkr.co/edit/E1yErzVefrPlKurUsHH9?p=pre

[2016-02-15 20:22] dicbrus commented on #918
the same issue...

[2016-02-15 21:32] dicbrus commented on #918
Interesting to note that version 0.3.8 working excellent, so strange that it is not still fixed
https://plnkr.co/edit/E1yErzVefrPlKurUsHH9?p=preview

But if you change js script to last ui-select version, the problem appears.

[2016-02-15 22:42] Isaac6702 opened #1435 "Problem when the ng-model is initialized in a multiple select"
Hi,

if I have initialized the ng-model places but get doubled in the list that can be?

    <ui-select multiple ng-model="user.sportsPreferences" theme="bootstrap" ng-disabled="disabled" title="Choose a sports preferences" >
        <ui-select-match >{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="sportsPreference in sportsPreferences | filter:{id: $select.search} track by spo

[2016-02-16 00:49] krister1028 commented on #1349
+1

[2016-02-16 08:42] bogdanalexe90 opened #1436 "Focus on search doesn't work anymore"
From `0.14.0` the search input is not focused anymore when dropdown is opened. I tried to figure it out and it seems that the problem is:

[code]

It seems that the code inside `ctrl.$animate.on` it's never run.

[2016-02-16 09:08] amitdun opened #1437 "After selecting element in ui-select how to move focus to button on enter key?"
`<ui-select on-select="onSelected(this)" ng-model="availableList.selected" theme="bootstrap">
                        <ui-select-match placeholder="select or search in the list...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in availableCmdList | filter: $select.search">
                            <span ng-bind-html="item | highlight: $select.sea

[2016-02-16 10:09] user378230 commented on #1436
Is #1415 relevant?

[2016-02-16 10:12] Magador commented on #277
Being spammed by mail ^^ (Holy github notifications), I decided to take @grantfeldman 's example:

This snippet below is supposed to be placed at [select.js#L870](https://github.com/angular-ui/ui-select/blob/master/dist/select.js#L870)

[code]

I will make a PR.

[2016-02-16 12:37] kobiburnley opened #1438 "Multiple - allow custom template of selected items"
Allow full customization of selected items template, i.e not showing the "x" button...
I think it should look like this

[code]

[2016-02-16 13:19] IsmiKin commented on #428
+1

[2016-02-16 13:35] soyuka commented on #1380
You have to set `taggingLabel` to false.

[2016-02-16 13:42] arjanvlek opened #1440 "Cannot read property 'source' of undefined"
I have upgraded angular to 1.5.0 and am using ui-select version 0.13.1
I get the following error:
Cannot read property 'source' of undefined, at line 1598 of select.js ( `var data = $select.parserResult.source (scope, { $select : {search:''}}), //Overwrite $search`)

This is my html code:

[code]

How can I fix this issue?

[2016-02-16 13:42] novoxudonoser opened #1441 "custom templates at multiple select elements"
I want to customize ui-select templates, so I am overriding them:

[code]
But I have to different ui-select elements on one page and I want to use different templates for them, how can I do that ?

[2016-02-16 13:47] soyuka commented on #1440
https://github.com/angular-ui/ui-select/commit/0e85670ed377148ac3a7d5ef6ff5ed7c46446858

[2016-02-16 13:48] soyuka commented on #1427
because when tagging item can be undefined, the value taken would be `ctrl.search`.

[2016-02-16 13:54] arjanvlek commented on #1440
So I have to wait until this fix gets released and then upgrade to Angular 1.5.0?

[2016-02-16 13:58] soyuka commented on #1440
you can base your dependencies on master, not advised but it should work for now:

[code]

[2016-02-16 14:42] MacGyver27 commented on #1269
+1

[2016-02-16 14:53] bogdanalexe90 commented on #1436
I'm using angular `1.5.0`

[2016-02-16 15:54] jacksoncharles opened #1442 "installation via npm"
Any chance this will become available as an NPM module? Else, installation via NPM which I can use with browserify?

Thanks for all the hard work.

[2016-02-16 16:11] user378230 commented on #1441
I don't think there are any restrictions on the `theme` name so you could use a name for each one.
Eg:

[code]
And when then specify theme in ui-select directive:

[code]
I does mean you have to duplicate all the templates unfortunately. But I guess you can set up some kind of loop to duplicate all the templates for a new first, then overwrite the ones you want to customise.

[2016-02-16 16:12] user378230 commented on #1442
Is https://www.npmjs.com/package/ui-select what you're looking for?

[2016-02-16 21:00] ipavlyk commented on #1325
@llafuente, I spent a lot of time searching for solution and got nothing.  But your post save a lot of my time. Thx a lot, man)

[2016-02-16 21:34] misaizdaleka commented on #1325
@joshjwalker just put in your main js file. In my case, it was app.js.

[2016-02-17 01:27] mikemclin opened #1444 "Angular 1.5 - Uncaught Error: [ui.select:transcluded] Expected 1 .ui-select-match but got '0'."
Code broken when I upgraded from Angular 1.4 to 1.5  Now I get the following error:

`Uncaught Error: [ui.select:transcluded] Expected 1 .ui-select-match but got '0'.`.

Looks like I'm not the only one running into the issue (look at the last comment) - https://github.com/angular-ui/ui-select/issues/71.

[2016-02-17 02:11] mikemclin commented on #1444
Actually https://github.com/angular-ui/ui-select/commit/b1c4fdc5919dd0f5c66926498c28114a48334af9 fixes this issue.

Waiting on a release.

[2016-02-17 07:15] falinsin opened #1445 "Need use of CONTROL-KEY for close or not close on every selection"
In windows,  if you have a form multiselect option control you can push  the control-key for stick open the selection while you select elements from the list of options .

If you do not press the control-key , the list of option will close every option you select.

Some angular components multiselections do this because they wrap a multiselect option control  but this angular ui-select do not resp

[2016-02-17 07:30] falinsin opened #1446 "how get the list of filtered elements for example, using a button"
I´m using this UI-SELECT as a multiple selection control.

In this control We know We can insert a string for filter the option list so the option list start filter and reduce this list of options  in order to match the string we insert.

This is very important because we use a lot of option in the list and is very convenient  for the users.

Teh question is:
But how can We get the entire filtered

[2016-02-17 08:11] rodmax commented on #1444
+1 to quickly release this :) because it is blocker to bump angular 1.5.x

[2016-02-17 09:50] user378230 commented on #1445
You could modify ui-select to `$observe` the [close-on-select](https://github.com/angular-ui/ui-select/blob/master/src/uiSelectDirective.js#L40) attribute similar to how it is already done for some of the [other attributes](https://github.com/angular-ui/ui-select/blob/master/src/uiSelectDirective.js#L116):

[code]

You might be able to encapsulate this in another directive that does `require: uiSe

[2016-02-17 10:42] user378230 commented on #1446
You can't access the filtered list from `ui-select`. You could manually apply your filter to your list of items and update your selected items array with the result. See angular docs: [Using filters in controllers, services, and directives](https://docs.angularjs.org/guide/filter)

[2016-02-17 10:50] dbsoftltd commented on #1444
+1 for a quick release :) Testing the changes in local environment but would prefer the official build.

[2016-02-17 11:17] misaizdaleka commented on #1444
+1

[2016-02-17 11:43] #1441 closed

[2016-02-17 12:56] Wereq commented on #1444
+1

[2016-02-17 13:10] Mo7medFouad commented on #1444
+1

[2016-02-17 16:13] brmcerqueira commented on #224
+1 (angular 1.5.0)

[2016-02-17 18:27] gino8080 commented on #1444
+1

[2016-02-17 22:07] quotient commented on #1094
Is there a solution on this issue?

[2016-02-18 00:06] falinsin commented on #1446
Thank you for your help. it is a good solution.
Now my question is,  how could I get the string the user is inserting in the UI-SELECT search in order I can use for manually  filter the list and update my selected items?

Thanks again for your help

[2016-02-18 00:07] realavaloro commented on #224
the suggestion to add a class with the same name does not work for me. I'm using bootstrap theme. How come the workaround works only for somebody?
[code]

These are my versions in case anybody see a conflict. But I'm afraid I will have to downgrade to 1.4.9 for now
[code]

[2016-02-18 00:12] falinsin commented on #1445
thank you very much  for your help I'm going to try this idea

[2016-02-18 04:57] jchandra74 commented on #1260
yeah experienced this as well +1

[2016-02-18 06:17] Azsael commented on #1444
+1

[2016-02-18 09:23] armanforghani commented on #1444
+1

[2016-02-18 11:22] novoxudonoser commented on #224
@realavaloro I have the same fing with same class names.
+1

[2016-02-18 11:24] user378230 commented on #1446
Hmm I didn't think of that!

Maybe like #1445 you can create a directive to access `uiSelectController` and `$watch` `$select.$search`?

[2016-02-18 12:09] edu2004eu commented on #1197
@AlexSin15 I tried that, but if I do it like that, when clicking (ie. focusing) the input, nothing happens except that the arrow disappears, but there is no focus on the input. You have to click the input again to get actual focus.

[2016-02-18 12:13] AlexEmashev commented on #788
same problem

[2016-02-18 13:01] Narretz commented on #1444
@aaronroberson wdyt about a quick patch release that includes the 1.5. fix?

[2016-02-18 13:39] pburrows commented on #1311
Does this fix it? It does for me:

[code]

[2016-02-18 15:26] #806 closed

[2016-02-18 15:38] falinsin commented on #1446
I´ll try that way,   thank you

[2016-02-18 15:43] aaronroberson commented on #1444
#1430 has been included in the v0.14.3 release.

[2016-02-18 15:43] #1444 closed

[2016-02-18 15:44] aaronroberson commented on #1442
This is available as an npm module already as noted above.

[2016-02-18 15:44] #1442 closed

[2016-02-18 15:45] aaronroberson commented on #1440
This has been fixed in the v0.14.3 release.

[2016-02-18 15:45] #1440 closed

[2016-02-18 15:47] aaronroberson commented on #1429
Great suggestion of the style element. Never seen that before, but will update. I removed the require from index.js in v0.14.3.

[2016-02-18 15:49] #1429 closed

[2016-02-18 15:52] aaronroberson commented on #1415
Can you make a PR?

[2016-02-18 15:53] mastilver commented on #1429
Thank you!

[2016-02-18 15:55] #1357 closed

[2016-02-18 16:06] Sixthdim commented on #1444
Hmm, I'm still getting the `Expected 1 .ui-select-match but got '0'.` error in 0.14.3 and Angular 1.5.

[2016-02-18 18:54] #1406 closed

[2016-02-18 19:19] aaronroberson commented on #1406
v0.14.3 no longer includes the CSS file by default and requires that you manually include it.

[2016-02-18 19:20] aaronroberson commented on #1444
@Sixthdim Can you provide a stack trace, any additional details or plunkr example?

[2016-02-18 19:49] Sixthdim commented on #1444
@aaronroberson  Sure, here is the stack. I'll see if I can get a fiddle up today if this doesn't help.

Error: [ui.select:transcluded] Expected 1 .ui-select-match but got '0'.
    at http://localhost:8080/js/select.js:125:12
    at http://localhost:8080/js/select.js:1038:19
    at publicLinkFn (http://localhost:8080/js/angular.js:8105:29)
    at http://localhost:8080/js/angular.js:8447:29
    at b

[2016-02-18 19:50] aaronroberson commented on #1325
The fix has been published in v0.14.3.

[2016-02-18 19:51] falinsin commented on #1445
I added the $observe in close-on-select. Now, if I change the value of close-on-select in the tag of the select it change the behavior, so far ok and is a step forward.

But the problem is that my client want the behavior like CHOSEN and all the native multiselect controls in Windows. That is, the list of selection stay open and you can  select multiples elements when you press the CONTROL KEY on

[2016-02-18 20:13] aaronroberson commented on #1444
[code]

[2016-02-18 20:18] #277 closed

[2016-02-18 20:36] armanforghani commented on #859
I have the same problem using angularjs and nganimate 1.5, when I include ngAnimate in my app, after the first selection the input doesn't focus and i can't type.

[2016-02-18 21:04] aaronroberson commented on #848
Please confirm fix in v0.14.7 and close this issue.

[2016-02-18 21:08] aaronroberson commented on #1398
@ProLoser I'm a strong believer in passing in an options config object as opposed to adding a million attributes to a directive. How do you feel about that?

As for modularity, singularity and composability I 100% agree.

[2016-02-18 21:12] #1003 closed

[2016-02-18 21:23] Azsael commented on #1444
@aaronroberson I am getting same as @Sixthdim when I upgrade.

[2016-02-18 21:39] Narretz commented on #1444
@aaronroberson Here's the demo modified with latest angular and ui-select versions, and all things work: http://plnkr.co/edit/ZAncjGXEZvyMJCM3eKew?p=preview
If anyone is still experiencing the error, then you should post a demo of the problem in the plnkr. There are maybe edge cases that this fix didn't catch. The test coverage is also not that good, and I only made it so that all tests pass, I di

[2016-02-18 21:48] Azsael commented on #1444
@Narretz Looks like the 0.14.3 package, still has the old 0.14.1 packages in the dist folder.

[2016-02-18 21:50] #158 closed

[2016-02-18 22:02] #519 closed

[2016-02-18 22:02] #808 closed

[2016-02-18 22:14] Narretz commented on #1444
@Azsael Thanks for investigating. This is something @aaronroberson must handle ;)

[2016-02-18 22:26] buremba commented on #1404
@Narretz +1. Currently, this component is the only stable select component for Angular but the performance issues prevent us to use it in our production environment.

[2016-02-18 22:28] aaronroberson commented on #1444
If you look [here](https://github.com/angular-ui/ui-select/blob/v0.14.3/dist/select.js) you'll see the tag for v0.14.3 has the updated build files. Something may have gone wrong when publishing to npm.

[2016-02-18 22:30] Azsael commented on #1444
@aaronroberson Not quite sure, I noticed you released more versions so updated to 0.14.7

[2016-02-18 22:42] kunal999 commented on #1434
I don't see any issue in the plunker you have provided. I can see all the 3 choices every time

[2016-02-19 13:48] user378230 commented on #1438
You can update the templates in the `$templateCache` (eg. https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/match-multiple.tpl.html)

If you want to create a custom theme just for one instance of the ui-select control see my response in #1441

[2016-02-19 13:49] user378230 commented on #1434
@dicbrus I think your plunkr is using an outdated version `ui-select`

[code]

[2016-02-19 16:30] viniciusdacal opened #1449 "Unit tests it's not running in travis"
It's easy to check it in any build log
https://travis-ci.org/angular-ui/ui-select/builds/110334334
![captura de tela 2016-02-19 as 14 29 24](https://cloud.githubusercontent.com/assets/2660570/13181656/409f7112-d715-11e5-9b23-56393f6e24eb.png)

[2016-02-19 17:01] ProLoser commented on #1398
I have explored the ability to do both. Simply iterating for any values on the attributes with a common prefix, letting attributes override properties in the options object, etc.

[2016-02-19 17:05] kunal999 commented on #1241
I am having the same issue. This is causing an issue while testing using Selenium as the testing script assumes the first element would be selected when opened. I am using 0.13.2

[2016-02-19 20:37] jgirdner opened #1450 "Wrong select-choice highlighted on load"
When my app loads for first time I am having an issue with the wrong select choice being highlighted in the drop down.  The value is correct in my inspector and the select-match shows the correct choice.  but the drop down for some reason is highlighting the wrong one.

Once the app has loaded and you change choices the correct one is highlighted.  This only happens on first load.

Anyone ever exp

[2016-02-19 21:30] chuckyblack commented on #218
@audreyn  Yes, I have the same issue. It occurs only with **group-by** attribute.

[2016-02-19 21:44] ernestopye commented on #1349
+1

[2016-02-19 22:02] user378230 commented on #1450
I don't think there is enough information to help here, verify that your ngModel value is set correctly. Can you create a plunkr or similar to reproduce? Maybe that will help.

[2016-02-19 22:03] rodrigocarranza-santex commented on #258
+1

[2016-02-19 22:07] jgirdner commented on #1450
The ngModel is set correctly because the select-match is correct.  Not very good with plunkr :(  Below is the relevant code.

[code]

[2016-02-19 22:08] user378230 commented on #1349
Did you try [`ngMouseenter`](https://docs.angularjs.org/api/ng/directive/ngMouseenter)/[`ngMouseleave`](https://docs.angularjs.org/api/ng/directive/ngMouseleave)?

You may need to modify [choices.tpl.html](https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/choices.tpl.html) to get the desired styling.

[2016-02-19 22:11] user378230 commented on #1450
You need to fix your ngModel reference first. See https://github.com/angular-ui/ui-select/issues/1353#issuecomment-175729671 and [FAQ](https://github.com/angular-ui/ui-select/wiki/FAQs#ng-model-not-working-with-a-simple-variable-on-scope)

[2016-02-19 22:22] jgirdner commented on #1450
But if the ngModel was messed up wouldn't {{$select.selected.name}} return the wrong value?

[2016-02-19 22:33] jgirdner commented on #1450
Never mind. I get it now. selectedClient is an object not an item in array. so it doesn't know which item in the array to select

[2016-02-19 22:40] jgirdner commented on #1450
Just to update incase anyone else gets stumped by this. @user378230  Thanks for the help!

[code]

[2016-02-19 22:42] #1450 closed

[2016-02-20 20:58] rubinsh commented on #830
+1

[2016-02-21 11:03] dicbrus commented on #1434
By mistake, I added 0.8.3 version that is working excellent.

Here is the link to plunker with last ui-select version and also with problem
https://plnkr.co/edit/yitp361WJzbyuBsSIUoC?p=preview

[2016-02-21 23:58] hugobessa commented on #224
+1

[2016-02-22 00:19] grantfeldman commented on #224
+1 (angular 1.5.0)

[2016-02-22 09:48] rasenplanscher commented on #224
+1 (angular 1.5.0)

[2016-02-22 09:56] migglu opened #1451 "Using HTML5 data-* attributes breaks the multi-select and theme"
I'm using a HTML5 validator, so I add data- in front of all of my attributes that are not standard HTML attributes. When I do this with the "multiple" attribute for ui-select, this causes uiSelectMatch directive to load an incorrect template.
I believe the error comes from here https://github.com/angular-ui/ui-select/blob/master/src/uiSelectMatchDirective.js#L12-L13 .

[2016-02-22 11:34] ganqqwerty commented on #850
I'm trying to use `ng-messages` with ui-select. I've tried to use both `required` and `ng-required` with `multiple` option turned on and `bootstap` theme. When I pick a value and then delete them, I still see ng-valid.

[2016-02-22 12:04] rasenplanscher commented on #224
@realavaloro and @novoxudonoser
Your class names need to match the respective elements, like so:
[code]

[2016-02-22 14:26] gaetansenn commented on #1431
Yes right. I got the same problem when I upgraded to the 1.5 version of angularJS.

[2016-02-22 14:30] artparks commented on #169
if you're using a pre-processor you can use the mixin:

`@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);`

on .ui-select-toggle etc

(this may be specific to BS4, there's probably a BS3 version)

[2016-02-22 15:45] hitchcockwill commented on #992
I'm running into this same issue. Anyone come up with a fix for this?

[2016-02-22 16:44] user378230 commented on #1434
Looks like `$watchCollection` [calls](https://github.com/angular-ui/ui-select/blob/master/dist/select.js#L1426) `refreshComponent` but `ctrl.selected` isn't updated when the list of items is [refreshed](https://github.com/angular-ui/ui-select/blob/master/dist/select.js#L485).

[2016-02-22 16:49] user378230 commented on #992
The templates are added to cache similar to any other angular template. See: https://github.com/angular-ui/ui-select/blob/master/dist/select.js#L2031

There must be an issue elsewhere in your application which is causing a problem saving to the `$templateCache` can you provide a reproduction plunkr?

[2016-02-22 16:52] user378230 commented on #224
Is this not resolved by #1430 or is this a separate issue?

Please include the version number of ui-select you are using when +1'ing

[2016-02-22 23:07] cristianhoyos66 commented on #224
I solved this getting back angular 1.5.0 to 1.4.8

[2016-02-23 02:43] andrewboni commented on #1436
Also seeing this, but with angular `1.4.8`

@bogdanalexe90 did you find a solution?

[2016-02-23 06:01] gberger opened #1452 "Undocumented dependency on Glyphicon"
When using ` allow-clear="true"` on `ui-select-match`, a Glyphicon "remove" icon is used as the button to clear the selection.

This is not documented anywhere.

Ideally, users should be able to set their own template or class for the clear button.

[2016-02-23 06:22] joseabraham99 opened #1453 "ui-select drop-down list auto scroll when open in windows phone"
Hi Team,

when open ui select in windows phone it gets auto scroll. please see the link for the issue. [https://www.youtube.com/watch?v=aqL9eGWZRko](https://www.youtube.com/watch?v=aqL9eGWZRko).

[2016-02-23 08:45] bogdanalexe90 commented on #1436
not yet. Just a hacky one:
* Create a new directive for `ui-select-choices`
* Inject $animate on it
* in the link step do `$animate.enabled(element, false);`

In this case all the animations on `ui-select-choices` will be disabled and the check will take the `else` path.

[2016-02-23 11:13] lordnox commented on #1355
I had the same error. The bug occured in safari when using the mouse only and I did a little more debugging.

The problem I found was with the ng-if added to the choices itself:
https://github.com/angular-ui/ui-select/blob/master/src/uiSelectChoicesDirective.js#L48

The ng-if seems to trigger after the _ensureHighlightVisible is called, which in turn lets the querySelector not find any elements (n

[2016-02-23 11:18] lordnox commented on #924
ng-if is currently not allowed in ui-select-choices, I'm not sure if documented or not.

ng-if will be overridden here:
https://github.com/angular-ui/ui-select/blob/master/src/uiSelectChoicesDirective.js#L48

you should use a filter for the repeat expression:
[code]

[2016-02-23 13:18] rasenplanscher commented on #224
@user378230
Yes, that does solve the issue. Thank you for pointing that out! Therefore this ticket can be closed now.

@cristianhoyos66
That's not really a progressive option, now is it? Also, see @user378230's answer right before yours...

[2016-02-23 20:47] gatormike commented on #1355
@lordnox Thanks for the workaround.  I have been using Angular 1.5, and recently started getting the same error, as well as strange performance behavior, as if the browser was processing something and scroll was getting reset.  I commented out the ng-if (added ; on line before as well).

`choices.attr('ng-repeat', $select.parserResult.repeatExpression(groupByExp));`
`// .attr('ng-if', '$select.ope

[2016-02-23 22:08] chrisfosterelli commented on #1325
Thanks @aaronroberson and @Narretz!

[2016-02-24 02:10] darioml commented on #1409
Did you end up getting this to work?

Looking at a non-multiple select object that lets me dynamically add values to the list. Seems similar here?

[2016-02-24 08:59] sbuljac commented on #295
+1

[2016-02-24 09:22] ibbatta opened #1455 "Is there a way to select all the items in a multiple select?"
I am trying to find a way to select all the options inside a select, but I can not. Is there an easy way to do that?
Sorry for the trouble, I am learning.

[2016-02-24 10:09] erikakinga commented on #1094
+1

[2016-02-24 10:22] martinoss commented on #1368
@Till86 I guess I'm having the same problem here and it does not seem to be solved in 0.14.9 where #1407 is merged into.

First item is always highlighted.

[2016-02-24 11:14] jharting commented on #1415
I sent a PR for this here: https://github.com/angular-ui/ui-select/pull/1456

[2016-02-24 11:44] user378230 commented on #1409
There were some fixes that recently went in for single select tagging (#1439)

@darioml  are you using the latest version of ui-select with this fix?

[2016-02-24 12:13] dicbrus commented on #1434
the issue with the same bug was opened before
https://github.com/angular-ui/ui-select/issues/918

and unfortunately was not solved.

[2016-02-24 12:22] dicbrus commented on #1434
https://github.com/angular-ui/ui-select/pull/1019/files

this solved the problem.

[2016-02-24 12:22] dicbrus commented on #918
this solved the problem
https://github.com/angular-ui/ui-select/pull/1019/files

[2016-02-24 13:04] user378230 commented on #1455
You could have a separate button which copies from your items array to your selected items array in your controller. (Outside of ui-select)

For example from `availableColors` to`multipleDemo.colors` for this ui-select:

[code]

[2016-02-24 13:12] user378230 commented on #1452
I guess the dependency is implicit based on requiring bootstrap.

You can modify templates in the `$templateCache` or provide your own ([`bootstrap/match.tpl.html`](https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/match.tpl.html) or [`bootstrap/match-multiple.tpl.html`](https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/match-multiple.tpl.html) depending on which mo

[2016-02-24 13:22] ibbatta commented on #1455
@user378230 could you be more clear about your idea? Thanks

[2016-02-24 13:31] ibbatta commented on #1455
Ok resolved:

i've added the whole array to my ng-model. Thanks!

[2016-02-24 13:31] #1455 closed

[2016-02-24 14:15] tbandixen commented on #428
:+1:

[2016-02-24 17:47] Hesesses opened #1457 "ui-select popup size"
How I can change the popup size (width / height)?

Overriding css values doesnt work.
`.ui-select-bootstrap > .ui-select-choices`

[2016-02-25 07:47] juusopimia opened #1459 "Issues with label for"
Hi,

I can't get external "label for" to work, tried with 0.14.8 (should have the fix merged in as far as I can tell).

What I see with debugger is that id value is correctly placed for the search input field, but because it has "display: none" initially, clicking the label does not change focus to input.

Example Plunkr: http://plnkr.co/edit/NhPHmxsGin6HoupaWXhG?p=preview

Any suggestions?

[2016-02-25 08:28] Avien commented on #1404
So just upgraded to angular 1.5 and therefore needed to upgrade ui-select (0.14.3) to fix the transclude issue but the performance is awful!!
I cant search a multi select with 100 items , it is so slow, and also closing the menu is very slow
Unfortunately going back to my fork, and revert back to angular 1.4.x
Will have to find an alternative to ui-select

[2016-02-25 09:46] Avien commented on #1404
I have managed to create a fix on the latest version which omits the newly animation added to the menu, apparently it slows down the rendering significantly.
Also added the ability to know when the component is filtered by emitting a 'uis:filter' event
https://github.com/angular-ui/ui-select/pull/1460

[2016-02-25 10:42] silentHoo commented on #1415
Thank you @jharting :+1:

[2016-02-25 11:40] vmihailenco opened #1461 "npm version"
Latest version in repo is https://github.com/angular-ui/ui-select/tree/v0.14.9, in changelog last version is v0.14.8, but npm has only v0.14.7.

[2016-02-25 12:42] cgonul commented on #158
I am sorry but it is still not working by my side. Can you eleborate an example. I am helpless. Thank you very much.

[2016-02-25 17:11] bogdanalexe90 opened #1462 "Error when using ui-select-choices repeat without a filter"
Hi,
I receive an `$parse` error when using `<ui-select-choices repeat="item in itemList track by item.id">`
I managed to track down the problem and it seems to be the regex from `uisRepeatParser`.

The problem seems to be:
* `source: $parse(!match[3] ? match[5] : match[6]),`
* `match[3]` is `undefined`
* `match[5]` is `itemList track by item.id`
* `$parse` throws the following error `Token 'track'

[2016-02-25 17:54] csenger commented on #297
The selectize theme doesn't support multiple inputs. I think this ticket can be closed.

[2016-02-25 19:09] #297 closed

[2016-02-25 20:40] jziggas commented on #1156
This seemed to work for me:
[code]

[2016-02-25 20:43] jziggas commented on #1044
Posted a fix in #1156

[code]

[2016-02-25 21:01] EOM opened #1463 "Fix run in AngularJS Ver.1.5.. only Ver.1.4 ;-("
Fix run in AngularJS Ver.1.5.. only Ver.1.4 ;-(

[2016-02-25 21:19] EOM commented on #1463
**OK run update in AngularJS 1.5.0 + Bootstrap 3.3.6 + CDN ;-)**

Link Example: [http://plnkr.co/edit/8B9p4pEieN2jqRz4M6nk?p=preview](http://plnkr.co/edit/8B9p4pEieN2jqRz4M6nk?p=preview)

[2016-02-25 21:19] #1463 closed

[2016-02-25 22:53] Zelgadis87 commented on #1355
I had the same issue, @gatormike workaround worked for me as a temporary solution.

[2016-02-26 06:33] vicky-gonsalves commented on #1233
@techniq +1

[2016-02-26 17:46] brandonjp opened #1465 "Confusion on version numbers, bower & package"
Sorry, if this is a dumb question, just trying to understand how things work and contribute if helpful...

We were having the same issue as #1415 and trying to submit a PR, but got a little hung up on version number mismatch between `dist` js/css files and `bower.json` and `package.json`

where [`bower.json#L3`](https://github.com/angular-ui/ui-select/blob/3b1496cb73103c593ab54c1fd04f4d69bc7ed8f1/

[2016-02-26 17:50] nickroberts commented on #1098
I've noticed that when you do this, it still doesn't clear the active property, so the dropdown list still shows it being selected. This is true for the `bootstrap` theme, along with the `selectize` theme. I'm not sure of the `select2` theme, as I haven't tested it.

<img width="307" alt="screen shot 2016-02-26 at 12 49 44 pm" src="https://cloud.githubusercontent.com/assets/972330/13360466/7062d16

[2016-02-26 18:16] jziggas commented on #1278
Both of those examples show default demos.

[2016-02-26 18:20] smithk58 commented on #1278
If you're referring to my example and @denis-bondarenko's examples:
-Mine IS pointing at the default demo. I was only giving steps to reproduce the issue.
-Denis's example isn't the default demo. Apply the reproduction steps I listed to the one he linked to and you'll see it doesn't overflow.

[2016-02-27 17:45] patrickhousley commented on #859
@maxhan Oh wow, sorry I didn't get an email for your reply and work as been super busy. I will try to take a look.

[2016-02-27 18:27] patrickhousley commented on #859
I created a new plunker [here](https://plnkr.co/edit/tKDZcb?p=preview) for the issue described by @maxhan but I still cannot reproduce the issue. @maxhan can you take a look at the plunker and maybe update it so it reproduces your issue?

As for anyone having issues with angular 1.5, can you please update to the latest version of ui-select? I am wondering if https://github.com/angular-ui/ui-select

[2016-02-28 13:19] mstmustisnt commented on #224
@rasenplanscher
thank you
guy you've saved my life!!

adding classes solved for me

[2016-02-29 00:17] aske-cph opened #1466 "Hide dropdown before search?"
Hi,

Is there a way to hide the dropdown before people enter anything?

I use the minimum-input-length attribute, but users gets confused by the dropdown and think they are the only options ( jeesh ). Therefore i want to hide the dropdown until the input minimum-input-length is reached.

I have tried:

` ng-show="$select.search.length > 1"`

On the ui-select-choices tag, but it gives me the error:

[2016-02-29 02:14] dwheatfall commented on #1296
@ERobishaw you're a life saver! I spent about 4 hours trying to get this to work.

[2016-02-29 04:29] shankarregmi commented on #228
+1

[2016-02-29 07:50] rasenplanscher commented on #224
@mstmustisnt
You're very welcome.

@all
As @user378230 pointed out, this is fixed by #1430 – that means: by updating to *v0.14.3* or above, the classes-workaround is *not necessary* anymore. So, use the workaround only if you cannot update at this point.

[2016-02-29 10:41] luckylucky commented on #1269
+1

[2016-02-29 11:21] user378230 commented on #1466
Its probably trying to merge the value of the ng-show you added with the one that exists in the [choices.tpl.html](https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/choices.tpl.html).

You could try hacking it by using `ng-show="$select.search.length > 1 &&"` I don't know for sure if that'd work.

Else you could modify/overwrite the [choices.tpl.html](https://github.com/angular-ui/

[2016-02-29 14:07] aske-cph commented on #1466
Yes i think it was the template thing!

The easiest way to extend to my own behaviour was to copy the template from the select.js file, then modify this line in the template line:

from

`ng-show=\"$select.items.length > 0\"
`
to

`ng-show=\"$select.search.length > 0\"
`
and then overwrite the template in my own applications run code block.
`
$templateCache.put("bootstrap/choices.tpl.html", "<ul c

[2016-02-29 17:11] MacGyver27 commented on #218
`Error: [ui.select:choices] Expected multiple .ui-select-choices-row but got '0'.`
+1 (0.14.9, Angular 1.5.0)

@chuckyblack it does not.. I have it without `group-by` just using multiple and error gets generated insanely many times..

Also feeling up the choices feels extremely laggy compared to 0.13.2 and Angular 1.4.8.. It does not allow me to select/scroll until list is fully loaded.. which tak

[2016-02-29 18:47] MacGyver27 opened #1467 "Error: [ui.select:choices] Expected multiple .ui-select-choices-row but got '0'."
Hey,

I am getting this error message `Error: [ui.select:choices] Expected multiple .ui-select-choices-row but got '0'.` when I select item from drop down list. (ui-select 0.14.9 (even 0.14.0), angular 1.5.0 or angular 1.4.9)

[code]

It gets generated instant many times after I select..

My setup (does the same without classes):
[code]

So far working configuration for me was only ui-select 0.13.

[2016-02-29 22:42] user378230 commented on #1467
Can you provide a reproduction plunkr with the latest version of ui-select?

[2016-03-01 00:58] realavaloro commented on #46
This issue seems to be back when using `"angular-ui-select": "0.14.9"` and Angular 1.5.0
Anyone can confirm whether the problem remains?

[2016-03-01 02:54] realavaloro commented on #218
I am also getting a `Error: [ui.select:choices] Expected multiple .ui-select-choices-row but got '0'.` and feeling  the select ui slower with 0.14.9 and Angular 1.5.0 than before.
This error seems to happen randomly though..

[2016-03-01 03:03] realavaloro commented on #46
I am experiencing the same issue with angular 1.5.0 and angular-ui-select 0.14.9 although I cannot reproduce it in a basic example
http://plnkr.co/edit/Qt1KJflr9Eh9wMBVfpGT?p=preview
so it must have some conflict with some of my other libraries but I still haven't found which one!

Any clue by any chance on which one might be likely to conflict as per past experience?
[code]

[2016-03-01 08:31] SamuelPadou commented on #1467
@MacGyver27 Do you have ngAnimate in your project? I had a similar error when ngAnimate is present, removing the module or deactivating it for the select item should fix the error.

[2016-03-01 09:27] codeuniquely commented on #71
went to the link provided  http://plnkr.co/edit/FBjraF?p=preview

and got this console error ...

[code]

[2016-03-01 15:04] silentHoo commented on #1465
+1

[2016-03-01 15:08] rafa-aguilar commented on #1465
+1

[2016-03-01 15:10] Stylix opened #1469 "Iterating over objects doesn't work with Angular 1.4.8"
Hi,

Functionnality iterating over objects doesn't work anymore with the angular's version 1.4.8? Any ideas ?

Thanks !

[2016-03-01 15:18] jitendersandhu commented on #1098
@nickroberts
Following should fix it, i have tested with `selectize` theme. Hope this helps.

[code]

[code]

[2016-03-01 15:27] #1469 closed

[2016-03-01 15:27] Stylix commented on #1469
Error from me. Sorry.

[2016-03-01 16:10] MacGyver27 commented on #1467
@SamuelPadou That was it! ngAnimate is causing this problem with latest ui-select. Thank you for this input. Either not including ngAnimate to your project or disabling it in your controller works for now..

Plunkr:
https://plnkr.co/edit/ITCtDdiC5U4H7WAFm2Dz?p=preview

[2016-03-02 08:11] lpotapczuk commented on #788
+1

[2016-03-02 08:28] rafa-aguilar commented on #919
+1

[2016-03-02 10:50] marcoantoniooliveira commented on #224
+1 (angular 1.5.0)

[2016-03-02 11:37] user378230 commented on #224
@marcoantoniooliveira the fix was included in ui-select **v0.14.3+**... see @rasenplanscher comment.

[2016-03-02 11:53] santosguilherme commented on #1306
+1

[2016-03-02 13:45] hagis commented on #1253
Input field is still not getting focus on first click when using **ui-select 0.14.9, angular 1.4.5**.

I hacked around this by turning off ALL animations when setting the input focus:

[code]

[2016-03-02 14:08] zoff opened #1471 "ui-select cannot match model value if property used in choises is an object"
Using ["single property for binding"](https://github.com/angular-ui/ui-select/wiki/ui-select-choices#using-single-property-for-binding) ui-select cannot load correct object if the property is an object.

Example: http://plnkr.co/stY0BEjwSuFuRw3fzUaN

One solution could be to make ui-select-choices directive offer an attribute to specify a matcher function.

[2016-03-02 14:42] nickroberts commented on #1098
Thanks! Now, to just get this fixed so we don't need a workaround :smile_cat:

[2016-03-02 16:11] diegolmello commented on #224
Updating to 0.14.9 worked for me.
Thanks!

[2016-03-02 16:18] user378230 commented on #1471
Maybe #1464 will help you?

I think really ui-select should use `track by` to make a getter function to do the matching, like [`ngOptions`](https://github.com/angular/angular.js/blob/af0574ebaa1b13744bf1b1a0eea7f9d643ccb47c/src/ng/directive/ngOptions.js#L281) does.

[2016-03-02 16:25] zoff commented on #1471
#1464 and `track by` would be a nice workarounds but I think explicit providing a matcher function would be much more versatile. Just think if you need to `track by` multiple properties

[2016-03-02 17:54] alfredopacino opened #1472 "NoResult template"
Hi, in my select2 v4 (no angular.js) I had this setting:

[code]

How can I set the noResult message in ui-select?

[2016-03-02 21:35] benitezhm commented on #533
+1 on 0.14.9

[2016-03-03 02:00] performatric commented on #1472
+1

[2016-03-03 09:18] Just-Rookie opened #1474 "there is a error when I use ui-select with angular #1.5.0"
When I use angular #1.4.9, everything is ok. But there will be a error when I update angular  to  #1.5.0.

Here is the detail of the error.

Error: [ui.select:transcluded] http://errors.angularjs.org/1.5.0/ui.select/transcluded?p0=Expected%201%20.ui-select-match%20but%20got%20'%7B0%7D'.&p1=0
    at http://localhost:9000/assets/bower_components/ui-select/dist/select.min.js:7:2272
    at http://loca

[2016-03-03 09:58] user378230 commented on #1472
Please search before creating new issues.

https://github.com/angular-ui/ui-select/search?q=no+result&type=Issues

Many duplicates #831 #121 and some pull request #1011 #1028. There are probably many others if you search more, I just looked at the first page.

[2016-03-03 10:03] user378230 commented on #1474
Please search before creating new issues.

Duplicates: [#1444](https://github.com/angular-ui/ui-select/issues/1444#issuecomment-185953448) #1422 #1239 [#224](https://github.com/angular-ui/ui-select/issues/224#issuecomment-190081559)

[2016-03-03 11:31] antoniodesousa commented on #277
You need to escape the open braces:
var match = /\{(.*)}\s*\{(.*)}/.exec(tAttrs.ngClass);

[2016-03-03 11:49] mastilver commented on #1461
Yep same for 0.14.9

running `npm info ui-select` give me:

![image](https://cloud.githubusercontent.com/assets/4112409/13493421/f67c19b6-e135-11e5-9c4c-8331e9a4c7b9.png)

[2016-03-03 11:55] alfredopacino commented on #1472
Yes, I indeed searched for a solution without luck (all the issues looks unsolved)

[2016-03-03 12:03] performatric commented on #1472
And about me, I have searched so many problems (this, tagging without multiple in angular 1.5, ...), many tabs opened.. well... I was already tired of looking for solutions and I just saw this topic at the top, so I marked with "+1" sorry :)

sorry my english too :(

[2016-03-03 12:12] alfredopacino commented on #1472
and about me,i'm just tired of this lack of productivity angular related..

[2016-03-03 12:38] user378230 commented on #1472
As you can see from linked issues/pull requests there is no existing solution, but you can use code provided in pull requests or check issue comments for workarounds. Maybe they will help you :)

[2016-03-03 13:16] performatric commented on #1409
@user378230 I used the latest version in this [plnkr](http://plnkr.co/edit/wzvMafmwXTTcPBT5lAmU?p=preview) but without success, do you have any idea what's wrong?

[2016-03-03 14:19] ftorghele commented on #224
still have this error (angular 1.5.0, ui-select 0.14.9)

[2016-03-03 19:22] K1N5L4Y3R commented on #1325
@llafuente Thanks for the solution! It works for me with angular 1.5.0.

[2016-03-03 23:00] yunjiali commented on #34
Got same problem as @akcasoy

[2016-03-03 23:25] jfairley commented on #850
@kmccullough :+1:

[2016-03-04 01:30] grantfeldman commented on #277
@antoniodesousa Could you explain why? I have run both through a Regex parser and its showing no difference between the two patterns.

[2016-03-04 02:18] Just-Rookie commented on #1325
@llafuente Thanks, it works for me with Angualr 1.5.0.  But I want to know why it works when I add the class to ui-select-match and ui-select-choices with the same name. can you tell me ? Thanks a lot!

[2016-03-04 02:25] Just-Rookie commented on #1474
Thanks, I have found the solution proposed  by @llafuente .

[2016-03-04 02:25] #1474 closed

[2016-03-04 06:29] ftorghele commented on #1355
Me too, removing the .attr('ng-if', [...]) seems to work.

[2016-03-04 06:53] rifansi commented on #1436
also seeing this.
I'm using angular `1.5.0` and ui-select `0.14.1`.

solution from @bogdanalexe90 is working fine for me.
thanks a lot

[2016-03-04 07:00] Magador commented on #277
The only reason why you would escape open braces is when you match a number, right ?

[2016-03-04 08:08] dheerajkhokhar opened #1476 "transclude is not a function"
ui-select breaks

![dropdown](https://cloud.githubusercontent.com/assets/6622096/13521419/575ee99c-e20e-11e5-9d36-3845042963e4.png)

Angularjs version used: angular.1.2.5.min.js

[2016-03-04 08:14] antoniodesousa commented on #277
The open curly brace should be escaped because it is a special character used for quantifiers eg {2,3}
You're trying to match the actual open brace not quantifying anything.

[2016-03-04 08:48] Magador commented on #277
As defined by the ECMA specification ([5.1](http://www.ecma-international.org/ecma-262/5.1/#sec-15.10.2.7) as well as [2015](http://www.ecma-international.org/ecma-262/6.0/#sec-quantifier)), a quantifier can be described as:
- One opening brace, followed by one or more decimal digits, can be followed by a comma, can be followed by zero or more decimal digits, ended by a closing brace

In strict PO

[2016-03-04 09:00] JBerges commented on #1387
Hi!

I had the same issue, so I ended up here, but actually it was my mistake, maybe this info can help others.

What was happening in my case was that I was passing to the limit attribute the reference to the variable ( limit="variable")  instead of the value (limit="{{variable}}").

[2016-03-04 09:48] shprink commented on #919
+1

[2016-03-04 10:10] user378230 commented on #1476
Which version of ui-select are you using?

Can you make a reproduction plunkr?

[2016-03-04 10:34] dheerajkhokhar commented on #1476
Thanks you for the help... I solve this problem. Actually this error occurred because of 2 reason
1. conflict between 2 different js
2. duplicate data occured in ng-repeat.

Plunkr link : http://plnkr.co/edit/vhUCYaxKJ6A4oF4Tpchg?p=preview

[2016-03-04 10:50] user378230 commented on #1476
Please close your issue if it was not a problem with ui-select

Thanks :smiley:

[2016-03-04 10:57] #1476 closed

[2016-03-04 11:46] user378230 commented on #1325
Its a workaround not a solution (the solution is update to ui-select > v0.14.3)

See PR #1430 for details on why adding classes work.

[2016-03-04 11:47] user378230 commented on #34
@yunjiali see #1432

[2016-03-04 11:51] Just-Rookie commented on #1325
@user378230 Thanks!

[2016-03-04 18:35] jfairley commented on #1233
@techniq [:+1:](https://github.com/angular-ui/ui-select/issues/1233#issuecomment-181999610)
this worked for me using angular 1.5 and ui-select 0.14.9

[2016-03-04 19:31] nachaos commented on #850
@kmccullough proposal worked. Is this something we will see in the upcoming releases?

[2016-03-05 21:55] darioml commented on #1409
Using the latest (1.4.9 angular, 1.14.9 ui-select) with no luck. My tagging function is not even being called.

[2016-03-06 12:42] jitendrathakur opened #1478 "No CallBack found for UI-select on-close & on-open"
I have to trigger a function on select of the item, I have written one custom callback but ui-selct being close on pressing "ESC" and other key buttons, It would be greate if you will create one call back for on-close and on-open.

[2016-03-06 12:44] jitendrathakur opened #1479 "Tooltip integration very hard for UI-select listed item"
Tooltip integration very hard for UI-select listed item, I am trying to integrate foundation 5 tooltip, but plugin lazy loading not making way to load tooltip.

[2016-03-06 13:05] user378230 commented on #1478
There are already events for [open](https://github.com/angular-ui/ui-select/blob/0ddaad231994baac619556d0409167d10dc1595a/src/uiSelectController.js#L112) (`uis:activate`) and [close](https://github.com/angular-ui/ui-select/blob/0ddaad231994baac619556d0409167d10dc1595a/src/uiSelectController.js#L393) (`uis:close`)

[2016-03-06 13:06] user378230 commented on #1479
You need to provide more information, code and plunkr for example otherwise it will be impossible to help.

[2016-03-06 13:15] jitendrathakur commented on #1479
HTML

<ui-select-choices  >
                  <div class="row collapse"n>
                    <div class="columns small-9">{{test.name}}}</div>

                    <div class="columns small-3 has-tip" ata-tooltip data-options="hover_delay: 50;" " title="Tooltips are awesome, you should totally use them!">

                      <div class="columns small-6">
                        <i class="type

[2016-03-06 13:18] jitendrathakur commented on #1478
Any example where i can use it on ctrl or directive on angularjs

[2016-03-06 13:23] user378230 commented on #1479
The code you've provided is incomplete, I don't have time to make a plunkr/jsfiddle for you.

Can you make one? The only thing I notice so far is that you have `ata-tooltip` and not `data-tooltip`.

[2016-03-06 13:27] user378230 commented on #1478
They are standard angular events, take a look at the angular documentation or research on angular events. There is already information out there.

[2016-03-06 13:28] user378230 commented on #1409
Guess tagging with single select isn't currently supported.

PRs would be welcome I'm sure...

[2016-03-06 15:04] #1233 closed

[2016-03-06 18:06] patrickhousley commented on #1253
I can not longer reproduce this issue. My plunker is [here](http://plnkr.co/edit/tKDZcb?p=preview). Maybe you can fork it and modify it to your setup. If you are still having the issue, post the plunker back to me and I can take a look.

[2016-03-07 07:44] MadUser commented on #258
to support expression evaluation I am using this:

[code]

[2016-03-07 09:02] jitendrathakur commented on #1478
ui-select does not using $rootScope, Can you tell me how to use $on then?

[2016-03-07 10:01] hagis commented on #1253
Could not instantly reproduce the problem either in the plunker. Will try again later.

[2016-03-07 14:35] Neonchen commented on #1349
+1

[2016-03-07 15:06] igler commented on #913
+1

[2016-03-07 18:39] kmccullough commented on #850
https://github.com/angular-ui/ui-select/pull/1480

[2016-03-07 19:49] initx commented on #224
@ftorghele +1 here

[2016-03-07 20:38] jaxspades commented on #1404
Yeah, can we get this put in place please?

[2016-03-08 18:54] tomascharad commented on #1233
Thanks @jfairley, just to note that I used the 0.14.9 version that is posted here: https://cdnjs.com/libraries/angular-ui-select

And I think that the version is not properly stated: Version: 0.14.8 - 2016-02-18T22:01:43.792Z

[2016-03-08 19:45] crissdev commented on #1325
In case someone really knows what the heck I'm doing wrong please share...This does not work.

[code]

`someList` is an array like `[{value: 'xxxx', text: 'xxxxx'}]`
`searchFilters.someProperty` is an array.
`translate` directive is from `angular-gettext`

All I get is `Syntax Error: Token 'track' is an unexpected token at column 31 of the expression....`

Thx

[2016-03-08 20:59] johnmarkli commented on #1269
+1

[2016-03-08 21:50] Narretz commented on #1325
@crissdev posting in closed issues is not the best way to get attention to your issue

[2016-03-09 10:56] leocaseiro commented on #852
:+1:  Thanks, that's really good info!

[2016-03-09 13:00] thielmal opened #1482 "tagging-label="false" causes tagging-token to remain in item"
See [this Plunkr](http://plnkr.co/edit/RGVcfSp1APd6nr43sgxv?p=preview).

If you enter some string followed by a ",", the "," remains in the item, alltough it should be stripped automatically. The problem is caused by [this line](https://github.com/angular-ui/ui-select/blob/9230b43d32662518d9eedf729aad5bb8561dc2d8/src/uiSelectController.js#L329), where "item", which already has the "," stripped is

[2016-03-09 13:00] Silur commented on #71
error is back with new syntax 'ui-select-match'

[2016-03-09 13:02] Silur commented on #224
+1

[2016-03-09 13:26] pierregaste opened #1483 "Selectize template files are missing in the bower repository"
I think selectize templates (tpl files) are missing in the bower's repository.
Bower repository ignore the sources directory (/src) which contains the template files.
See here: https://github.com/angular-ui/ui-select/blob/master/bower.json#L15

So, when I create a ```ui-select``` multi instance with the selectize theme, this configuration try to load different template files (e.g. select-multiple.

[2016-03-09 14:04] pierregaste commented on #1483
It's seems that selectize multiple tpl doesn't exists at all :cry:

I will use boostrap templating instead...

[2016-03-09 14:04] #1483 closed

[2016-03-09 14:20] Silur commented on #1467
got exact same error, ngAnimate is not even installed

[2016-03-09 14:56] luzrafaelf opened #1484 "Search box doesn't clear after selecting an option"
In a tagging and multiple select input when you select an option the search input doesn't clear even when the reset-search-input is true.

The [documentation ](https://github.com/angular-ui/ui-select/wiki/ui-select) says:

More info here:
[Plunker](https://embed.plnkr.co/a8CLOUFTnPeYxBAF8JMB/)

[2016-03-09 15:24] user378230 commented on #224
@Silur which version of ui-select are you using?

[2016-03-09 22:28] mauricioborges commented on #781
+1. Has anyone found a workaround?

[2016-03-09 23:21] YousefMMS commented on #438
I just need to +1 the material theme :)

[2016-03-10 01:24] JonathanTech commented on #962
I don't have time to do a full PR with testing, or even to clean it up, but this is how I've solved it. I replaced this section of code https://github.com/angular-ui/ui-select/blob/master/dist/select.js#L484-L487
[code]

with this:
[code]

[2016-03-10 04:28] sumodhnair19 opened #1485 "UI Select not showing up the selected element in dropdown (IE 11)"
Hi,

I am having issue with the dropdown populated using UI select not able to show the element which had been selected earlier. This issue is only coming in IE11, I tried checking the same with the demo of UI select and unfortunately it has the same issue too.
Below is the screenshot of the issue in IE11 , I had selected "natasha" from dropdownlist and once I try to open it back again it would no

[2016-03-10 09:46] fuelintegrated commented on #1436
+1
Using angular 1.5.0 and ui-select 0.14.8

[2016-03-10 12:42] equilerex opened #1486 "$select.selected issue with ng-repeat="option.param as option in options | limitTo:range""
when using [inifinitescroll ](https://github.com/sroze/ngInfiniteScroll) to handle performance issues, you can use the native limitTo filter on the ngRep
ng-repeat="option as option in options | limitTo:range"
this works fine, if i however address the repeat using a single parameter as the identifier like this:
ng-repeat="option.param as option in options | limitTo:range"
then if i load the page a

[2016-03-11 12:23] sergonius commented on #696
Funny, I have exactly the same issue, can't really get to the bottom of this...

[2016-03-11 17:28] crissdev commented on #453
Thanks @SamPlacette for the workaround

I've ended up using `display: block` for  `.ui-select-bootstrap[search-enabled=false] .ui-select-match.ng-hide` actually.

[2016-03-11 18:22] AbdallaMohamed commented on #1467
The issue occurs when I'm not giving the **ui-select-choices** directive a class of "_ui-select-choices_" and the **_ui-select-match_** directive a class of "ui-select-match".
Adding those classes fixes the issue.

Any other workaround though?

[2016-03-12 01:57] loucho commented on #1467
But... what if i'm using ng-animate?

[2016-03-14 14:07] JoeFirebaugh opened #1488 "Keyboard navigation (up/down/enter) doesn't work with Angular 1.5 and 0.14.9"
Currently our project is running fine with Angular 1.4.7 and UI-Select 0.13.1...

However, I'm being tasked to upgrade our project to use Angular 1.5.

Upon doing that I get the ng.animate problem that's been reported a few times.   So I update to UI-Select 0.14.9 and the keyboard navigation (up/down/enter) no longer works when the options are open.  I also see people reporting that in the Issues,

[2016-03-14 14:23] JoeFirebaugh commented on #1488
I'm just going to close this for now, and maybe reopen it if I can create a specific plunkr.   As I've found one Angular 1.5.0 plunkr that does show the keyboard navigation working.

[2016-03-14 14:23] #1488 closed

[2016-03-14 15:17] PesanskiGoran opened #1490 "Incorrect positioning when using append-to-body and scrolling parent element relative to the body"
I have a `ui-select` element inside a container element that has a scroll bar. When the select is open and I start to scroll, the select element remains on the same position and doesn't re-position itself. This happens cause it is appended to the `body` and we scroll the container element that is positioned `relative` to the body. Here is a [plunkr](http://plnkr.co/edit/VBZKemWrDnA87S6cDxx0?p=prev

[2016-03-14 18:10] davideanderson opened #1491 "Dynamic classes for multi selection"
I want to be able to style the selected options differently, base on the selection.

I tried this:

[code]

And even tried this:

[code]

However, it appears that '$item' is not in scope for the span.ui-select-match tag (where the ng-class/pending-selection get inserted into the template), as the ng-repeat is created inside that tag.

I am converting from using the original jQuery Select2 implemen

[2016-03-14 20:29] shlensky commented on #100
Cleaner way:
[code]
[code]

[2016-03-14 21:42] stringbeans commented on #224
+1 also experiencing this with angular 1.5.0 and ui-select 0.14.10 via npm.

im actually unable to reproduce this but i can see through our sentry logger that it is happening to many of our users.

[2016-03-15 02:12] curtismorte commented on #218
@realavaloro,
I ran into a very similar problem when I was trying to focus a ui-select as it became visible within the view (modal). Based [on this comment](https://github.com/angular-ui/ui-select/issues/201#issuecomment-66700601), I was using the following code:
`// get the ui select controller
var uiSelect = angular.element("#fooBar").controller('uiSelect');
// Open the select and focus:
uiSelec

[2016-03-15 09:50] sergonius commented on #533
The width is broken, for me it is always 100%.

[2016-03-15 10:03] Joanne16 commented on #1467
I think the code in "ctrl.activate" function, which checks if animation finished, should also check that the drop-down is opened; this error is obtained as the '.ui-select-choices-row' controls are not found (as the drop-down is already closed).

Below is the modified code (in uiSelectController.js -> ctrl.activate function) which works for me (i.e. I am no longer seeing the error message "Expecte

[2016-03-15 12:48] juusopimia commented on #1459
Any comments about this?

[2016-03-15 14:23] user378230 commented on #1491
Have you tried placing it **_inside_** `ui-select-match`?

eg.
[code]

[2016-03-15 15:48] #1415 closed

[2016-03-15 16:30] #869 closed

[2016-03-15 16:45] #1465 closed

[2016-03-15 19:37] user378230 commented on #54
Closing as a dupe of #140

[2016-03-15 19:37] #54 closed

[2016-03-15 19:49] user378230 commented on #184
I'm closing this as a legacy issue as its close to two years old now and doesn't have a repro sample.

If you believe its still relevant please reopen with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 19:49] #184 closed

[2016-03-15 19:52] user378230 commented on #194
Closing as over a year old and looks like it might be about ngOptions not ui-select.

[2016-03-15 19:52] #194 closed

[2016-03-15 19:53] user378230 commented on #190
Closing this issue as over a year old and on an outdated version of ui-select.

If you believe its still relevant please reopen with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 19:53] #190 closed

[2016-03-15 19:58] user378230 commented on #246
I think you mean to use bootstrap's `input-group` not `btn-group`.

---
Also, closing this issue as its over a year old.

[2016-03-15 19:58] #246 closed

[2016-03-15 20:00] #257 closed

[2016-03-15 20:01] user378230 commented on #172
Closing this issue as over a year old and doesn't have a repro sample.

If you believe its still relevant please reopen with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 20:01] #172 closed

[2016-03-15 20:08] user378230 commented on #372
As mentioned, `ng-model` requires a **dot**. See wiki and http://stackoverflow.com/questions/17606936/angularjs-dot-in-ng-model

---
Closing as a legacy issue over a year old.

[2016-03-15 20:08] #372 closed

[2016-03-15 20:10] user378230 commented on #357
Tagging is supported in the latest versions of ui-select, please refer to the repo wiki for more info.

[2016-03-15 20:10] #357 closed

[2016-03-15 20:10] lucasp90 commented on #224
Same here,
I'm working with angular 1.5.0 and ui-select 0.11.2. Both via bower.

[2016-03-15 20:12] user378230 commented on #440
Closing this issue as over a year old and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 20:12] #440 closed

[2016-03-15 20:14] user378230 commented on #455
Closing as legacy issue and resolved.

[2016-03-15 20:14] #455 closed

[2016-03-15 20:17] user378230 commented on #416
Closing this issue as over a year old and may have been resolved in more recent versions.

If you believe its still relevant please reopen with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 20:17] #416 closed

[2016-03-15 20:18] user378230 commented on #421
Closing this issue as over a year old and doesn't have a repro sample.

If you believe its still relevant please reopen with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 20:18] #421 closed

[2016-03-15 20:19] user378230 commented on #517
Closing this issue as over a year old and doesn't have a repro.

If you believe its still relevant please reopen with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 20:19] #517 closed

[2016-03-15 20:20] deeg commented on #421
@user378230, want to shoot me an email? Wasn't sure how else to contact you with minimal fallout.

[2016-03-15 20:20] user378230 commented on #511
Closing as legacy issue, doesn't appear to be a problem with the library.

[2016-03-15 20:20] #511 closed

[2016-03-15 20:22] user378230 commented on #464
Templates can be customised easily enough.

It doesn't look like there is much demand for this so I'm closing.

[2016-03-15 20:22] #464 closed

[2016-03-15 20:22] #548 closed

[2016-03-15 20:25] user378230 commented on #575
There shouldn't be any issues though you may need to provide some kind custom `refresh` function if using an async data source. https://github.com/angular-ui/ui-select/wiki/ui-select-choices

[2016-03-15 20:25] #575 closed

[2016-03-15 20:26] user378230 commented on #383
Closing this issue as over a year old and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 20:26] #383 closed

[2016-03-15 20:28] user378230 commented on #581
Templates can be manually added to angular's `$templateCache` in an `angular.run(...)` block.

Closing this issue as its over a year old.

[2016-03-15 20:28] #581 closed

[2016-03-15 20:30] user378230 commented on #584
Closing as `ui-select` supports objects as data sources.

[2016-03-15 20:30] #584 closed

[2016-03-15 20:35] #429 closed

[2016-03-15 20:37] #300 closed

[2016-03-15 20:38] user378230 commented on #451
Closing as legacy issue.

I this case I imagine the value passed to the `search-enabled` attribute could just be `$watch`ed

[2016-03-15 20:38] #451 closed

[2016-03-15 20:40] butser commented on #224
Same here.

downgrade to angular 1.4.9 fix it.

[2016-03-15 20:40] user378230 commented on #542
A `close-on-select` attribute can be set to `false` on newer versions of ui-select to achieve something similar to the desired result here.

Closing as there doesn't appear to be much demand for this feature.

[2016-03-15 20:40] #542 closed

[2016-03-15 20:42] user378230 commented on #640
Closing as I believe this is resolved in more recent versions of `ui-select`.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

Thanks!

[2016-03-15 20:42] #640 closed

[2016-03-15 20:44] #704 closed

[2016-03-15 20:46] user378230 commented on #702
Closing this issue as it is over a year old and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 20:46] #702 closed

[2016-03-15 20:50] user378230 commented on #593
See `on-select` in wiki https://github.com/angular-ui/ui-select/wiki/ui-select

[2016-03-15 20:50] #593 closed

[2016-03-15 20:51] user378230 commented on #717
Closing this issue as it is over a year old and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0)

[2016-03-15 20:51] #717 closed

[2016-03-15 20:56] user378230 commented on #732
See `on-remove` callback available in more recent versions of the library.

Wiki: https://github.com/angular-ui/ui-select/wiki/ui-select

[2016-03-15 20:56] #732 closed

[2016-03-15 20:57] user378230 commented on #734
Closing this issue as it is over a year old and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0)

[2016-03-15 20:57] #734 closed

[2016-03-15 20:58] user378230 commented on #752
Closing this issue as it is over a year old and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0)

[2016-03-15 20:58] #752 closed

[2016-03-15 21:01] user378230 commented on #421
@deeg is there a problem? I'm just trying to tidy up a little, hoping I've not made a faux pas!

[2016-03-15 21:05] user378230 commented on #795
The demos appear to be functioning fine now in Chrome, closing.

[2016-03-15 21:05] #795 closed

[2016-03-15 21:12] user378230 commented on #828
Clear all has been implemented in more recent versions of the library.

To simulate select all, simply add a button to add all the options to your ng-model array.

[2016-03-15 21:12] #828 closed

[2016-03-15 21:15] #847 closed

[2016-03-15 21:19] user378230 commented on #527
Closing as PR was merged.

[2016-03-15 21:19] #527 closed

[2016-03-15 21:21] user378230 commented on #876
Closing this issue as it is over a year old and appears to be working fine in more recent versions of the library.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 21:21] #876 closed

[2016-03-15 21:22] user378230 commented on #887
Closing as dupe of #815

[2016-03-15 21:22] #887 closed

[2016-03-15 21:23] user378230 commented on #908
Closing as this is the `ui-select` repo.

[2016-03-15 21:23] #908 closed

[2016-03-15 21:26] user378230 commented on #923
See `propsFilter` in examples: https://github.com/angular-ui/ui-select/blob/cb75ecff41be55c1a835b59156470eab737a32b4/examples/demo.js#L7

[2016-03-15 21:26] #923 closed

[2016-03-15 21:30] user378230 commented on #955
You can create a custom angular filter and apply it to `items` in `ui-select-choices`

The filter can check the item and apply search if necessary.

Closing as an old issue.

[2016-03-15 21:30] #955 closed

[2016-03-15 21:34] user378230 commented on #968
Closing as there doesn't appear to be any real "issue" here...

[2016-03-15 21:34] #968 closed

[2016-03-15 21:36] user378230 commented on #867
The tagging functionality in recent versions of the library should be what you are after.

Or you can create a custom directive that taps in `$select.search` in the uiSelectController.

Closing for now as is an old issue and doesn't appear to be much demand for this feature.

[2016-03-15 21:36] #867 closed

[2016-03-15 21:39] user378230 commented on #988
I don't think this is possible given the architecture of this library or what you're use case.

Closing as this is an old question, if you believe its still relevant please update with a more information/use case details and we can reopen it.

[2016-03-15 21:39] #988 closed

[2016-03-15 21:40] user378230 commented on #1009
Closing this issue as it is over a year old and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 21:40] #1009 closed

[2016-03-15 21:44] deeg commented on #421
@user378230, no wanted to invite you to a dev chat room where we can all talk. What you are doing is great!

[2016-03-15 21:45] user378230 commented on #1033
It looks like you were on the right track with
[code]
Which should work.

Given the lack of activity I'll assume you no longer need assistance so I'm going to close this issue.

---
If you believe its still relevant please update with a plunkr (or similar) with your changes so far - against the latest version of ui-select (currently v0.15.0)

[2016-03-15 21:45] #1033 closed

[2016-03-15 21:49] user378230 commented on #1012
ui-select should function similar to any other input so I don't think there would be any problems with special chars.

If anyone is able to test and update this issue, please feel free to.

In the mean time I'm closing this due to a lack of activity.

[2016-03-15 21:49] #1012 closed

[2016-03-15 21:53] user378230 commented on #905
Closing as resolved.

[2016-03-15 21:53] #905 closed

[2016-03-15 21:58] user378230 commented on #964
Closing as resolved.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.15.0)

[2016-03-15 21:58] #964 closed

[2016-03-15 22:14] user378230 commented on #1136
But then, when I am selecting the item it looks like &lt ;foo&gt ; and not <foo>

This can subsequently be resolved by doing
[code]
Note the `ng-bind-html`

Closing as resolved.

[2016-03-15 22:14] #1136 closed

[2016-03-15 22:15] homerjam commented on #692
@aaronroberson appreciate the good work - now that you're a contributor is there any chance of reverting to the previous module name (`angular-ui-select`) on npm?

[2016-03-15 22:19] user378230 commented on #1160
I think you are looking for the minimum input length option included as part of #1291

Closing for now, please update this issue with more information if you need it reopened.

[2016-03-15 22:19] #1160 closed

[2016-03-15 22:21] user378230 commented on #1120
Closing, as ng-model requires a **dot** as per http://stackoverflow.com/questions/17606936/angularjs-dot-in-ng-model and the ui-select wiki.

[2016-03-15 22:21] #1120 closed

[2016-03-15 22:22] user378230 commented on #1024
Closing this issue as it is over 6 months and doesn't have a repro sample.

If you believe its still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0)

[2016-03-15 22:22] #1024 closed

[2016-03-15 22:24] user378230 commented on #1002
As per linked stackoverflow question, ng-model requires dot notation. See also FAQ https://github.com/angular-ui/ui-select/wiki/FAQs

[2016-03-15 22:24] #1002 closed

[2016-03-15 22:27] user378230 commented on #1205
Wiki must have been updated since this issue was created so closing.

https://github.com/angular-ui/ui-select/wiki

[2016-03-15 22:27] #1205 closed

[2016-03-15 22:31] user378230 commented on #1246
ui select does not support ctrl click. Please refer to wiki or examples for multiple select demos.

[2016-03-15 22:31] #1246 closed

[2016-03-15 22:38] user378230 commented on #802
You will probably need to modify [select.tpl.html](https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/select.tpl.html) with the tooltip attribute.

Closing due to being an old issue, please update if you require further assistance and we can look at reopening.

[2016-03-15 22:38] #802 closed

[2016-03-15 22:53] user378230 commented on #1187
Closing this issue as it is 6 months and doesn't have a repro sample.

**Please note**  tagging functionality is currently broken for single select. (There are existing issues open already)

If you believe its still relevant please create a new issue with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0) along with more detailed information.

Thanks

[2016-03-15 22:53] #1187 closed

[2016-03-15 22:56] user378230 commented on #1331
Closing as dupe of #152

[2016-03-15 22:56] #1331 closed

[2016-03-15 22:57] user378230 commented on #697
This is the purpose of the tagging functionality in the recent versions of the library.

Closing as resolved.

[2016-03-15 22:57] #697 closed

[2016-03-15 23:10] user378230 commented on #1179
Closing as dupe of #986

Please open a new issue with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0)

[2016-03-15 23:10] #1179 closed

[2016-03-15 23:12] user378230 commented on #1263
Closing as resolved by #1477

[2016-03-15 23:12] #1263 closed

[2016-03-15 23:14] user378230 commented on #1347
ng Model requires the dot notation see my comment in #1353 and wiki > FAQs page.

[2016-03-15 23:14] #1347 closed

[2016-03-15 23:16] user378230 commented on #1382
Closing due to lack of info.

[2016-03-15 23:16] #1382 closed

[2016-03-15 23:17] user378230 commented on #1390
Order your items array before passing it to ui-select?

---
Closing as issue is a little old now, if you require further assistance please update/reopen.

[2016-03-15 23:17] #1390 closed

[2016-03-15 23:18] user378230 commented on #1351
Closing as dupe of #884

[2016-03-15 23:18] #1351 closed

[2016-03-15 23:19] user378230 commented on #1385
Closing due to lack of further activity/response.

[2016-03-15 23:19] #1385 closed

[2016-03-15 23:24] user378230 commented on #1461
npm is up to date now https://www.npmjs.com/package/ui-select

[2016-03-15 23:24] #1461 closed

[2016-03-15 23:25] user378230 commented on #1451
Related #1084

[2016-03-16 00:32] #850 closed

[2016-03-16 02:02] martynchamberlin commented on #1225
+1

[2016-03-16 09:38] lbolla commented on #88
I am affected by this issue, too.

[2016-03-16 09:52] Francis54520 commented on #1355
+1 @gatormike  thx.

[2016-03-16 10:28] Pavan1889 opened #1493 "When an Option is selected in Controller li Option UI in dropdown list is not highlighted accordingly"
$scope.person = {};
  $scope.people = [
    { name: 'Adam',      email: 'adam@email.com',      age: 12, country: 'United States' },
    { name: 'Amalie',    email: 'amalie@email.com',    age: 12, country: 'Argentina' },
    { name: 'Estefanía', email: 'estefania@email.com', age: 21, country: 'Argentina' },
    { name: 'Adrian',    email: 'adrian@email.com',    age: 21, country: 'Ecuador' },
    {

[2016-03-16 12:04] #1093 closed

[2016-03-16 12:07] #1376 closed

[2016-03-16 12:09] #1417 closed

[2016-03-16 12:09] #1316 closed

[2016-03-16 12:12] user378230 commented on #1265
Closing due to lack of repro and being 6 months old.

If you require assistance please provide plunkr or similar demonstrating the problem.

[2016-03-16 12:12] #1265 closed

[2016-03-16 12:13] user378230 commented on #1257
Closing as dupe of #884

[2016-03-16 12:13] #1257 closed

[2016-03-16 12:59] user378230 commented on #1229
I believe this has been fixed in more recent versions so closing. (I can't remember the exact commits/PRs to reference here).

If you believe its still relevant please create a new issue with a demo plunkr (or similar) against the latest version of ui-select (currently v0.16.0) along with more detailed information.

[2016-03-16 12:59] #1229 closed

[2016-03-16 13:02] user378230 commented on #1206
This should be resolved by #1492 when release.

If not please update the issue with a demo plunkr (or similar) against the latest version of ui-select (currently v0.16.0)  and it we can reopen the issue.

[2016-03-16 13:02] #1206 closed

[2016-03-16 13:02] user378230 commented on #1196
Closing due to lack of activity.

[2016-03-16 13:02] #1196 closed

[2016-03-16 13:04] user378230 commented on #1203
Related #1084

[2016-03-16 13:05] user378230 commented on #1166
The dist scripts should have been regenerated since thus including the PR changes, so closing.

[2016-03-16 13:05] #1166 closed

[2016-03-16 13:07] user378230 commented on #1113
I think ngModelOptions docs should contain what you need. https://docs.angularjs.org/api/ng/directive/ngModelOptions

[2016-03-16 13:07] #1113 closed

[2016-03-16 13:13] user378230 commented on #224
@lucasp90 you need to upgrade to ui-select v14.3+ for angular v1.5 compatibility. (I have commented this above already..)

@butser you didn't specify your version of ui-select but see above note

[2016-03-16 13:15] user378230 commented on #1094
It would help greatly if someone can provide a demo plunkr or similar reproducing the error.

[2016-03-16 13:19] user378230 commented on #1069
I think this would add unnecessary bloat to the library and I'm not sure if its even supported by something like select2.

Given that you can work around using ng-if I'm going to close for now. If demand increases we can look at reopening.

[2016-03-16 13:19] #1069 closed

[2016-03-16 13:20] #1048 closed

[2016-03-16 13:25] user378230 commented on #1270
Resolved by #1477

[2016-03-16 13:25] #1270 closed

[2016-03-16 13:25] user378230 commented on #1245
Closing due to lack of activity/info.

[2016-03-16 13:25] #1245 closed

[2016-03-16 13:29] user378230 commented on #1172
Closing this as not really a bug.

`ui-select-dropdown` is required for library to function so simply don't delete it.

[2016-03-16 13:29] #1172 closed

[2016-03-16 13:58] #1472 closed

[2016-03-16 13:59] user378230 commented on #1117
No results dupe #831
Searching dupe #919

[2016-03-16 13:59] #1117 closed

[2016-03-16 14:01] user378230 commented on #1079
I believe template loading issues were resolved in #1430

If the issues is still relevant please update with tests against the latest version of ui-select.

[2016-03-16 14:01] #1079 closed

[2016-03-16 14:08] user378230 commented on #1034
This appears to be resolved in latest version (v0.16.0)

[2016-03-16 14:08] #1034 closed

[2016-03-16 14:13] user378230 commented on #936
This can be done by updating the choices template https://github.com/angular-ui/ui-select/blob/161cff56c0ba9d4a86ae213056dd78ba18296036/src/bootstrap/choices.tpl.html

[2016-03-16 14:13] #936 closed

[2016-03-16 14:23] #1219 closed

[2016-03-16 14:28] carloshpds commented on #830
+1

[2016-03-16 14:29] user378230 commented on #922
This appears to concern a different library. `select3.js` doesn't exist in this repo.

[2016-03-16 14:29] #922 closed

[2016-03-16 14:29] user378230 commented on #914
Resolved by #1492

[2016-03-16 14:29] #914 closed

[2016-03-16 14:32] user378230 commented on #904
Closing as this is a general angular question rather than a ui-select issue.

You might try stackoverflow for better assistance.

[2016-03-16 14:32] #904 closed

[2016-03-16 14:42] #792 closed

[2016-03-16 14:49] #834 closed

[2016-03-16 15:14] pior commented on #1287
We also encounter this when changing state in ui-router.

[2016-03-16 15:21] user378230 commented on #205
As per FAQs ngModel requires dot notation.

Closing.

[2016-03-16 15:21] #205 closed

[2016-03-16 15:31] #274 closed

[2016-03-16 15:32] user378230 commented on #763
This can't be done, please refer to wiki on how to use attributes to configure `ui-select`

[2016-03-16 15:32] #763 closed

[2016-03-16 15:36] user378230 commented on #785
Closing as legacy issue, please update plunkr to latest angular if still require assistance. (See also examples in repo)

[2016-03-16 15:36] #785 closed

[2016-03-16 15:37] #789 closed

[2016-03-16 15:39] user378230 commented on #758
Closing as we shouldn't really have dependency on anything other than angular & theme css.

feel free to update this issue if you make any progress with your own implementation.

[2016-03-16 15:39] #758 closed

[2016-03-16 16:21] user378230 commented on #653
Use `$item` and `$model` as parameters in `on-select` not `on-select="getDataBasedonCustomer(uiSelectedCustomer)" `

See example in wiki https://github.com/angular-ui/ui-select/wiki

[2016-03-16 16:21] #653 closed

[2016-03-16 16:28] user378230 commented on #615
Dupe of No result template #831

You can also modify the *theme*/choices.tpl.html as necessary.

[2016-03-16 16:28] #615 closed

[2016-03-16 16:29] user378230 commented on #628
This is covered in async demos in wiki and examples.

https://github.com/angular-ui/ui-select/wiki/ui-select

[2016-03-16 16:29] #628 closed

[2016-03-16 16:34] user378230 commented on #601
Minimum angularjs supported is v1.2.18

[2016-03-16 16:34] #601 closed

[2016-03-16 16:36] user378230 commented on #592
You'd probably need to transform the items array then use group by. See example in [demo-groupby.html](https://github.com/angular-ui/ui-select/blob/161cff56c0ba9d4a86ae213056dd78ba18296036/examples/demo-groupby.html).

ui-select does not support nested items input.

[2016-03-16 16:36] #592 closed

[2016-03-16 16:38] #510 closed

[2016-03-16 16:40] user378230 commented on #450
For future reference this can be done specifying a custom value for the theme attribute and using it to prefix templates that are store in the `$templateCache`

A relevant line: https://github.com/angular-ui/ui-select/blob/161cff56c0ba9d4a86ae213056dd78ba18296036/src/uiSelectDirective.js#L8

[2016-03-16 16:40] #450 closed

[2016-03-16 16:56] user378230 commented on #443
This appears to work fine in the latest version of the library.

Closing.

[2016-03-16 16:56] #443 closed

[2016-03-16 18:22] user378230 commented on #1313
Dupe #1067

[2016-03-16 18:22] #1313 closed

[2016-03-16 18:23] user378230 commented on #1300
Unless you can provide reproduction plunkr or similar it is going to be very difficult to help. Closing due to lack of activity for now.

[2016-03-16 18:23] #1300 closed

[2016-03-16 18:24] #1294 closed

[2016-03-16 18:24] user378230 commented on #1292
Closing as answered.

[2016-03-16 18:24] #1292 closed

[2016-03-16 18:58] stringbeans commented on #389
@dmccown1500 thanks for providing your solution with infinite scroll! Very cool stuff :) Unfortunately it doesn't seem to be working with the latest version of ngInfiniteScroll as it attaches by default to the window and not the container. I tried using the exact copy of infinite-scroll you used in your plunkr demo and noticed that ui-select would redraw itself after increasing the limit dynamical

[2016-03-16 19:35] deeg commented on #1493
Please post a plunkr reproducing the issue so we can look into fixing it for you.

[2016-03-16 20:04] user378230 commented on #1185
Closing due to lack of repro and meaningful detail.

Please update this issue with plunkr or similar against the latest version and some more information if there is still a problem.

[2016-03-16 20:04] #1185 closed

[2016-03-16 20:07] user378230 commented on #1144
You can achieve this by creating a custom directive that `require`s ui-select and then accessing `$select` you should then be able to watch `$select.items`.

[2016-03-16 20:07] #1144 closed

[2016-03-16 20:11] user378230 commented on #1085
Closing as this is not typeahead repo.

[2016-03-16 20:11] #1085 closed

[2016-03-16 20:15] dmccown1500 commented on #389
@stringbeans I left the project where I was using ui-select so I have not kept that up to date. So if you need a feature from one of the newer versions then you are kind of out of luck.

[2016-03-16 20:15] user378230 commented on #1042
Closing due to lack of info and repro.

If you believe this issue is still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0)

[2016-03-16 20:15] #1042 closed

[2016-03-16 20:22] user378230 commented on #946
Closing due to lack of info and repro.

If you believe this issue is still relevant please update with a plunkr (or similar) against the latest version of ui-select (currently v0.16.0)

[2016-03-16 20:22] #946 closed

[2016-03-16 21:17] BrentWheeldon opened #1495 "What is the latest version?"
The comments in the `dist/` files and the changelog say `0.15.0`, but the git tag says `v0.16.0`.

[2016-03-16 21:19] BrentWheeldon opened #1496 "Can't select elements with click when when using `tagging`"
I am having the same issue as https://github.com/angular-ui/ui-select/issues/1357 using 0.16.0 (from bower).

I see that this was fixed in https://github.com/angular-ui/ui-select/pull/1439, but I can't find that commit either in the 0.16.0 tag, nor master. Am I missing something?

[2016-03-16 21:32] deeg commented on #1495
The latest release is v0.16.0 on both bower and npm

We will take a look at updating the changelog and dist files.

[2016-03-16 21:32] #1495 closed

[2016-03-16 21:34] JobaDiniz commented on #1226
`required` or `ng-required´ is not working at all.
I set `required` but the field has always `ng-valid` class applied to it, when actually it should have `ng-invalid` when invalid

[2016-03-16 21:34] TJSoftware commented on #1144
@user378230 That may be possible, I am not working on that project anymore.  It would be nice if you provided a bit more than just a general overview of how to do this before assuming that you can close something.  I.E. Confirming that the OP or anyone else in the thread is able to do what you are doing.  My original request was not just how to do it, but to have the functionality added to Angular

[2016-03-16 21:35] deeg opened #1497 "Fix changelog, bower.json, and release process"
- [x] Changelog should be generated for latest releases.
- [x] Dist files files should have correct version number at top.
- [x] bower.json file should have correct bower package name. (angular-ui-select instead of ui-select)
- [x] remove version from bower.json file as it is not needed
- [x] stop /dist files and changelog from showing in everyone's PRs by modifying build process

[2016-03-16 23:03] user378230 commented on #1144
Hi @TJSoftware

I completely understand where you're coming from and I would feel the same under most typical active repo circumstances. However in this instance the repo has been dead for about 6 months and there is a huge backlog of issues. I'm currently working to try and reduce the noise in the issue log of things such as support requests, repeated questions and very specific feature requests.

[2016-03-17 07:45] #1358 closed

[2016-03-17 07:47] user378230 commented on #1386
Closing due to lack of activity. Refer to https://github.com/angular-ui/ui-select/blob/161cff56c0ba9d4a86ae213056dd78ba18296036/examples/demo-object-as-source.html for examples of how to do this. (Or see wiki)

[2016-03-17 07:47] #1386 closed

[2016-03-17 07:49] user378230 commented on #1394
Closing due to lack of activity.

[2016-03-17 07:49] #1394 closed

[2016-03-17 07:51] user378230 commented on #1050
I think this is a dupe of #665 so closing.

[2016-03-17 07:51] #1050 closed

[2016-03-17 07:56] user378230 commented on #1363
Unfortunately we can't provide in depth support to everyone, you should study the included css file. It should be possible to modify it appropriately. (Note you may have to override bootstrap styling too)

You might also wish to try stackoverflow for a great chance of assistance.

[2016-03-17 07:56] #1363 closed

[2016-03-17 08:36] user378230 commented on #1360
Dupe #1278

[2016-03-17 08:36] #1360 closed

[2016-03-17 08:40] tangfang opened #1498 "angular1.4.9升级到1.5.0后，ui-select-choices不支持属性标注节点"
`<div ui-select-choices repeat="project in (projects | filter: $select.search) track by project.uuid">
          <span ng-bind="project.name"></span>
        </div>`
以上的写法在angular1.4.9中可以正常运行，1.5.0中陷入compile死循环。
`<div ui-select-choices......` on angular1.4.9 yes.on angular1.5.0 no

[2016-03-17 08:51] tangfang opened #1499 "<div ui-select-choices...> broken in angular v1.5.0"
In the 1.5.0 version of angular
`<div ui-select-choices......></div>` is not supported.
must use `<ui-select-choices......></ui-select-choices>`

[2016-03-17 09:42] user378230 commented on #1498
Closing as dupe of #1499

[2016-03-17 09:42] #1498 closed

[2016-03-17 11:15] user378230 commented on #1499
Which version of ui-select are you using?

[2016-03-17 12:01] user378230 commented on #1438
Assuming this is answered, closing.

[2016-03-17 12:01] #1438 closed

[2016-03-17 12:02] user378230 commented on #1452
Assuming this is answered based on the lack of a response. Closing.

[2016-03-17 12:02] #1452 closed

[2016-03-17 13:03] user378230 commented on #1234
As mentioned above this issue lacks any thought through insight or information.

There are existing already issues about performance, given that angular foreach is suitable for use by angular, I think its suitable for this library so I'm going to close this.

If someone is willing to profile the library and submit a PR it can be reviewed by the team.

[2016-03-17 13:03] #1234 closed

[2016-03-17 13:25] user378230 commented on #1177
Closing as answered.

[2016-03-17 13:25] #1177 closed

[2016-03-17 13:29] user378230 commented on #1164
You can customise match-multiple.tpl.html and/or the contents or <ui-select-match> using usual angular directive to achieve this.

Closing as there the existing solution is adequate.

[2016-03-17 13:29] #1164 closed

[2016-03-17 13:48] rafaelhz commented on #1484
I 'm facing the same problem.

I found 2 solutions for that at stack overflow:
http://stackoverflow.com/questions/28573688/ui-select-reset-search-input-does-not-work

[2016-03-17 14:18] rafaelhz opened #1500 "Multi-select selecting the first option when TAB key is used"
When 'tab' key is used, the multi-select selects the first option value.

Using the native version of select2, just using the 'ENTER' key selects a value, the 'TAB' key just clean the component.

To simulate this behavior, click on the multi-select and press the tab key.

[2016-03-17 14:21] TJSoftware commented on #1144
@user378230 I appreciate you taking the time to give an explanation.  I can understand not keeping up with an out of date repo.  Especially with Angular2 out there.  Seeing your account name I originally assumed that someone just saw the issue and made a comment about a possible solution.  I had also assumed that anyone could close an issue and only contributors could reopen it.

[2016-03-17 15:11] shprink commented on #648
Before and after opening the UI select:

![image](https://cloud.githubusercontent.com/assets/1388706/13850578/d59db332-ec5a-11e5-8361-407dc4aad2cf.png)

OMG!

[2016-03-17 15:38] jmblck commented on #1355
+1

[2016-03-17 16:44] melnikaite commented on #224
angular 1.4.10, fixed by downgrading ui-select to 0.13.1

[2016-03-17 16:57] user378230 commented on #224
@melnikaite from which version did you downgrade? (The version that was _not_ working with angular v1.4.10)

[2016-03-17 17:06] melnikaite commented on #224
I tried all versions from 0.16.0 to 0.14.1

[2016-03-18 00:38] tangfang commented on #1499
@user378230 0.15.0 version of ui-select

[2016-03-18 06:25] tangfang commented on #1499
http://stackoverflow.com/questions/34805257/angular-compile-in-link-function-gives-an-error-rangeerror-maximum-call-stack#

[2016-03-18 08:38] sergonius opened #1501 "Disable jumping to the element on blur"
When you open the single select box, leave it open, scroll way down until the element is out of the viewport and click on anything else, it jumps back to the previously open select. Can this be prevented somehow?

[2016-03-18 08:40] KrakenTyP-co opened #1502 "Angular 1.5.1 with ngAnimate still do multiple $digest"
Hi,

 after updating angular 1.5.1 with ngAnimate is still there bug with multiple triggering $digest.

Problem - Multiple opening same uiSelect triggering duplicity $digest`s.

This bug was ignored with reference to bug on ngAnimate 1.5.0.

Im updated uiSelect 0.16.0 but still its not working propertly.

For now i changed code like this:

`
ctrl.$animate = (function () {
                    try {

[2016-03-18 11:52] JobaDiniz opened #1504 "ng-required does not work"
Here's the [plunker](http://plnkr.co/edit/5S9cBHP3dxMkrHNWtYoG?p=preview)

Angular **1.4.9**
ui-select: **0.14.8**

[2016-03-18 12:14] paulgain commented on #224
`<ui-select multiple ng-model="vm.selectedSchema" theme="select2">
   <ui-select-match>{{$item}}</ui-select-match>
   <ui-select-choices repeat="schema in vm.schemas | filter: $select.search">
     {{schema}}
   </ui-select-choices>
</ui-select>`

angular 1.4.10 & ui-select 0.13.3 only works form me when using multiple.

[2016-03-18 12:28] performatric commented on #1006
That problem have many issues but without fix, just pull request.
Many issues related are opened and closed without solution. It's frustrating!

[2016-03-18 12:29] performatric commented on #938
@viniciusdacal your fork works in angular ^1.4?

[2016-03-18 12:59] viniciusdacal commented on #938
@performatric yes, currently I'm using with angular 1.4.9 and it's working pretty fine.
In that fork i just fixed this problem with tagging.
I created another repository that we are currently maintaining and adding new features https://github.com/viniciusdacal/angular-select
I really don't like that fragmentation, but for this case I only see this way

[2016-03-18 13:58] MattiJarvinen-BA commented on #1346
autocomplete="off" works in current chrome, so this can be fixed.

[2016-03-18 14:39] JobaDiniz commented on #1504
duplicate #258

[2016-03-18 14:39] #1504 closed

[2016-03-18 15:26] MDziwny commented on #976
The PR #1208 has broken multiple selection with `close-on-select=false`, if the user use the mouse to select an item, then it goes back to the highlighted element.

For instance, the user wants to select X, Y and Z. He selects X with the mouse and the dropdown goes back to A.

[2016-03-18 15:29] AnatoliyLitinskiy commented on #1094
https://embed.plnkr.co/OLkILVt02vBFhonBPExD/
Please try to search something
it looks, that `item.id` is not a string, so doesn't have `match` method

[2016-03-18 16:32] NathanAK opened #1507 "Allow-clear doesn't seem to work with a variable"
Is there a way to toggle the allow-clear? I can toggle ng-disabled, but when it's set to true I would like to set allow-clear to false so that it really is disabled. For some reason it only works if you specifically type true or false in there not a variable. Try it on any the demos to replace true with !disabled and it doesn't do anything.

[2016-03-18 16:38] NathanAK commented on #1507
Never mind. You just have to wrap in brackets. {{ !disabled }}. I'm a little slow.

[2016-03-18 17:34] artuska commented on #665
+1

[2016-03-18 17:49] aaronroberson commented on #665
@artuska This should be fixed in the latest version. Please see https://github.com/angular-ui/ui-select/commit/6c52e412e8be48f2831b95e7ab930bbf483f7c82 and confirm or deny.

[2016-03-20 18:28] #1507 closed

[2016-03-20 19:01] toubou91 opened #1510 "[Question] Explicit declaration of ui-select module's filter for the logical OR"
The ```propsFilter``` defined in the ```demo.js``` file performs the logical ```OR``` to all the available data for a dropdown and this is correct, as we actually want to perform a search operation to some data.

According to the fore-mentioned words, we come to a conclusion that this filtering should be available by default in the module. So, is there any specific reason that it isn't or I did I

[2016-03-20 19:13] remmeier opened #1511 "refresh closes dropdown"
Not yet sure where to look for the problem, but when I use

` <ui-select-choices  refresh="refreshElements($select.search)"  repeat="item in elements">
        <span>{{::(item | formatItem)}}</span>
  </ui-select-choices>`

whereas refreshElements updates the elements array based on the provided $select.search (using a remote rest call).

Every time some search string is entered and $select.search

[2016-03-20 20:13] user378230 commented on #1510
It isn't included as there is nothing special about its relation to ui-select. It is just a normal angular filter that happens to be useful for many peoples use cases when it comes to ui-select. However that doesn't mean everyone needs/wants to use it.

Since angular provides this extension point itself, it is left up to users to customise how they wish.

[2016-03-20 20:20] user378230 commented on #1094
@AnatoliyLitinskiy you must specify a tagging function on the `tagging` attribute as per [Wiki](https://github.com/angular-ui/ui-select/wiki/ui-select) guidance:

[2016-03-20 20:24] toubou91 commented on #1510
I have not read the code for ui-select and angular, but if this is about sth that is not supported by default and the user has to do an additional action (write a specific filter, for example) in order to implement it, where is the point of the selectization, from a modular perspective?

[2016-03-20 20:44] user378230 commented on #118
Closing as guidance for IE8 is given in Wiki which says to include shim.

[2016-03-20 20:44] #118 closed

[2016-03-20 20:47] user378230 commented on #120
Closing as resolved by #754 (via #158)

[2016-03-20 20:47] #120 closed

[2016-03-21 05:45] wiibaa opened #1512 "Version mismatch"
Hello,

a few question about the recent versions:

* 0.14.10 is mentioned in the changelog but not tagged so nonexistent for bower
* the latest tag is 0.**16**.0 but the changelog mention 0.**15**.0, so can I point my bower.json to 0.16.0 or should wait for the proper 0.15 tag ?

Thanks you

[2016-03-21 10:53] user378230 commented on #1510
I suggest maybe you study the code for ui-select. filter and angular, you will see they are unrelated.

I appreciate your input, but for now it is acceptable to provide an example in demo so I'm closing this.

[2016-03-21 10:53] #1510 closed

[2016-03-21 10:55] user378230 commented on #1512
Use the latest version._v0.16.0_ at time of writing.

Not sure why we skipped ahead to v0.16.0 but there was probably a reason.

[2016-03-21 10:55] #1512 closed

[2016-03-21 11:07] user378230 commented on #1491
Assuming answered, closing.

[2016-03-21 11:07] #1479 closed

[2016-03-21 11:08] user378230 commented on #1462
Fixed by #1477

[2016-03-21 11:08] #1462 closed

[2016-03-21 13:20] user378230 commented on #1344
You can also modify [`_THEME_/choices.tpl.html`](https://github.com/angular-ui/ui-select/blob/dfa096975a6daba21ac5484129602e8387ebce56/src/bootstrap/choices.tpl.html)

Closing as answered.

[2016-03-21 13:20] #1344 closed

[2016-03-21 13:24] user378230 commented on #1296
As per [FAQ](https://github.com/angular-ui/ui-select/wiki/FAQs) you must bind to object with ngModel.

Closing as not a bug.

[2016-03-21 13:24] #1296 closed

[2016-03-21 13:26] doubaokun commented on #221
+1

[2016-03-21 13:54] soorajvnair commented on #1009
The issue still persists. Check this plunker. http://plnkr.co/edit/IMRcgO?p=preview

[2016-03-21 14:23] user378230 commented on #1009
The plunkr is using ui-select v0.11 can you update to latest so it can be confirmed? I'll reopen then.

https://cdnjs.com/libraries/angular-ui-select

[2016-03-21 14:26] user378230 commented on #1271
ng-model binding is incorrect. Please see top question in FAQ https://github.com/angular-ui/ui-select/wiki/FAQs

[2016-03-21 14:26] #1271 closed

[2016-03-21 15:28] davideanderson commented on #1491
Sorry.  No, it was not answered.  Doing a span inside like that only changes the style of the writing on the 'button', not of the button itself.

[2016-03-21 16:12] JulioDeL opened #1513 "Is it possible to change the border color of the badges in a multiple ui-select?"
Hello,

I want to customize a multiple ui-selector so that if a pushed object was not valid the border of the badge would turn red. I don't see in the documentation any option for customizing CSS, so I would like to know if this is even possible to accomplish.

Thanks

[2016-03-21 17:49] user378230 commented on #1491
You probably need to customise the [match-multiple.tpl.html](https://github.com/angular-ui/ui-select/blob/master/src/bootstrap/match-multiple.tpl.html) template then.

[2016-03-21 17:52] user378230 commented on #1513
Possible dupe #1491

[2016-03-21 19:01] user378230 commented on #1321
`ng-model` should be on `ui-select` not `ui-select-choices`.

Closing.

[2016-03-21 19:01] #1321 closed

[2016-03-21 19:45] wiibaa commented on #1384
@pom-avaleo I think this is the expected behavior by keeping your input it keeps the the listing filtered and let you quickly select a set of value. For example in your plunker, you can type the letter **u** and quickly select all the color with this letter. Anyway this value is cleared when you click out of the field.

Can you explain further what you want to achieve, but at the moment I agree wi

[2016-03-21 21:42] user378230 commented on #1255
The filter in the plunkr is incorrect, maybe it was a change between angular v1.2 > v1.4

`| filter: { value : { name :$select.search } }` fixes the first one - I assume it fixes the others as well but I haven't tested.

[2016-03-22 03:20] curtismorte commented on #1467
+1. Also having this issue when calling toggle() on the ui-select.

Versions:
Angular-ui-select: v0.15.0
Angular: v1.3.15

[2016-03-22 09:47] AnatoliyLitinskiy commented on #1287
### Same error with `ui-view`

Hi, but what to do if I'm not using `$modal` service?
here this error appears when child `state` is been opened

(just click on `go to sub` link and see console output)
https://embed.plnkr.co/yjCvvyIpGgwCUljy214X/

[2016-03-22 12:03] #1387 closed

[2016-03-22 12:08] user378230 commented on #1326
Simply customise the css appropriately. (With a rule of your own in your css).

[2016-03-22 12:08] #1326 closed

[2016-03-22 14:15] #1247 closed

[2016-03-22 15:53] joonask commented on #1253
Not focusing on first click. Reproduceble [Plunker](http://plnkr.co/edit/0Ael5q217Zpbvuxse2dK?p=preview)

[2016-03-22 20:25] viros opened #1515 "autofocus doesn't work if $animateProvider.classNameFilter used to disable animation"
Autofocus doesn't work if i disable animation by using `$animateProvider.classNameFilter();`

[2016-03-23 04:57] patrickhousley commented on #1253
@joonask The problem is that you have no items to list out. Thats not to say this is not an issue with the library. However, given that no search value has been entered, I (as a user of your application) may expect an initial list of values. Try adding the below to the top of your search function.

[code]

[2016-03-23 05:56] pandadylan opened #1516 "where is dist"
I can't run example well. Because there not directory dist.

[2016-03-23 07:12] #1516 closed

[2016-03-23 07:21] hagis commented on #1253
@patrickhousley, we are using ui-select as a search box, so when the user types something, a backend search call gets made and results are shown. So initially the list of values is always empty.

Good catch on the event leak in your fix.

[2016-03-23 12:59] styopdev commented on #154
+1

[2016-03-23 13:01] #1346 closed

[2016-03-23 13:24] dhiegoatencio commented on #855
+1

[2016-03-23 13:42] user378230 commented on #1000
Related #170 ?

[2016-03-23 14:18] heridev commented on #1325
you're right not so cool writing on closed issues.

but any of the solutions included in this thread worked for me :(, so I ended up downgrading the ui-select2 version:
[code]
and it's working now

[2016-03-23 14:47] user378230 commented on #1325
@heridev did you see my reply? https://github.com/angular-ui/ui-select/issues/1325#issuecomment-192249909

[2016-03-23 18:58] #1286 closed

[2016-03-23 19:02] logannc commented on #1269
+1 @johnmarkli I have experienced this numerous times. I had thought it was something more insidious than just typing too fast, but I could never replicate it! XD

[2016-03-23 19:39] devmarwen commented on #788
:+1:

[2016-03-23 20:07] aaronroberson commented on #960
This will land in the next release.

[2016-03-23 20:13] aaronroberson commented on #692
@homerjam That project is owned by someone else and it would require that we 1) Gain ownership and 2) Update package.json name to 'angular-ui-select' and 3) decommission `ui-select` on npm. The first step is a blocker at this time.

[2016-03-23 20:13] #692 closed

[2016-03-23 20:19] aaronroberson commented on #1327
@oezkany I've merged in #1243 and it will land in the next release. However, we are not keen on adding a plethora of directive attributes to the project. I would love to see a PR that refactors the the directive away from having a million attributes and instead accepting a config object.

[2016-03-23 20:51] #522 closed

[2016-03-23 21:51] homerjam commented on #692
Fair enough @aaronroberson, cheers for clarifying.

[2016-03-23 22:30] user378230 commented on #1084
Given that this isn't done on the main  [angular-ui/bootstrap](https://github.com/angular-ui/bootstrap-bower/blob/7d5d0789cb5a43b8a9da9afc6bba62f788ef119b/ui-bootstrap-tpls.js#L7186) or [angular-strap](https://github.com/mgcrea/angular-strap/blob/7c9f1b5038631c0f92432d5d9e11a192b95c77e6/dist/angular-strap.tpl.js#L11) I'm going to close this as a won't fix.

If its good enough for those libs its go

[2016-03-23 22:30] #1084 closed

[2016-03-23 22:30] nicooga commented on #1201
@spooky your solution doesn't work work for me. I'm using the `ui-select` inside a directive template, used by another directive template. Would it have something to do?

[2016-03-24 09:45] pkuklin commented on #1355
Hey, guys, I have found how to fix this issue without Forking.
I have added attribute(option) : **tagging** to the **ui-select**.
Here is quote from documentation: **If your model is an array of objects, this string is required.**
This worked for me, peace!

[2016-03-24 10:06] pkuklin opened #1520 "Unneeded empty drop-down in Angular 1.5.2 and ui-select 0.15.0 (0.16.0)"
Bug description: when click on ui-select empty drop-down appears.
http://joxi.ru/KAg8LRXsg3v74r

0.14.9 version does not have such an issue, you can check it here:
http://plnkr.co/edit/QdEP2MAj351bGNoHNZ03?p=preview

[2016-03-24 10:56] rafa-aguilar opened #1521 "Confusion in bower and package versions"
Hi,

The bower version and the package version are different:

**Bower: "version": "0.14.1"
Package: "version": "0.16.1"**

bower angular-ui-select#*     mismatch Version declared in the json (0.14.1) is different than the resolved one (0.16.1)

This is an error? If not, why have this difference?

Thanks for this amazing plugin!

[2016-03-24 11:06] IvanCoronado commented on #1521
:+1:

[2016-03-24 14:01] LeleDev commented on #1521
+1

[2016-03-24 16:33] eftas-gka commented on #152
still interested in this ^^

[2016-03-25 00:21] user378230 commented on #720
In v0.16.1 this is appears to be resolved. Closing.

[2016-03-25 00:21] #720 closed

[2016-03-25 00:22] user378230 commented on #804
Closing due to lack of plunkr and issue age.

Please provide an up to date plunkr against the latest version of ui-select if this is still a problem.

[2016-03-25 00:22] #804 closed

[2016-03-25 00:24] user378230 commented on #1273
Dupe/Related #1232

[2016-03-25 00:29] user378230 commented on #1118
When using `taggingLabel !== false` the `taggingFunction` is actually run to create the item that is added to the start of the item list, so the user can select it if they wish. Therefore this wouldn't be a workable solution for your use case.

This can be managed externally, using an `onSelect` callback to check if the new item is part of your existing list and saving to the db if not.

It would

[2016-03-25 00:29] #1118 closed

[2016-03-25 00:31] user378230 commented on #854
You should be able to set `tabindex=...` attribute on `ui-select`.

[2016-03-25 00:31] #854 closed

[2016-03-25 00:34] user378230 commented on #1150
Closing due to age and lack of plunkr.

If you still require assistance please provide a plunkr or similar against the latest version of the library. (Demonstrating valid and invalid states). This will make it easier for someone to help you.

[2016-03-25 00:34] #1150 closed

[2016-03-25 00:37] user378230 commented on #1520
https://github.com/angular-ui/ui-select/commit/e65995f1eb2e190e71c9226a2f754671a7277c86 looks guilty.

[2016-03-25 04:02] noherczeg commented on #1234
I'm not sure if this qualifies or not. Not to mention if the methodology is correct or not, but you may observe a 50% performance increase by using for() on larger data sets:

http://plnkr.co/edit/NHke0iFeJmcaurJclsvc?p=preview

[2016-03-25 04:08] noherczeg commented on #1234
Real application example of registerState seemingly being slow due to angular.forEach().

![registerState](http://i.imgur.com/OCsSg2P.png)

[2016-03-25 07:31] gorghoa opened #1522 "track by $index broken with angular 1.5"
### Bug description:

When using `track by $index` for the `repeat` attribute, with angular < 1.5, ui-select used to generate an id of the form

[code]

Now, with angular 1.5(.2) we get :

[code]

The last digit is missing. It should be replace by the value of `$index`, but `$index is undefined`.

### I’ve written a test for the issue :

gorghoa/ui-select@d627eef45755d7ac0e4c81a231989f576d0512c8

[2016-03-25 13:08] user378230 commented on #1234
The problem is that no attempt has been made to determine if the angular.forEach loops are the cause of any major performance issues in the `ui-select` library. This isn't demonstrated in your plunkr either as far as I can tell.

[2016-03-25 14:23] noherczeg commented on #1234
@user378230 I'm terribly sorry. It was really late at night and I unintentionally dropped in on this project while I was experiencing the same problem with ui-router. The issue was too similar to what problem I'm facing with so I didn't notice that it's not the repo I should've been commenting on :/

[2016-03-25 16:08] wesleycho opened #1524 "Demo/Examples linked to in README is out of date"
The issues forum is __NOT__ for support requests. It is for bugs and feature requests only.
Please read https://github.com/angular-ui/ui-select/blob/master/CONTRIBUTING.md and search
existing issues (both open and closed) prior to opening any new issue and ensure you follow the instructions therein.

### Bug description:

See title :) - the demo Plunkers are using Angular 1.2, pretty old version.

[2016-03-25 16:19] wesleycho opened #1525 "Duplicate of the same id in choices"
### Bug description:

When using the regular `repeat` attribute in `ui-select-choices` with ng-repeat syntax, the `id` attribute repeats `ui-select-choices-row-0-`, leading to selector issues. Note that this does not occur when the optgroup feature is used.

### Link to minimally-working plunker that reproduces the issue:

Type `New York` into the input and inspect the `id` attributes of the repea

[2016-03-26 05:32] wesleycho commented on #1502
You should post a reproduction - this is not a useful issue with the information mentioned.

[2016-03-26 08:16] Robin-Hoodie commented on #1090
Is there any known workaround for this?

[2016-03-26 09:02] soundlly commented on #221
@betonetotbo very good solution for me!! thanks

[2016-03-26 09:03] lky1001 commented on #221
@betonetotbo very good solution for me! thanks

[2016-03-26 10:33] Robin-Hoodie commented on #1090
I've worked around this with the following directive:

function multiSelectedTouched() {
    return {
      link: link,
      restrict: 'A',
      require: 'ngModel'
    }

    function link(scope, element, attrs, ngModelCtrl) {
      scope.$watchCollection(attrs.ngModel, function(newValue, oldValue) {
        if(_isNotInitialLoad()) ngModelCtrl.$setTouched();

        function _isNotInitialLoad()

[2016-03-26 11:19] KrakenTyP-co commented on #1502
ok here is plunkr:
http://plnkr.co/edit/mSczuVKBSmoJJh54gziT?p=preview

**Test process**
- Open console,
- Try open 2-5 times same select box,
- You`ll see multipliing result of console.log('digest cicle');

**Results**
- 1 Time opening 1. select box -  2 digest(default) + 9 digests (1select box + 8 items in select box)
- 2 Time opening 1. select box -  2 digest(default) + 17 digests (9 prev diges

[2016-03-26 12:27] wesleycho commented on #859
Going to close this since it doesn't appear there are any more issues with reproductions that illustrate it. Feel free to open a new issue if this is still a problem with reproduction.

[2016-03-26 12:27] #859 closed

[2016-03-26 15:31] richfergus commented on #337
I experienced the same issue +1

[2016-03-26 16:23] richfergus commented on #337
The behavior comes from the fact that the model is bound to items as simple strings. ui-select expects an array i.e
`["Blue","Red"]`
not
`'Blue', 'Red'`

[See plunker both working and not working](http://plnkr.co/edit/QZ186YziACq2kqXFJSoa?p=preview)

[2016-03-26 16:52] garethdown44 commented on #337
That wasn't what the issue was. The issue was that it behaved differently whether you set:

<select multiple="mutiple">

or

<select multiple>

(see the referenced issue #371 too)

However, after testing multiple="multiple" in your plunker on the first example reveals that it's been fixed now, so this can be closed.

[2016-03-26 16:52] #337 closed

[2016-03-26 16:53] richfergus commented on #337
Ok, sure looks like the same behaviour to me.

[2016-03-26 19:34] wesleycho commented on #1522
Cross-linking #1525 - they are identical, although I add a Plunker reproduction. I noticed this in my work app, and it caused some QA automation to fail.

[2016-03-26 19:36] wesleycho commented on #1521
Bower uses tags to determine the version currently, and from what I understand, that is not likely to change.

Either the value should be removed from bower.json, or the number needs to be kept up to date with the releases.

[2016-03-26 22:03] wesleycho opened #1528 "Deprecate IE8/angular 1.2 support?"
So I notice this library supports angular 1.2 - this probably has a large tax on development & being able to improve the library, most notably with any IE8 issues, but also having to test changes with varying versions of angular. This probably also results in some bloat in areas.

Would it be worth establishing a timeline when this could be possible?

[2016-03-26 22:06] wesleycho commented on #69
Closing, as it looks like ui-utils no longer has a highlight filter.

[2016-03-26 22:06] #69 closed

[2016-03-27 06:25] wesleycho commented on #175
This seems like something that isn't happening, so closing unless the new maintainers feel it's something they want to consider - if they view it as an issue, it'd be better for a new issue to be open, this issue seems a bit misleading at this point.

[2016-03-27 06:25] #175 closed

[2016-03-27 06:29] wesleycho commented on #72
This sounds like the classic limitation with the CSS box model - the only solution for something like this is to support an `appendTo` type feature where the user can append the ui select elements to a custom element. Currently, there is the [append-to-body](https://github.com/angular-ui/ui-select/wiki/ui-select) option that would let you work around this, but supporting appending to a custom elem

[2016-03-27 06:31] wesleycho commented on #90
Closing due to age of this issue - feel free to open a new issue if this is still a problem with the current release.

[2016-03-27 06:31] #90 closed

[2016-03-27 06:33] wesleycho commented on #121
Closing due to the age of the issue - if this is still a problem, please open a new issue with adequate reproduction in Plunker.

[2016-03-27 06:33] #121 closed

[2016-03-27 06:36] wesleycho commented on #203
Closing as fixed.

[2016-03-27 06:36] #203 closed

[2016-03-27 06:38] wesleycho commented on #204
I've seen this issue for work as well - a co-worker used a component that hackily modified some styles, adding a class with `overflow: hidden; text-overflow: ellipsis;` where appropriate.

Would be nice to have a CSS fix in the library itself.

[2016-03-27 06:39] wesleycho commented on #208
Closing due to lack of reproduction via Plunker - feel free to open a new issue with a reproduction based on the current release if this is still a problem.

[2016-03-27 06:39] #208 closed

[2016-03-27 06:42] wesleycho commented on #214
Closing as duplicate of #212

[2016-03-27 06:42] #214 closed

[2016-03-27 06:45] wesleycho commented on #218
Should note, that hack is not possible if you are using $compileProvider.debugInfoEnabled(false) for production builds.

This needs a Plunker reproduction though.

[2016-03-27 06:49] wesleycho commented on #227
Closing due to age of issue - this may also be a duplicate.

Feel free to open a new issue with adequate reproduction on Plunker if this is still an issue.

[2016-03-27 06:49] #227 closed

[2016-03-27 06:52] wesleycho commented on #239
Closing as addressed - feel free to open a new issue if there is still a need for this.

[2016-03-27 06:52] #239 closed

[2016-03-27 06:53] wesleycho commented on #241
Closing due to age of issue - feel free to open a new issue with reproduction based on the latest release if this is still a problem.

[2016-03-27 06:53] #241 closed

[2016-03-27 06:55] wesleycho commented on #243
Can someone post a Plunker based on an up to date version of UI Select?

[2016-03-27 06:56] wesleycho commented on #268
This needs an up to date Plunker based on the latest release.

[2016-03-27 07:03] wesleycho commented on #302
Closing as a duplicate of #152 - this issue has too many +1s which has made this a noisy issue to read, and #152 proposes a nice solution to this problem.

[2016-03-27 07:03] #302 closed

[2016-03-27 07:04] wesleycho commented on #304
Closing as fixed - feel free to open a new issue if this is still a problem with reproduction based on the latest release.

[2016-03-27 07:04] #304 closed

[2016-03-27 07:04] wesleycho commented on #308
Closing as a duplicate.

[2016-03-27 07:04] #308 closed

[2016-03-27 07:05] wesleycho commented on #309
Closing due to age - feel free to open a new issue with reproduction up to date with the latest release if this is still a problem.

[2016-03-27 07:05] #309 closed

[2016-03-27 07:07] wesleycho commented on #324
Closing due to lack of reproduction via Plunker - feel free to open a new issue with a reproduction in Plunker based on the latest release if this is still a problem.

[2016-03-27 07:07] #324 closed

[2016-03-27 07:09] wesleycho commented on #331
Can you post a more up to date Plunker based on the latest release?

[2016-03-27 07:10] wesleycho commented on #338
Closing due to age of issue - feel free to open a new issue with reproduction based on the latest release if this is still an issue.

[2016-03-27 07:10] #338 closed

[2016-03-27 07:11] wesleycho commented on #341
Closing as fixed - if this is still an issue, feel free to open a new issue with reproduction based on the latest release.

[2016-03-27 07:11] #341 closed

[2016-03-27 07:12] wesleycho commented on #342
Closing due to link (only description) being broken.

Feel free to open a more detailed issue with proper reproduction in Plunker based on the latest release if it is still an issue.

[2016-03-27 07:12] #342 closed

[2016-03-27 07:13] wesleycho commented on #344
I had to create a custom directive to do some focus management for work - PRs are welcome for this.

[2016-03-27 07:14] wesleycho commented on #345
Can you post an updated Plunker based on the latest release?

[2016-03-27 14:48] wesleycho commented on #351
Closing as a support issue.

[2016-03-27 14:48] #351 closed

[2016-03-27 14:50] wesleycho commented on #352
ui-utils removed the filter it looks like, closing as resolved.

[2016-03-27 14:50] #352 closed

[2016-03-27 14:56] wesleycho commented on #363
Can you verify whether this is still an issue?

[2016-03-27 14:57] wesleycho commented on #364
Going to close as a duplicate.

[2016-03-27 14:57] #364 closed

[2016-03-27 15:18] wesleycho commented on #368
Closing, as there are examples of using all but ng-required - ng-required likely requires something else, as it is something that is built into the input and select directives.

[2016-03-27 15:18] #368 closed

[2016-03-27 15:20] wesleycho commented on #370
Closing due to age - feel free to open a new issue with reproduction based on the latest release if it is still a problem.

[2016-03-27 15:20] #370 closed

[2016-03-27 15:22] wesleycho commented on #376
Closing due to lack of reproduction - feel free to open a new issue with appropriate reproduction in Plunker based on the latest release if this is still an issue.

[2016-03-27 15:22] #376 closed

[2016-03-27 15:25] wesleycho commented on #381
Closing as duplicate of ##379.

[2016-03-27 15:25] #381 closed

[2016-03-27 15:26] wesleycho commented on #382
Can you update the Plunker to be based off of the latest releases?

[2016-03-27 15:27] wesleycho commented on #385
Is there a real benefit to reducing the size of demo.js?

[2016-03-27 15:28] wesleycho commented on #386
Closing due to age and confusing formatting - feel free to open a new issue if this is still a problem with more developer friendly formatting & reproduction of problem in Plunker based on the latest release.

[2016-03-27 15:28] #386 closed

[2016-03-27 15:30] wesleycho commented on #392
Closing due to age of issue - feel free to open a new issue with an up to date reproduction on Plunker using the latest release if this is still a problem.

[2016-03-27 15:30] #392 closed

[2016-03-27 15:34] wesleycho commented on #394
Looking at the current code in `master`, this looks like it should be fixed - feel free to open a new issue with details if it is not.

[2016-03-27 15:34] #394 closed

[2016-03-27 15:40] wesleycho commented on #398
Culprit is https://github.com/angular-ui/ui-select/blob/9b4421dcae1ac486814387d27cfe977f5608b97d/src/uiSelectController.js#L445-L447

A better approach would be to change this to add/remove classes, and maybe make use of something like CSS3 calc...although this would break IE8 compatibility.

[2016-03-27 15:42] wesleycho commented on #401
Closing as a duplicate of a couple of issues - #432 looks like the most robust one.

[2016-03-27 15:42] #401 closed

[2016-03-27 15:55] wesleycho commented on #418
Closing as a support issue.

[2016-03-27 15:55] #418 closed

[2016-03-27 15:58] wesleycho commented on #428
Please don't post any more +1s - use the new GitHub reactions.

PRs welcome for implementing this.

[2016-03-27 16:04] wesleycho commented on #433
Going to close in favor of referenced issue. If that is not the issue, please open a new issue with an appropriate reproduction in Plunker based on the latest release.

[2016-03-27 16:04] #433 closed

[2016-03-27 16:05] wesleycho commented on #436
Closing as too full of noise and not enough useful/granular information.

[2016-03-27 16:05] #436 closed

[2016-03-27 16:09] wesleycho commented on #442
Closing as fixed in the latest release: http://plnkr.co/edit/n4LsGeoCoFBA3GZvWyBd?p=preview

[2016-03-27 16:09] #442 closed

[2016-03-27 16:11] wesleycho commented on #446
This is better styled from CSS if possible, or modifications to at least do it that way.

Also commenters: please use the GitHub reactions instead, and refrain from comments that add no useful information/signal.

[2016-03-27 16:12] wesleycho commented on #448
This is better implemented on the user side - this is because this is a type of pet feature that ends up adding bloat to the library, which is not useful for users who do not want such a feature.

Closing as something not desired.

[2016-03-27 16:12] #448 closed

[2016-03-27 16:22] wesleycho commented on #449
Closing as a support issue - feel free to open a new issue with reproduction in Plunker & clearer explanation if this is an actual issue with the library.

[2016-03-27 16:22] #449 closed

[2016-03-27 16:25] wesleycho commented on #458
Can some reproduce this in a Plunker based on the latest release so that this is clearer to understand?

[2016-03-27 16:27] wesleycho commented on #466
Closing as already doable.

[2016-03-27 16:27] #466 closed

[2016-03-27 16:28] wesleycho commented on #479
Closing as a support issue.

[2016-03-27 16:28] #479 closed

[2016-03-27 16:31] wesleycho commented on #495
Is this still currently an issue? Can you reproduce this with the latest release of UI Select?

[2016-03-27 16:32] wesleycho commented on #497
Can you post a reproduction via Plunker based on the latest release?

[2016-03-27 16:33] wesleycho commented on #499
PRs welcome.

[2016-03-27 16:35] wesleycho commented on #508
Closing as this is a [UI Grid](https://github.com/angular-ui/ui-grid) issue, not a UI Select issue.

[2016-03-27 16:35] #508 closed

[2016-03-27 16:53] wesleycho commented on #513
Microsoft is moving towards npm support, so closing this as something that isn't to be supported - frontend is also consolidating around npm, so it is highly recommended to use npm for client-side dependencies.

[2016-03-27 16:53] #513 closed

[2016-03-27 16:54] wesleycho commented on #514
Can someone post a reproduction based on the latest release on Plunker?

[2016-03-27 16:55] wesleycho commented on #515
Closing as out of date.

In addition, the CSS files allow users to override as necessary.

[2016-03-27 16:55] #515 closed

[2016-03-27 17:00] wesleycho commented on #516
Closing this as a duplicate of #367

[2016-03-27 17:00] #516 closed

[2016-03-27 17:02] wesleycho commented on #520
Closing as this looks like it has since been fixed. Feel free to open a new issue if it is still a problem in the latest release.

[2016-03-27 17:02] #520 closed

[2016-03-27 17:03] wesleycho commented on #524
Is this still an issue? Can a Plunker be posted with reproduction based on the latest release?

Can more information be added that refers to more current code?

[2016-03-27 17:06] wesleycho commented on #525
This should probably be implemented in the library through proper validation measures.

I'm going to close this as a duplicate of the other validation issues currently open.

[2016-03-27 17:06] #525 closed

[2016-03-27 17:07] wesleycho commented on #540
Is this still currently an issue? Can someone post a reproduction in Plunker based off of the latest release?

[2016-03-27 17:08] wesleycho commented on #543
Can you update this Plunker to be based off of the latest release?

[2016-03-27 17:09] wesleycho commented on #546
Closing as a batarang bug.

Any other issues should have new issues with appropriate reproduction in Plunker.

[2016-03-27 17:09] #546 closed

[2016-03-27 17:13] wesleycho commented on #555
Going to close as this is confusing and needs more information - feel free to open a new issue with appropriate reproduction in Plunker based on the latest release.

[2016-03-27 17:13] #555 closed

[2016-03-27 17:14] wesleycho commented on #788
Closing as a duplicate of #403 at heart

[2016-03-27 17:14] #788 closed

[2016-03-27 17:17] wesleycho commented on #558
Going to close due to lack of reproduction via Plunker - feel free to open a new issue with reproduction in Plunker based on the latest release if this is still an issue.

[2016-03-27 17:17] #558 closed

[2016-03-27 17:17] wesleycho commented on #560
Closing as fixed as per comments - feel free to open a new issue with appropriate reproduction if this is still an issue.

[2016-03-27 17:17] #560 closed

[2016-03-27 17:18] wesleycho commented on #561
Closing as fixed.

[2016-03-27 17:18] #561 closed

[2016-03-27 17:19] wesleycho commented on #564
Going to close as a usage issue - this may not be desired CSS for everyone, or may not be a relevant fix anymore.

[2016-03-27 17:19] #564 closed

[2016-03-27 17:19] wesleycho commented on #573
Can you post a reproduction in Plunker based on the latest release?

[2016-03-27 17:20] wesleycho commented on #565
Closing due to lack of Plunker. Feel free to open a new issue with reproduction based on the latest release if this is still an issue.

[2016-03-27 17:20] #565 closed

[2016-03-27 17:24] wesleycho commented on #580
Going to close as a usage issue - this is a problem that should be solved on the user's side.

[2016-03-27 17:24] #580 closed

[2016-03-27 17:25] wesleycho commented on #582
Going to close as more information is needed - feel free to open an issue with reproduction in Plunker based on the latest release with more information if this is still an issue.

[2016-03-27 17:25] #582 closed

[2016-03-27 17:27] wesleycho commented on #585
Going to close due to lack of reproduction in Plunker - feel free to open a new issue if this is still a problem with reproduction based on the latest release.

[2016-03-27 17:27] #585 closed

[2016-03-27 17:30] wesleycho commented on #594
This is already possible on the user's side - at work we do exactly this, and even change the icon depending on the state.

Closing as a support issue.

[2016-03-27 17:30] #594 closed

[2016-03-27 18:24] #1253 closed

[2016-03-27 19:00] getkub commented on #385
quite long before I posted, so actually forgot if its still relevant now  :)
But the advantages were, quite obvious because lot of times, the data was available externally. So great to have an example out-of-box with .json file external

[2016-03-27 20:06] vith commented on #382
Sure: http://plnkr.co/edit/KNGnFyMnwZsgrN8maIU0?p=preview

Seems to be mostly fixed except that <kbd>left arrow</kbd> now acts like backspace when you have fully selected the input text.

[2016-03-27 20:16] wesleycho commented on #607
Can you update the Plunker to the latest release?

[2016-03-27 20:17] wesleycho commented on #609
Closing as a support issue.

[2016-03-27 20:17] #609 closed

[2016-03-27 20:18] wesleycho commented on #612
Closing as a batarang issue (and duplicate of another closed issue).

[2016-03-27 20:18] #612 closed

[2016-03-27 20:18] wesleycho commented on #614
Closing as a support issue.

[2016-03-27 20:18] #614 closed

[2016-03-27 20:19] wesleycho commented on #618
The suggested solution is the best approach to modifying the model.

Closing this as a support issue.

[2016-03-27 20:19] #618 closed

[2016-03-27 20:19] user378230 commented on #1522
From #1525

---
From editing the plunkr it looks like using `ng-attr-id` would fix it, don't know if that would break anything else, though I doubt it would.

[2016-03-27 20:21] user378230 commented on #1525
Quoted in #1522 so going to close this.

[2016-03-27 20:21] #1525 closed

[2016-03-27 20:23] wesleycho commented on #622
Can you update the Plunker to be based off of the latest release?

[2016-03-27 20:25] wesleycho commented on #630
Going to close this as a user issue - custom CSS should be enough to address issues here.

[2016-03-27 20:25] #630 closed

[2016-03-27 20:26] wesleycho commented on #637
Going to close due to lack of reproduction - feel free to open a new issue with detailed reproduction in Plunker based on the latest release.

[2016-03-27 20:26] #637 closed

[2016-03-27 20:29] wesleycho commented on #656
Going to close this as a duplicate of #1200, as that issue seems a little more detailed.

[2016-03-27 20:29] #656 closed

[2016-03-27 20:30] wesleycho commented on #661
Closing this as a support issue.

[2016-03-27 20:30] #661 closed

[2016-03-27 20:33] wesleycho commented on #677
Demonstration using the `refresh` attribute: http://plnkr.co/edit/YCdcjzYGeHC1g5vGF9QX?p=preview

Closing as a support issue.

[2016-03-27 20:33] #677 closed

[2016-03-27 20:36] wesleycho commented on #679
This seems like a nice to have, which is generally not a great idea in a library. The reason is because a lot of users won't want such a feature, which then results in feature bloat in a library, and more code that each consumer has to load.

Closing this as a won't implement.

[2016-03-27 20:36] #679 closed

[2016-03-27 20:38] wesleycho commented on #696
Closing this due to lack of Plunker - feel free to open a new issue with reproduction in Plunker based off of the latest release.

[2016-03-27 20:38] #696 closed

[2016-03-27 20:38] wesleycho commented on #698
Closing as a Batarang issue.

[2016-03-27 20:38] #698 closed

[2016-03-27 20:40] wesleycho commented on #701
@nicklasb's comment is correct - this is actually a duplicate issue, although I don't remember which issue it is also present in.

[2016-03-27 20:41] wesleycho commented on #708
Closing as fixed.

[2016-03-27 20:41] #708 closed

[2016-03-27 20:41] wesleycho commented on #709
Closing this as a duplicate of a couple of issues.

[2016-03-27 20:41] #709 closed

[2016-03-27 20:42] wesleycho commented on #710
Closing due to lack of details/reproduction/clear english.

[2016-03-27 20:42] #710 closed

[2016-03-27 20:44] wesleycho commented on #714
Closing as this appears to not be a library problem.

[2016-03-27 20:44] #714 closed

[2016-03-27 20:45] wesleycho commented on #719
Closing as already addressed in the library by #1212

[2016-03-27 20:45] #719 closed

[2016-03-27 20:46] wesleycho commented on #722
Can you reproduce this in a Plunker based on the latest release?

[2016-03-27 20:47] wesleycho commented on #724
This is unfortunately impossible to do in all browsers, so closing this due to the limitations of the environment.

[2016-03-27 20:47] #724 closed

[2016-03-27 20:48] wesleycho commented on #729
Closing as a support issue.

[2016-03-27 20:48] #729 closed

[2016-03-27 20:48] wesleycho commented on #750
Closing as addressed.

[2016-03-27 20:48] #750 closed

[2016-03-27 20:50] wesleycho commented on #753
Closing as likely in the wrong repository - UI Select has no sortable support.

[2016-03-27 20:51] wesleycho commented on #755
Closing this as a duplicate.

[2016-03-27 20:51] #755 closed

[2016-03-27 20:52] wesleycho commented on #756
Sounds like a legitimate issue: https://github.com/angular-ui/ui-select/blob/03293ff5cf2a9b1bd7bb15c565b7fda16701cd27/src/uiSelectMultipleDirective.js#L385-L390

PRs welcome.

[2016-03-27 20:53] wesleycho commented on #760
Closing as a usage issue - one can always have a model separation layer that abstracts out desired behavior and intermediary model management.

[2016-03-27 20:53] #760 closed

[2016-03-27 20:54] wesleycho commented on #764
Closing due to lack of reproduction. Feel free to open a new issue with reproduction based on the latest release if it is still an issue.

[2016-03-27 20:54] #764 closed

[2016-03-27 20:54] wesleycho commented on #766
Closing as per comments.

[2016-03-27 20:54] #766 closed

[2016-03-27 20:55] wesleycho commented on #779
Closing as a duplicate of another issue

[2016-03-27 20:55] #779 closed

[2016-03-27 20:57] wesleycho commented on #780
This is best implemented on the user side using the refresh functionality.

Closing this as a usage issue.

[2016-03-27 20:57] #780 closed

[2016-03-27 20:58] wesleycho commented on #781
Closing as a duplicate of several ng-repeat errors.

[2016-03-27 20:58] #781 closed

[2016-03-27 21:00] wesleycho commented on #790
Closing as a duplicate.

[2016-03-27 21:00] #790 closed

[2016-03-27 21:01] wesleycho commented on #791
Closing as a user issue - one can easily add a higher z-index to the component's via CSS.

[2016-03-27 21:01] #791 closed

[2016-03-27 21:02] wesleycho commented on #793
Closing due to not enough actionable information - feel free to open a new issue with reproduction in Plunker based off of the latest release if it is still an issue.

[2016-03-27 21:02] #793 closed

[2016-03-27 21:05] wesleycho commented on #807
Going to close this issue as a duplicate - there is an open issue about event handling for various situations, not limited to just focus/blur.

[2016-03-27 21:05] #807 closed

[2016-03-27 21:05] wesleycho commented on #813
Closing due to lack of reproduction - feel free to open a new issue with reproduction in Plunker based on the latest release if this is still an issue.

[2016-03-27 21:05] #813 closed

[2016-03-27 21:06] wesleycho commented on #817
Closing as a support issue.

[2016-03-27 21:06] #817 closed

[2016-03-27 21:07] wesleycho commented on #818
This is also related to the broader discussion on event handlers with the library.

[2016-03-27 21:09] wesleycho commented on #819
Closing as a support issue.

[2016-03-27 21:09] #819 closed

[2016-03-27 21:11] wesleycho commented on #825
Can you create a Plunker with this reproduced?

[2016-03-27 21:29] wesleycho commented on #830
@ddctd143 feel free to open a PR

[2016-03-27 21:30] wesleycho commented on #831
Closing as a duplicate of #152

[2016-03-27 21:30] #831 closed

[2016-03-27 21:33] wesleycho commented on #835
It would be best to separate out the model - the selected object passed is just the one from the choices.

Closing as a usage issue.

[2016-03-27 21:33] #835 closed

[2016-03-27 21:34] wesleycho commented on #837
Closing as a usage issue.

It should be noted that this is an extremely bad practice, and you should stay away from this particular use of $parent at all costs.

[2016-03-27 21:34] #837 closed

[2016-03-27 21:35] wesleycho commented on #841
Can you update the Plunker with the latest UI Select?

[2016-03-27 21:36] wesleycho commented on #842
One can just use the provided event handlers.

Closing as a support issue.

[2016-03-27 21:36] #842 closed

[2016-03-27 21:38] wesleycho commented on #848
Closing this as fixed - feel free to open a new issue if it is still a problem.

[2016-03-27 21:38] #848 closed

[2016-03-27 21:40] wesleycho commented on #852
Closing as a support issue.

[2016-03-27 21:40] #852 closed

[2016-03-27 21:47] wesleycho commented on #864
Closing as a duplicate of #366.

[2016-03-27 21:47] #864 closed

[2016-03-27 21:48] wesleycho commented on #865
One can create a custom directive to handle programmatic focusing.

Closing as a support issue.

[2016-03-27 21:48] #865 closed

[2016-03-27 21:48] wesleycho commented on #870
I believe this is already fixed in `master` - feel free to open a new issue with reproduction if this is not the case.

[2016-03-27 21:48] #870 closed

[2016-03-27 21:51] wesleycho commented on #880
Please post a reproduction in Plunker.

[2016-03-27 21:54] wesleycho commented on #881
I'm a bit confused, is this an issue?

[2016-03-27 21:57] wesleycho commented on #884
Going to close this since there are some new maintainers involved - this library could use a lot of love, so any help people are able to lend in verifying whether something is an issue and creating Plunker reproductions for them (or rejections), would be very helpful to all I think.

Currently the maintainers are @user378230 and @aaronroberson , and I'm just currently going through all the issues/

[2016-03-27 21:57] #884 closed

[2016-03-27 21:59] wesleycho commented on #891
Can you create a reproduction via Plunker?

[2016-03-27 22:00] wesleycho commented on #892
Can you create a reproduction in Plunker based on the latest release?

[2016-03-27 22:02] homerjam commented on #753
@wesleycho I think this refers to this directive https://github.com/angular-ui/ui-select/blob/master/src/uiSelectSortDirective.js

[2016-03-27 22:05] wesleycho commented on #906
Can you update the Plunker with the latest release?

[2016-03-27 22:05] wesleycho commented on #911
Closing as a support issue.

[2016-03-27 22:05] #911 closed

[2016-03-27 22:08] wesleycho commented on #917
Looks like this is still an issue: http://plnkr.co/edit/lB1YIIzBdBUNXl7rRB4K?p=preview

[2016-03-27 22:10] wesleycho commented on #918
Going to close in favor of #1434.

[2016-03-27 22:10] #918 closed

[2016-03-27 22:12] wesleycho commented on #924
Closing as a usage issue.

[2016-03-27 22:12] #924 closed

[2016-03-27 22:13] wesleycho commented on #927
Closing as a duplicate

[2016-03-27 22:13] #927 closed

[2016-03-27 22:16] wesleycho commented on #931
Can you post a reproduction in Plunker?

[2016-03-27 22:17] wesleycho commented on #933
This is probably best added to the library itself - PRs welcome.

[2016-03-27 22:19] wesleycho commented on #934
The template could be overwritten and one could plug in a custom highlight filter.

Going to close as a use issue, feel free to open a new issue if this is not quite right with more details such as a Plunker and instructions as to how the behavior is not quite what is desired.

[2016-03-27 22:19] #934 closed

[2016-03-27 22:19] wesleycho commented on #935
Closing as support issue.

[2016-03-27 22:19] #935 closed

[2016-03-27 22:19] wesleycho commented on #937
Closing as a support issue.

[2016-03-27 22:19] #937 closed

[2016-03-27 22:24] wesleycho commented on #962
Closing as a duplicate issue.

[2016-03-27 22:24] #962 closed

[2016-03-27 22:27] wesleycho commented on #1108
Closing this issue - currently this project is being maintained by @user378230 and @aaronroberson , and I'm just going through and helping out with basic issue triaging/PR code reviews.

This library could use a lot of love though, so any high quality help is welcome, whether it is directly with helping create high quality features/bug fixes or creating up to date Plunkers and verifying or debunki

[2016-03-27 22:27] #1108 closed

[2016-03-27 22:28] wesleycho commented on #963
Closing as a duplicate of #382.

[2016-03-27 22:28] #963 closed

[2016-03-27 22:29] wesleycho commented on #967
Can you post a reproduction in Plunker so it is clearer what is meant?

[2016-03-27 22:34] wesleycho commented on #970
Closing this as a support issue

[2016-03-27 22:34] #970 closed

[2016-03-27 22:36] wesleycho commented on #975
Closing as a duplicate

[2016-03-27 22:36] #975 closed

[2016-03-27 22:39] wesleycho commented on #979
Demonstrating this working [here](http://plnkr.co/edit/ymRpgdjWiVjhYoRT1Ct7?p=preview) - this appears fixed if it was an issue prior.

[2016-03-27 22:39] #979 closed

[2016-03-27 22:40] wesleycho commented on #980
Closing due to lack of reproduction in Plunker - feel free to open a new issue with a Plunker if it is still a problem.

[2016-03-27 22:40] #980 closed

[2016-03-27 22:44] wesleycho commented on #987
This can be fixed with user CSS I believe - can you post a reproduction in Plunker?

[2016-03-27 22:45] wesleycho commented on #993
Closing as this appears fixed.

Any unrelated issues should be opened separately and not polluting other issue threads.

[2016-03-27 22:45] #993 closed

[2016-03-27 22:45] wesleycho commented on #992
Closing this as a usage issue.

[2016-03-27 22:45] #992 closed

[2016-03-27 22:47] wesleycho commented on #1000
#170 is too old, just closed it.

[2016-03-27 22:48] wesleycho commented on #1005
Can you post a reproduction in Plunker?

[2016-03-27 22:53] wesleycho commented on #1006
Updated Plunker [here](http://plnkr.co/edit/gTwuSmKRyEyTRDplAoHn?p=preview)

[2016-03-27 22:55] wesleycho commented on #1018
Updated Plunker [here](http://plnkr.co/edit/0pbPdGILMplr1U4FExkl?p=preview) - still looks like an issue.

[2016-03-27 22:56] wesleycho commented on #1020
Can you explain your use case? This sounds like a very bad idea for accessibility reasons.

[2016-03-27 23:00] wesleycho commented on #1031
This looks like it is still an issue, as seen [here](http://plnkr.co/edit/HzjmZTSDlaj4l7JD30nQ?p=preview).

There is one PR open, but it is in need of tests - if someone wants to add tests for it, it should be good to get in the library.

[2016-03-27 23:01] wesleycho commented on #1039
Can you post a reproduction in Plunker?

[2016-03-27 23:04] wesleycho commented on #1041
Closing due to lack of actionable information - feel free to open a new issue with appropriate reproduction and detailed information about the situation if this is still an issue.

[2016-03-27 23:04] #1041 closed

[2016-03-27 23:04] wesleycho commented on #1043
Closing as a support issue.

[2016-03-27 23:04] #1043 closed

[2016-03-27 23:07] wesleycho commented on #1055
Closing as a duplicate.

[2016-03-27 23:07] #1055 closed

[2016-03-27 23:14] wesleycho commented on #1056
This is a usage issue - see [here](http://plnkr.co/edit/PXpDeS0srLWjgkMw6wxE?p=preview).

Closing due to user error.

[2016-03-27 23:14] #1056 closed

[2016-03-27 23:14] wesleycho commented on #1062
Please post a reproduction in Plunker.

[2016-03-27 23:15] wesleycho commented on #1063
Going to close as a usage issue - this doesn't really have a great solution at the library level for requirements like this.

[2016-03-27 23:15] #1063 closed

[2016-03-27 23:18] wesleycho commented on #1071
This sounds like a poor direction to go on - this is probably an indication that something else might be missing, as adding config to override config can only spiral.

[2016-03-27 23:20] wesleycho commented on #1083
Can you post a Plunker of the problem?

[2016-03-27 23:21] wesleycho commented on #1087
Closing as duplicate of another issue - configuration to add input name support is a pre-existing feature request.

[2016-03-27 23:21] #1087 closed

[2016-03-27 23:21] wesleycho commented on #1092
One should probably look into implementing a filter on the user's side for this.

Going to close as something already doable.

[2016-03-27 23:21] #1092 closed

[2016-03-27 23:23] wesleycho commented on #1094
Going to close as this seems like a usage issue - feel free to open a new issue if this is not the case with appropriate reproduction.

[2016-03-27 23:23] #1094 closed

[2016-03-27 23:23] wesleycho commented on #1095
Can you post a Plunker with the current behavior?

[2016-03-27 23:24] wesleycho commented on #1100
Closing due to lack of reproduction in Plunker - feel free to open a new issue if this is still a problem with reproduction.

[2016-03-27 23:24] #1100 closed

[2016-03-27 23:24] wesleycho commented on #1103
Closing as usage issue.

[2016-03-27 23:24] #1103 closed

[2016-03-27 23:27] wesleycho commented on #1104
Can you post a reproduction with Plunker that can help and add more detail?

[2016-03-27 23:28] wesleycho commented on #891
Closing in favor of #1116

[2016-03-27 23:28] #891 closed

[2016-03-27 23:29] wesleycho commented on #1122
Closing as a support issue.

[2016-03-27 23:29] #1122 closed

[2016-03-27 23:29] wesleycho commented on #1124
PRs welcome

[2016-03-27 23:31] wesleycho commented on #1126
Closing this as a usage issue.

[2016-03-27 23:31] #1126 closed

[2016-03-27 23:32] wesleycho commented on #1128
Post a reproduction if it is still an issue - the main fix already made it in `master` that I've seen.

[2016-03-27 23:37] wesleycho commented on #1145
This needs a reproduction via Plunker.

[2016-03-27 23:37] wesleycho commented on #1148
Closing as the current maintainers are publishing to npm.

[2016-03-27 23:37] #1148 closed

[2016-03-27 23:38] wesleycho commented on #1158
Could you post a reproduction in Plunker?

[2016-03-27 23:39] wesleycho commented on #1161
Closing as a support issue.

[2016-03-27 23:39] #1161 closed

[2016-03-27 23:40] wesleycho commented on #1165
Can you post a reproduction in Plunker?

[2016-03-27 23:40] wesleycho commented on #1167
Closing as a duplicate

[2016-03-27 23:40] #1167 closed

[2016-03-27 23:46] wesleycho commented on #1171
It seems only the Bootstrap theme is broken currently, as seen [here](http://plnkr.co/edit/aVuIaBltlgutJZ1cDCvq?p=preview).

Going to close in favor of #1520.

[2016-03-27 23:46] #1171 closed

[2016-03-27 23:49] wesleycho commented on #1178
Going to close this as a duplicate of some issues.

[2016-03-27 23:49] #1178 closed

[2016-03-27 23:49] wesleycho commented on #1181
Please post a reproduction in Plunker.

[2016-03-27 23:53] wesleycho commented on #1198
Closing as a support issue.

[2016-03-27 23:53] #1198 closed

[2016-03-27 23:54] wesleycho commented on #1218
Closing as already fixed.

[2016-03-27 23:54] #1218 closed

[2016-03-28 01:03] user378230 commented on #1165
I think this is more of a usage issue than anything.

The on-select callback is specifically there to notify external parties of internal changes. I think what is trying to me achieved here is an external change notifying an external service via ui-select, which obviously isn't this library's intended purpose.

I propose that you instead look at refactoring your application. Maybe look at watching

[2016-03-28 01:03] #1165 closed

[2016-03-28 01:41] #1020 closed

[2016-03-28 01:42] jsgandalf commented on #1020
It was a customer user case.  Thanks for responding! I ended up modifying to my needs. Thanks again for checking in.

[2016-03-28 02:22] user378230 commented on #1018
For reference: https://github.com/angular-ui/ui-select/blob/4ee3d4e6062c9fa49274f0d5b4fef7343afe78b6/src/uiSelectDirective.js#L118

I guess $observe isn't fired if attribute isn't present in v1.3.5+

[2016-03-28 02:25] #1451 closed

[2016-03-28 03:07] wesleycho commented on #1204
Can you post a Plunker demonstrating this?

[2016-03-28 03:08] wesleycho commented on #1214
Can the Plunker be updated with the latest release?

[2016-03-28 03:11] wesleycho opened #1530 "Breaking up CSS to use less/sass to use color variables from libraries"
With libraries such as Bootstrap, the CSS can be overwritten in a consistent manner with the use of less/sass & setting variable values. It would be nice if the CSS in this library was broken up in a similar way so that any colors could get the benefits of the theming capability that less/sass provides to end users.

[2016-03-28 03:12] wesleycho commented on #1223
Closing as a duplicate issue.

[2016-03-28 03:12] #1223 closed

[2016-03-28 03:13] wesleycho commented on #1225
Can you post a Plunker reproducing this?

Commenters: Please avoid using +1, and use GitHub reactions - +1s only serve to pollute issues, preventing people from finding the important information needed to craft a fix/analyze a problem.

[2016-03-28 03:14] wesleycho commented on #1226
Closing as a duplicate issue - the library does not support ng-required, that is a construct built into the angular input, select, and textarea directives.

PRs to implement it probably are welcome though.

[2016-03-28 03:14] #1226 closed

[2016-03-28 03:16] wesleycho commented on #1230
That is a lot of tags...IMO, you should probably rethink the UI in that situation, that isn't a particularly great UX.

Can you post a reproduction of this issue in Plunker?

[2016-03-28 03:17] wesleycho commented on #1232
One should use a custom $parser with ngModel by creating a custom directive for this.

Closing as support.

[2016-03-28 03:17] #1232 closed

[2016-03-28 03:17] wesleycho commented on #1273
One should use a custom $parser with ngModel by creating a custom directive for this.

Closing as support.

[2016-03-28 03:17] #1273 closed

[2016-03-28 03:18] wesleycho commented on #1242
Closing as a duplicate as per comment

[2016-03-28 03:18] #1242 closed

[2016-03-28 03:19] wesleycho commented on #1250
Can you post a reproduction in Plunker?

[2016-03-28 03:24] wesleycho commented on #1254
Just noting that positioning is a hard problem - this may best be solved by trying to split out the position module from UI Bootstrap and then using it here, as this is for the most part a solved problem in UI Bootstrap, along with all of the robust placement support present in the Bootstrap 3 library itself, including auto positioning.

[2016-03-28 03:28] wesleycho commented on #1258
Closing as a support issue.

[2016-03-28 03:28] #1258 closed

[2016-03-28 03:28] wesleycho commented on #1259
Closing as a support issue.

[2016-03-28 03:28] #1259 closed

[2016-03-28 03:31] aaronroberson commented on #1108
Thank you so much for your help @wesleycho!

[2016-03-28 03:32] wesleycho commented on #1260
Closing this as a duplicate of #1007.

[2016-03-28 03:32] #1260 closed

[2016-03-28 03:32] wesleycho commented on #1264
Closing as a resolved support issue.

[2016-03-28 03:32] #1264 closed

[2016-03-28 03:35] wesleycho commented on #1267
Can you post a Plunker reproducing this?

[2016-03-28 03:36] wesleycho commented on #1268
I believe both of these are reported in other issues, so closing in favor of those.

[2016-03-28 03:36] #1268 closed

[2016-03-28 03:37] wesleycho commented on #1272
Can you post a reproduction in Plunker?

[2016-03-28 03:39] wesleycho commented on #1280
One could probably accomplish this using the refresh expression or something similar.

There is not enough information to determine whether it is a library issue, and it seems strongly like a support issue, so closing as per policy in CONTRIBUTING.md

[2016-03-28 03:39] #1280 closed

[2016-03-28 03:40] wesleycho commented on #1289
Closing as a support issue.

[2016-03-28 03:40] #1289 closed

[2016-03-28 03:40] wesleycho commented on #1290
Can you post a reproduction in Plunker?

[2016-03-28 03:42] wesleycho commented on #1302
Having the input be displayed when disabled actually results in text display bugs involving CSS - is there a compelling reason why it must be shown?

[2016-03-28 03:42] wesleycho commented on #1303
Closing as a duplicate.

[2016-03-28 03:42] #1303 closed

[2016-03-28 03:43] wesleycho commented on #1304
Can you open a PR with this change?

[2016-03-28 03:48] wesleycho commented on #1311
One should be able to do this via CSS.

Closing as a support issue.

[2016-03-28 03:48] #1311 closed

[2016-03-28 04:20] martynchamberlin commented on #1225
Sorry. GitHub Reactions came out literally a couple days after my comment, and long before the other +1s. But we'll definitely remember to use those going forward!

[2016-03-28 04:44] wesleycho commented on #1312
Can you post a reproduction in Plunker?

[2016-03-28 04:47] wesleycho commented on #1314
I would also recommend looking to UI Bootstrap's position service - it has solved most position issues. We would like to open source it as a separate module, perhaps even make it jqLite agnostic so that users can use it as a pure JS positioning service, as well as allow usage with ng2. Until then, it may be worth copying the implementation there to fix this.

[2016-03-28 04:50] wesleycho commented on #1317
IMO this is the right behavior, as janky as this seems. The focus should absolutely return for accessibility reasons.

In addition, if you click another dropdown further down the page when another one is open, it seems to behave correctly with not going back to the first one.

Going to close this as expected behavior.

[2016-03-28 04:50] #1317 closed

[2016-03-28 04:51] wesleycho commented on #1318
I think this is the correct behavior, although I can see reasons why one might want to override this. Perhaps a configuration option would be a good thing in this case.

[2016-03-28 04:55] wesleycho commented on #1322
Swiping on the ui select component shouldn't do anything - if it is open, then it should just scroll through the dropdown if there are too many entries.

Event normalization is a difficult problem though. Better off using a library like hammer.js or fastclick IMO for this.

[2016-03-28 04:58] wesleycho commented on #1328
Can you post a reproduction via Plunker just for assistance with debugging for anyone who wants to look at this closer?

This does sound like an issue though.

[2016-03-28 04:58] wesleycho commented on #1330
Closing due to lack of reproduction

[2016-03-28 04:58] #1330 closed

[2016-03-28 05:01] wesleycho commented on #1345
Closing due to lack of reproduction - feel free to open a new issue with reproduction in Plunker, although I believe this is a support issue.

[2016-03-28 05:01] #1345 closed

[2016-03-28 05:05] wesleycho commented on #1349
This is something best implemented in CSS - maybe worth adding CSS in the library itself with sensible defaults.

[2016-03-28 05:07] wesleycho commented on #1515
Hmm, so is the solution to also check the global state?

[2016-03-28 05:09] wesleycho commented on #1352
One can just write a custom directive to do this.

Going to close as a support issue.

[2016-03-28 05:09] #1352 closed

[2016-03-28 05:12] wesleycho commented on #1353
Closing as a usage issue. This is a question better suited for a place like StackOverflow.

[2016-03-28 05:12] #1353 closed

[2016-03-28 05:13] wesleycho commented on #1355
Closing as a duplicate of #224

[2016-03-28 05:13] #1355 closed

[2016-03-28 05:14] wesleycho commented on #1361
The `sizeSearchInput` method could use a heavy dose of optimization - the code is extremely fishy.

[2016-03-28 05:16] wesleycho commented on #1367
Closing as a usage issue.

This is possible by making use of the refresh functionality and unshifting an item into the array.

[2016-03-28 05:16] #1367 closed

[2016-03-28 05:16] wesleycho commented on #1368
Can you post a reproduction via Plunker?

[2016-03-28 05:20] wesleycho commented on #1380
Closing as a duplicate issue.

[2016-03-28 05:20] #1380 closed

[2016-03-28 05:20] wesleycho commented on #1381
Can you post a reproduction in Plunker and give more details? This is confusing as written.

[2016-03-28 05:27] wesleycho commented on #1395
Filtering in the refresh method execution gives the user the most power for filtering choices. Any filter applied in the template here likely creates a loss of information, since one is in a child $scope.

I'm not sure if there is a good solution here excepting what was recommended.

[2016-03-28 05:32] wesleycho commented on #1419
Can you post a reproduction via Plunker?

[2016-03-28 05:33] wesleycho commented on #1421
Closing as a support issue.

[2016-03-28 05:33] #1421 closed

[2016-03-28 05:33] wesleycho commented on #1426
Closing as a support issue.

[2016-03-28 05:33] #1426 closed

[2016-03-28 05:33] wesleycho commented on #1427
Closing as a support issue.

[2016-03-28 05:33] #1427 closed

[2016-03-28 05:35] wesleycho commented on #1432
Closing as a duplicate.

[2016-03-28 05:35] #1432 closed

[2016-03-28 05:36] wesleycho commented on #1435
Can you post a reproduction in Plunker?

[2016-03-28 05:38] wesleycho commented on #1436
This seems like a duplicate #1201, and some of the ngAnimate issues with the library.

[2016-03-28 05:39] wesleycho commented on #1437
Closing as a support issue.

It should be noted, after the user selects an element from the dropdown, ui select should have focus for accessibility reasons.

[2016-03-28 05:39] #1437 closed

[2016-03-28 05:46] wesleycho commented on #1453
If you have a good fix for this, you're probably in the best position to fix this, as not many people have access to Windows Phone.

[2016-03-28 05:47] wesleycho commented on #1457
Closing as a support issue - please do not open an issue unless you have definitive evidence that something is lacking in the library itself.

[2016-03-28 05:47] #1457 closed

[2016-03-28 05:47] wesleycho commented on #1459
This appears to be broken - this is a duplicate issue.

[2016-03-28 05:52] wesleycho opened #1531 "Allow instance overriding of templates"
Sometimes users want specific behavior through overriding a template, but overriding a template globally is not ideal sometimes. ui select should probably support an attribute like `template-url` that allows one to override the templateUrl used to fetch the template.

[2016-03-28 05:53] wesleycho commented on #1466
Going to close in favor of the newly opened #1531 - that issue suggests a solution for this use case that would work well.

[2016-03-28 05:53] #1466 closed

[2016-03-28 05:56] wesleycho commented on #1478
You can use it wherever you have access to a $scope that is a child of ui select. One can write a custom directive and listen for this event in a child.

Closing as a usage issue.

[2016-03-28 05:56] #1478 closed

[2016-03-28 06:01] wesleycho commented on #1511
Can you post a reproduction in Plunker?

[2016-03-28 06:02] wesleycho commented on #1501
This is probably desired for accessibility reasons - it should be noted that clicking on other ui select elements and such does not cause this jumping behavior.

[2016-03-28 06:03] wesleycho commented on #1499
This sounds like it might be a duplicate of the double compile problem.

[2016-03-28 06:07] wesleycho commented on #1496
This does seem missing - not sure what happened to it - @aaronroberson any idea why it's not appear in the history in `master`?

[2016-03-28 07:04] benag commented on #1104
sorry i am not on this project any more..

[2016-03-28 07:42] fiznool commented on #1328
Here is a plunkr showing the issue.

http://plnkr.co/edit/XosVjr?p=preview

[2016-03-28 11:48] danpantry commented on #1302
Because otherwise the input box disappears completely and thus looks very strange - especially to the user. We've had questions about this from our end users, which is why I removed it

I'll try and throw together a plunkr tomorrow when I am back in the office.

[2016-03-28 11:57] user378230 commented on #1522
So the change works but annoyingly the test only works in isolation (`iit(...)`) and not when run as part of the entire suite. :angry:

[2016-03-28 12:13] user378230 commented on #1328
The suggested fix appears to work in plunkr, will also need a test though.

@fiznool can you put together a PR?